Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

checkpoint: crackerjack (quality: 67/100) - 2025-11-07 17:42:52
  README-AUDIT-RESULTS.md
  crackerjack/mcp/tools/README.md
  crackerjack/mcp/websocket/README.md
  crackerjack/services/monitoring/README.md
  crackerjack/services/quality/README.md
  docs/README.md
  docs/archive/README.md
  docs/archive/implementation-plans/ACB-AI-AGENT-INTEGRATION-DESIGN.md
  docs/archive/implementation-plans/ACB-EVENT-BRIDGE-DESIGN.md
  docs/archive/implementation-plans/ACB-MIGRATION-ABORT-CRITERIA.md
  docs/archive/implementation-plans/ACB-WORKFLOW-ARCHITECTURE.md
  docs/archive/implementation-plans/ACB-WORKFLOW-INTEGRATION.md
  docs/archive/implementation-plans/ACB-WORKFLOW-MIGRATION-PLAN.md
  docs/archive/implementation-plans/PHASES-5-6-7-SUMMARY.md
  docs/archive/implementation-plans/PUBLISH-WORKFLOW-ORDERING-FIX.md
  docs/archive/implementation-plans/TEST-PARALLELIZATION-IMPLEMENTATION-SUMMARY.md
  docs/archive/implementation-plans/TEST-PARALLELIZATION-REVIEW.md
  docs/archive/implementation-plans/TEST-PARALLELIZATION-STRATEGIES.md
  docs/archive/phase-completions/ACB-WORKFLOW-PHASE2-COMPLETE.md
  docs/archive/phase-completions/ACB-WORKFLOW-PHASE2-DEPENDENCY-MAP.md
  docs/archive/phase-completions/ACB-WORKFLOW-PHASE2-PLAN.md
  docs/archive/phase-completions/ACB-WORKFLOW-PHASE2-PROGRESS.md
  docs/archive/phase-completions/ACB-WORKFLOW-PHASE3-COMPLETE.md
  docs/archive/phase-completions/ACB-WORKFLOW-PHASE4.0-COMPLETE.md
  docs/archive/phase-completions/ACB-WORKFLOW-PHASE4.1-COMPLETE.md
  docs/archive/phase-completions/PHASE-4.2-COMPLETION.md
  docs/archive/phase-completions/PHASE-6-COMPLETION-SUMMARY.md
  docs/archive/phase-completions/PHASE-6-IMPLEMENTATION-PLAN.md
  docs/archive/phase-completions/PHASE-6-PERFORMANCE-OPTIMIZATION.md
  docs/archive/phase-completions/PHASE-7-EVENT-BUS-INTEGRATION.md
  docs/archive/phase-completions/PHASE-7.2-COMPLETION-SUMMARY.md
  docs/archive/phase-completions/PHASE-7.3-COMPLETION-SUMMARY.md
Due: none

checkpoint: crackerjack (quality: 67/100) - 2025-11-07 18:04:40
  README-AUDIT-RESULTS.md
  crackerjack/config/hooks.py
  crackerjack/mcp/tools/README.md
  crackerjack/services/monitoring/README.md
  crackerjack/services/quality/README.md
  docs/archive/README.md
  pyproject.toml
Due: validate-regex-patterns, pyright

Update core, deps, docs
  CHANGELOG.md
  README.md
  crackerjack/managers/hook_manager.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-07 21:24:32
  CHANGELOG.md
  README.md
  crackerjack/executors/hook_executor.py
  crackerjack/executors/individual_hook_executor.py
  crackerjack/executors/progress_hook_executor.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 64/100) - 2025-11-07 22:10:47
  CHANGELOG.md
Due: none

checkpoint: crackerjack (quality: 64/100) - 2025-11-07 22:33:22
  crackerjack/core/phase_coordinator.py
  crackerjack/managers/hook_manager.py
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/orchestration/strategies/adaptive_strategy.py
  crackerjack/workflows/container_builder.py
  docs/progress-bar-implementation.md
  docs/progress-indicator-analysis.md
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 66/100) - 2025-11-08 00:37:58
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/progress_hook_executor.py
  crackerjack/managers/hook_manager.py
  crackerjack/managers/test_executor.py
  crackerjack/orchestration/hook_orchestrator.py
  docs/progress-bar-implementation.md
  docs/progress-indicator-analysis.md
  settings/crackerjack.yaml
  tests/managers/test_test_executor_regex.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.42.5
  CHANGELOG.md
  IMPLEMENTATION_PLAN_ALL_FILES.md
  crackerjack/__main__.py
  crackerjack/cli/options.py
  crackerjack/core/phase_coordinator.py
  crackerjack/managers/test_command_builder.py
  crackerjack/managers/test_manager.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

Update documentation
  README.md
Due: none

Update core, docs
  CHANGELOG.md
  STRUCTURED_LOGGING.md
  crackerjack/__main__.py
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  crackerjack/core/workflow_orchestrator.py
  crackerjack/executors/hook_executor.py
  crackerjack/executors/lsp_aware_hook_executor.py
  crackerjack/executors/progress_hook_executor.py
  crackerjack/managers/hook_manager.py
  crackerjack/models/protocols.py
  crackerjack/orchestration/config.py
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/orchestration/strategies/adaptive_strategy.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.43.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.44.0
  pyproject.toml
Due: none

Update dependencies
  uv.lock
Due: none

chore: bump version to 0.44.1
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.44.2
  pyproject.toml
Due: none

Update core, deps
  crackerjack/adapters/format/mdformat.py
  crackerjack/adapters/format/ruff.py
  crackerjack/adapters/lsp/skylos.py
  crackerjack/adapters/refactor/refurb.py
  crackerjack/adapters/security/bandit.py
  crackerjack/adapters/type/zuban.py
  crackerjack/core/phase_coordinator.py
  crackerjack/managers/publish_manager.py
  crackerjack/services/version_checker.py
  crackerjack/utils/retry_utils.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.3
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps, docs, tests
  CHANGELOG.md
  IMPLEMENTATION_PLAN_ALL_FILES.md
  README.md
  STRUCTURED_LOGGING.md
  crackerjack/adapters/format/mdformat.py
  crackerjack/config/tool_commands.py
  crackerjack/tools/end_of_file_fixer.py
  crackerjack/tools/trailing_whitespace.py
  tests/config/test_tool_commands.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.4
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.44.5
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps, tests
  crackerjack/config/settings.py
  crackerjack/managers/hook_manager.py
  crackerjack/orchestration/config.py
  tests/orchestration/test_config.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.6
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 70/100) - 2025-11-09 09:27:02
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  crackerjack/tools/check_ast.py
  crackerjack/tools/check_json.py
  crackerjack/tools/check_jsonschema.py
  crackerjack/tools/format_json.py
  tests/test_async_hook_executor_parsing.py
  tests/test_async_hook_executor_process_tracking.py
  tests/test_check_ast.py
  tests/test_integration_new_hooks.py
  tests/test_json_hooks.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 62/100) - 2025-11-12 03:59:00
  crackerjack/adapters/complexity/complexipy.py
  crackerjack/adapters/format/ruff.py
  crackerjack/adapters/refactor/refurb.py
  crackerjack/adapters/sast/bandit.py
  crackerjack/adapters/sast/semgrep.py
  crackerjack/config/__init__.py
  crackerjack/config/tool_commands.py
  crackerjack/core/phase_coordinator.py
  crackerjack/core/workflow_orchestrator.py
  crackerjack/decorators/error_handling.py
  crackerjack/decorators/patterns.py
  crackerjack/executors/async_hook_executor.py
  crackerjack/executors/hook_executor.py
  crackerjack/executors/lsp_aware_hook_executor.py
  crackerjack/executors/progress_hook_executor.py
  crackerjack/managers/async_hook_manager.py
  crackerjack/managers/hook_manager.py
  crackerjack/mcp/tools/utility_tools.py
  crackerjack/models/protocols.py
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/orchestration/strategies/adaptive_strategy.py
  crackerjack/orchestration/strategies/sequential_strategy.py
  crackerjack/services/git.py
  crackerjack/services/monitoring/performance_benchmarks.py
  crackerjack/services/parallel_executor.py
  crackerjack/tools/check_jsonschema.py
  crackerjack/tools/format_json.py
  crackerjack/utils/retry_utils.py
  docs/reporting_tools_investigation.md
  scripts/integrate_resource_management.py
  test_actual_semgrep.py
  test_async_semgrep.py
  test_semgrep_parsing.py
  test_semgrep_parsing_after_refactor.py
  test_updated_semgrep.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.7
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.44.8
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add comprehensive test improvement plan
  TEST_IMPROVEMENT_PLAN.md
Due: none

test: implement Phase 1 test improvements
  tests/test_documentation_agent (1).py
  tests/test_performance_agent (1).py
  tests/test_phase_coordinator.py
  tests/test_timeout_manager.py
  tests/unit/services/test_git.py
  tests/unit/services/test_secure_subprocess.py
  tests/unit/services/test_security.py
Due: validate-regex-patterns

test: add Phase 2 core service tests (filesystem and cache)
  tests/unit/services/test_cache.py
  tests/unit/services/test_filesystem.py
Due: validate-regex-patterns

test: implement Phase 3 agent system tests (base and coordinator)
  tests/unit/agents/test_base.py
  tests/unit/agents/test_coordinator.py
Due: validate-regex-patterns

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
