Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

feat(ai-fix): add env-var helpers for sandbox opt-in
  crackerjack/core/autofix_coordinator.py
  tests/unit/core/test_ai_fix_env_vars.py
Due: validate-regex-patterns, pyright

test(ai-fix): add worktree-based e2e test for sandboxed fix path
  tests/integration/test_sandboxed_fix.py
Due: validate-regex-patterns

docs(specs): mark FixSandbox integration verification checklist complete
  docs/superpowers/specs/2026-07-08-fix-sandbox-integration-design.md
Due: none

fix(ai-fix): address final-review findings — fix-runner end-to-end + per-batch grouping + structured validation flag + timeout wiring
  crackerjack/agents/fixer_coordinator.py
  crackerjack/ai_fix/fix_runner.py
  crackerjack/ai_fix/fix_sandbox.py
  crackerjack/ai_fix/sandboxed_dispatcher.py
  crackerjack/core/autofix_coordinator.py
  tests/unit/agents/test_fixer_coordinator_sandbox.py
  tests/unit/ai_fix/test_fix_runner.py
  tests/unit/ai_fix/test_sandboxed_dispatcher.py
Due: validate-regex-patterns, pyright

fix(ai-fix): remove space in fixer_id return — module path was invalid
  crackerjack/ai_fix/sandboxed_dispatcher.py
Due: validate-regex-patterns, pyright

fix(ai-fix): look up fixer class per issue_type via FixerCoordinator.fixers
  crackerjack/agents/fixer_coordinator.py
  crackerjack/ai_fix/sandboxed_dispatcher.py
  tests/unit/ai_fix/test_sandboxed_dispatcher.py
Due: validate-regex-patterns, pyright

docs(specs): update verification checklist with session-discovered blockers
  docs/superpowers/specs/2026-07-08-fix-sandbox-integration-design.md
Due: none

fix(syntax): repair empty class/function bodies blocking module imports
  crackerjack/ai_fix/llm_codegen.py
  crackerjack/mahavishnu/workflows/progress.py
  tests/unit/smoke/test_syntax_smoke.py
Due: validate-regex-patterns, pyright

docs: update sandbox spec + capture refactoring_agent triage note
  docs/superpowers/specs/2026-07-08-fix-sandbox-integration-design.md
  docs/superpowers/triage/2026-07-10-refactoring-agent-ast-fallback.md
Due: none

docs(specs): W3 libcst_surgeon extract-method fallback fix design
  docs/superpowers/specs/2026-07-10-libcst-surgeon-extract-method-fallback-design.md
Due: none

docs(plans): W3 libcst_surgeon extract-method fallback implementation plan
  docs/superpowers/plans/2026-07-10-libcst-surgeon-extract-method-fallback.md
Due: none

docs(specs+plans): apply Option B contract expansion (pre-flight finding)
  docs/superpowers/plans/2026-07-10-libcst-surgeon-extract-method-fallback.md
  docs/superpowers/specs/2026-07-10-libcst-surgeon-extract-method-fallback-design.md
Due: none

test(refactoring): add 2 regression tests for libcst_surgeon extract-method fallback
  tests/unit/agents/test_refactoring_agent.py
Due: validate-regex-patterns

test(refactoring): fix test 1 fixture to actually reach bug surface
  tests/unit/agents/test_refactoring_agent.py
Due: validate-regex-patterns

test(refactoring): rewrite test 2 to actually exercise typed-exception path
  tests/unit/agents/test_refactoring_agent.py
Due: validate-regex-patterns

fix(ast-transform): capture helper return values + type the except clause
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
Due: validate-regex-patterns, pyright

docs(specs): correct acceptance criteria to 13/14 (test 14 deferred to Phase 4)
  docs/superpowers/specs/2026-07-10-libcst-surgeon-extract-method-fallback-design.md
Due: none

test(ast-transform): anchor post-dispatch None guard with regression test
  tests/unit/agents/test_refactoring_agent.py
Due: validate-regex-patterns

fix(workflows): unwatch: exit subscribe loop gracefully after grace period
  crackerjack/mahavishnu/workflows/progress.py
Due: validate-regex-patterns, pyright

fix(tests): write_file_content mock now performs disk write
  tests/unit/agents/test_refactoring_agent.py
Due: validate-regex-patterns

test(autofix): add regression tests for thrash defects #1 + #3
  tests/core/autofix_coordinator_aifix_thrash_test.py
Due: validate-regex-patterns

chore: remove out.py dead debug helper
  out.py
Due: validate-regex-patterns

refactor(workflows): use contextlib.suppress in watch loop
  crackerjack/mahavishnu/workflows/progress.py
Due: validate-regex-patterns, pyright

docs(specs): Defect #2 triage + design for ValidationCoordinator serialization
  docs/superpowers/specs/2026-07-10-validation-coordinator-serialization-design.md
  docs/superpowers/triage/2026-07-10-validation-coordinator-concurrency.md
Due: none

docs(plans): Defect #2 implementation plan for ValidationCoordinator serialization
  docs/superpowers/plans/2026-07-10-validation-coordinator-serialization.md
Due: none

fix(agents): serialize ValidationCoordinator.validate_fix_for_type_change
  crackerjack/agents/validation_coordinator.py
Due: validate-regex-patterns, pyright

test(agents): regression anchor for ValidationCoordinator concurrency (defect #2)
  tests/unit/agents/test_validation_coordinator_concurrency.py
Due: validate-regex-patterns

docs(superpowers): triage + spec for OutputValidator traceback details (cluster 1)
  docs/superpowers/specs/2026-07-10-output-validator-traceback-details-design.md
  docs/superpowers/triage/2026-07-10-output-validator-import-check.md
Due: none

feat(ai-fix): surface full traceback in OutputValidator.details
  crackerjack/ai_fix/output_validator.py
Due: validate-regex-patterns, pyright

test(ai-fix): regression anchor for OutputValidator traceback capture (cluster 1)
  tests/unit/ai_fix/test_output_validator.py
Due: validate-regex-patterns

feat(core,agents): wire traceback details into autofix regenerator prompt
  crackerjack/agents/fixer_coordinator.py
  crackerjack/ai_fix/fix_runner.py
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

test(core,agents): autofix propagates details; fixer regenerator includes traceback
  tests/unit/agents/test_fixer_coordinator.py
  tests/unit/ai_fix/test_fix_runner.py
  tests/unit/core/test_autofix_coordinator.py
Due: validate-regex-patterns

fix(ai-fix): drop unused PlanResult.error_details field
  crackerjack/ai_fix/fix_runner.py
  tests/unit/ai_fix/test_fix_runner.py
Due: validate-regex-patterns, pyright

fix(ai-fix): restore lazy lambda bindings in _instantiate_fixer
  crackerjack/ai_fix/fix_runner.py
  tests/unit/ai_fix/test_fix_runner.py
Due: validate-regex-patterns, pyright

fix(ai-fix): explicit type annotation on ValidationResult.details
  crackerjack/ai_fix/output_validator.py
Due: validate-regex-patterns, pyright

feat(workflow): promote coverage ratchet to a post-comprehensive phase
  crackerjack/core/phase_coordinator.py
  crackerjack/interactive.py
  crackerjack/managers/test_manager.py
  crackerjack/runtime/oneiric_workflow.py
Due: validate-regex-patterns, pyright

docs(superpowers): spec for AI-fix regen timeout env var (cluster 3)
  docs/superpowers/specs/2026-07-11-ai-fix-regen-timeout-design.md
Due: none

docs(superpowers): plan for AI-fix regen timeout config (cluster 3)
  docs/superpowers/plans/2026-07-11-ai-fix-regen-timeout.md
Due: none
