Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

feat(core): language_detector — adapter auto-detect
  crackerjack/core/language_detector.py
  tests/core/__init__.py
  tests/core/test_language_detector.py
Due: validate-regex-patterns, pyright

feat(adapters.python): PyprojectVersionSource — reads [project] version
  crackerjack/adapters/python/__init__.py
  crackerjack/adapters/python/version_source.py
  tests/adapters/python/__init__.py
  tests/adapters/python/test_version_source.py
Due: validate-regex-patterns, pyright

feat(adapters.python): hooks aggregator — exposes existing hooks as Hook tuple
  crackerjack/adapters/python/hooks.py
  tests/adapters/python/test_hooks.py
Due: validate-regex-patterns, pyright

feat(adapters.python): PythonAdapter + PythonLifecycle
  crackerjack/adapters/python/__init__.py
  crackerjack/adapters/python/lifecycle.py
  crackerjack/adapters/registry.py
  pyproject.toml
  tests/adapters/python/test_lifecycle.py
  tests/adapters/python/test_python_adapter.py
Due: validate-regex-patterns, pyright

docs(changelog): Phase 1 — LanguageAdapter foundation
  CHANGELOG.md
Due: none

docs(mcp): document 4-step tool registration pipeline
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/profiles.py
Due: validate-regex-patterns

docs(reviews): 11-agent multi-language extension spec review
  docs/superpowers/specs/reviews/2026-09-07-a11y.md
  docs/superpowers/specs/reviews/2026-09-07-api.md
  docs/superpowers/specs/reviews/2026-09-07-jinja.md
  docs/superpowers/specs/reviews/2026-09-07-kotlin.md
  docs/superpowers/specs/reviews/2026-09-07-mcp.md
  docs/superpowers/specs/reviews/2026-09-07-python.md
  docs/superpowers/specs/reviews/2026-09-07-simplification.md
  docs/superpowers/specs/reviews/2026-09-07-swift.md
  docs/superpowers/specs/reviews/2026-09-07-testing.md
  docs/superpowers/specs/reviews/2026-09-07-web.md
  docs/superpowers/specs/reviews/2026-09-07-writing.md
Due: none

docs(plan): Phase 2 — Swift lifecycle + hooks + MCP tools
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase2.md
Due: none

docs(plan): Phase 2 — Swift adapter Rev 2 (post-multi-agent review)
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase2.md
Due: none

feat(adapters): register Swift entry-point under crackerjack.language_adapters
  pyproject.toml
Due: none

feat(adapters.swift): Package.swift platforms directive parser
  crackerjack/adapters/swift/__init__.py
  crackerjack/adapters/swift/platforms.py
  tests/adapters/swift/__init__.py
  tests/adapters/swift/_git_helpers.py
  tests/adapters/swift/test_platforms.py
Due: validate-regex-patterns, pyright

feat(adapters.swift): GitTagVersionSource reads version from git tags
  crackerjack/adapters/swift/version_source.py
  tests/adapters/swift/test_version_source.py
Due: validate-regex-patterns, pyright

feat(adapters.swift): SwiftHooks aggregator
  crackerjack/adapters/swift/hooks.py
  tests/adapters/swift/test_hooks.py
Due: validate-regex-patterns, pyright

feat(adapters.swift): SwiftLifecycle with constructor-injected methods
  crackerjack/adapters/swift/git_backend.py
  crackerjack/adapters/swift/lifecycle.py
  tests/adapters/swift/test_lifecycle.py
Due: validate-regex-patterns, pyright

feat(adapters.swift): SwiftAdapter wires VersionSource + hooks
  crackerjack/adapters/swift/__init__.py
  tests/adapters/swift/test_swift_adapter.py
Due: validate-regex-patterns, pyright

feat(mcp): language_tools group — Swift lifecycle + hooks + detect
  crackerjack/mcp/tools/language_tools.py
  crackerjack/mcp/tools/profiles.py
  tests/mcp/tools/__init__.py
  tests/mcp/tools/test_language_tools.py
Due: validate-regex-patterns

fix(swift+registry): Phase 2 Task 7 review fixes
  crackerjack/adapters/registry.py
  crackerjack/adapters/swift/git_backend.py
  tests/adapters/swift/test_git_backend.py
  tests/adapters/test_registry.py
Due: validate-regex-patterns, pyright

docs(changelog): Phase 2 — Swift adapter + real SwiftPM fixture
  CHANGELOG.md
  tests/fixtures/swift-lib/Package.swift
  tests/fixtures/swift-lib/Sources/SwiftLib/SwiftLib.swift
Due: none

fix(phase2): final-review cleanups (dead code, fake-green test, CHANGELOG registry fix note)
  CHANGELOG.md
  crackerjack/adapters/swift/__init__.py
  crackerjack/adapters/swift/hooks.py
  crackerjack/adapters/swift/lifecycle.py
  crackerjack/mcp/tools/language_tools.py
  tests/mcp/tools/test_language_tools.py
Due: validate-regex-patterns, pyright

fix(phase2): restore swift_hooks() Package.swift validation (CF-4 regression)
  crackerjack/adapters/swift/hooks.py
  tests/adapters/swift/test_lifecycle.py
Due: validate-regex-patterns, pyright

docs(plans): Phase 3 Kotlin/Gradle adapter plan (Rev 2, post-8-lens review)
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase3.md
Due: none

docs(plans): Phase 3 — 8-lens multi-agent review findings
  docs/superpowers/plans/reviews/2026-09-07-phase3-a11y.md
  docs/superpowers/plans/reviews/2026-09-07-phase3-api.md
  docs/superpowers/plans/reviews/2026-09-07-phase3-kotlin.md
  docs/superpowers/plans/reviews/2026-09-07-phase3-mcp.md
  docs/superpowers/plans/reviews/2026-09-07-phase3-security.md
  docs/superpowers/plans/reviews/2026-09-07-phase3-simplification.md
  docs/superpowers/plans/reviews/2026-09-07-phase3-testing.md
  docs/superpowers/plans/reviews/2026-09-07-phase3-writing.md
Due: none

feat(adapters): register Kotlin entry-point under crackerjack.language_adapters
  pyproject.toml
Due: none

feat(adapters.kotlin): GradlePropertiesVersionSource reads from gradle.properties
  crackerjack/adapters/kotlin/__init__.py
  crackerjack/adapters/kotlin/version_source.py
  tests/adapters/kotlin/__init__.py
  tests/adapters/kotlin/test_version_source.py
Due: validate-regex-patterns, pyright

fix(phase3): Task 2 trailing newlines + drop dead gradle_properties_version_source factory
  crackerjack/adapters/kotlin/version_source.py
  tests/adapters/kotlin/test_version_source.py
Due: validate-regex-patterns, pyright

feat(adapters.kotlin): KotlinHooks with GradleTaskProbe
  crackerjack/adapters/kotlin/hooks.py
  tests/adapters/kotlin/test_hooks.py
Due: validate-regex-patterns, pyright

feat(adapters.kotlin): default git/gh subprocess backend (mirror Swift)
  crackerjack/adapters/kotlin/git_backend.py
  tests/adapters/kotlin/_gradle_helpers.py
  tests/adapters/kotlin/test_git_backend.py
Due: validate-regex-patterns, pyright

fix(phase3): Task 4 trailing newlines + widen gh_release return to str | None (Rev 2 Ruling 11)
  crackerjack/adapters/kotlin/git_backend.py
  tests/adapters/kotlin/_gradle_helpers.py
  tests/adapters/kotlin/test_git_backend.py
Due: validate-regex-patterns, pyright

feat(adapters.kotlin): KotlinLifecycle with real-semver bump and gradle.properties write
  crackerjack/adapters/kotlin/lifecycle.py
  crackerjack/adapters/kotlin/version_source.py
  tests/adapters/kotlin/test_lifecycle.py
Due: validate-regex-patterns, pyright

fix(phase3): Task 5 trailing newlines
  crackerjack/adapters/kotlin/lifecycle.py
  tests/adapters/kotlin/test_lifecycle.py
Due: validate-regex-patterns, pyright

feat(adapters.kotlin): KotlinAdapter wires VersionSource + hooks
  crackerjack/adapters/kotlin/__init__.py
  crackerjack/adapters/kotlin/hooks.py
  tests/adapters/kotlin/test_kotlin_adapter.py
Due: validate-regex-patterns, pyright

fix(phase3): Task 6 trailing newlines
  crackerjack/adapters/kotlin/__init__.py
  tests/adapters/kotlin/test_kotlin_adapter.py
Due: validate-regex-patterns, pyright

feat(mcp): kotlin_bump_version + kotlin_list_hooks + Phase 2 carry-over auth fixes
  crackerjack/mcp/tools/language_tools.py
  tests/mcp/tools/test_language_tools.py
Due: validate-regex-patterns

fix(phase3): Task 7 trailing newlines
  crackerjack/mcp/tools/language_tools.py
  tests/mcp/tools/test_language_tools.py
Due: validate-regex-patterns

docs(changelog): Phase 3 — Kotlin/Gradle adapter + real Gradle fixture
  CHANGELOG.md
  tests/fixtures/gradle-vanilla/build.gradle.kts
  tests/fixtures/gradle-vanilla/gradle.properties
  tests/fixtures/gradle-vanilla/settings.gradle.kts
  tests/fixtures/gradle-vanilla/src/main/kotlin/Hello.kt
Due: none

test(phase3): add fixture-reference test for gradle-vanilla (final-review Important)
  tests/adapters/kotlin/test_gradle_vanilla_fixture.py
Due: validate-regex-patterns

docs(plans): Phase 2 — 8-lens multi-agent review findings
  docs/superpowers/plans/reviews/2026-09-07-phase2-a11y.md
  docs/superpowers/plans/reviews/2026-09-07-phase2-api.md
  docs/superpowers/plans/reviews/2026-09-07-phase2-mcp.md
  docs/superpowers/plans/reviews/2026-09-07-phase2-security.md
  docs/superpowers/plans/reviews/2026-09-07-phase2-simplification.md
  docs/superpowers/plans/reviews/2026-09-07-phase2-swift.md
  docs/superpowers/plans/reviews/2026-09-07-phase2-testing.md
  docs/superpowers/plans/reviews/2026-09-07-phase2-writing.md
Due: none

docs(plans): Phase 4 Web (CSS/HTML/JS/TS) adapter plan
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase4.md
Due: none

docs(plans): Phase 4 plan Rev 2 + 8-lens review files
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase4.md
  docs/superpowers/plans/reviews/2026-09-07-phase4-a11y.md
  docs/superpowers/plans/reviews/2026-09-07-phase4-api.md
  docs/superpowers/plans/reviews/2026-09-07-phase4-mcp.md
  docs/superpowers/plans/reviews/2026-09-07-phase4-security.md
  docs/superpowers/plans/reviews/2026-09-07-phase4-simplification.md
  docs/superpowers/plans/reviews/2026-09-07-phase4-testing.md
  docs/superpowers/plans/reviews/2026-09-07-phase4-web.md
  docs/superpowers/plans/reviews/2026-09-07-phase4-writing.md
Due: none

docs(plans): Phase 4 Rev 2 integration / spec fidelity / cross-adapter lens review
  docs/superpowers/plans/reviews/2026-09-07-phase4-integration.md
Due: none

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
