Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

feat: integrate TLS/WSS support and Prometheus metrics into Crackerjack WebSocket server
  crackerjack/websocket/server.py
Due: validate-regex-patterns, pyright

Update core, deps, docs, tests
  GIT_METRICS_COLLECTOR_PLAN.md
  crackerjack/adapters/ai/base.py
  crackerjack/adapters/refactor/skylos.py
  crackerjack/agents/coordinator.py
  crackerjack/agents/helpers/refactoring/code_transformer.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/agents/type_error_specialist.py
  crackerjack/config/settings.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/executors/hook_executor.py
  crackerjack/intelligence/agent_orchestrator.py
  crackerjack/memory/__init__.py
  crackerjack/memory/fallback_embedder.py
  crackerjack/memory/fix_strategy_schema.sql
  crackerjack/memory/fix_strategy_storage.py
  crackerjack/memory/git_metrics_collector.py
  crackerjack/memory/issue_embedder.py
  crackerjack/services/file_chunker.py
  crackerjack/services/vector_store.py
  docs/prompts/symbiotic-ecosystem-integration.md
  tests/test_fix_strategy_memory.py
  uv.lock
Due: validate-regex-patterns, pyright

Update core, docs, tests
  crackerjack/mcp/tools/git_metrics_tools.py
  crackerjack/memory/__init__.py
  docs/implementation-status.md
  docs/task-breakdown.md
  test_git_metrics_demo.py
Due: validate-regex-patterns, pyright

Update core functionality
  crackerjack/memory/git_metrics_collector.py
Due: validate-regex-patterns, pyright

docs: complete Symbiotic Ecosystem Integration documentation and fix skills effectiveness tracking
  GIT_METRICS_COLLECTOR_SUMMARY.md
  crackerjack/integration/skills_effectiveness_tracking.py
  docs/features/SYMBIOTIC_ECOSYSTEM_INTEGRATION.md
  tests/integration/test_skills_effectiveness_tracking.py
Due: validate-regex-patterns, pyright

Update core, docs
  GIT_EMBEDDING_IMPLEMENTATION_PLAN.md
  SYMBIOTIC_COMPLETION_REPORT.md
  SYMBIOTIC_STATUS_REPORT.md
  TIMEOUT_LOCK_AUDIT_REPORT.md
  crackerjack/agents/base.py
  crackerjack/agents/coordinator.py
  crackerjack/agents/proactive_agent.py
  crackerjack/config/settings.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/executors/hook_executor.py
  crackerjack/integration/__init__.py
  crackerjack/integration/akosha_learning.py
  crackerjack/integration/dhruva_integration.py
  crackerjack/integration/mahavishnu_integration.py
  crackerjack/integration/mahavishnu_learning.py
  crackerjack/integration/oneiric_learning.py
  crackerjack/integration/skills_effectiveness_tracking.py
  crackerjack/intelligence/agent_orchestrator.py
  crackerjack/mahavishnu/__init__.py
  crackerjack/mahavishnu/mcp/__init__.py
  crackerjack/mahavishnu/mcp/tools/__init__.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py.backup
  crackerjack/mahavishnu/mcp/tools/git_analytics.py.bak
  crackerjack/managers/publish_manager.py
  crackerjack/memory/__init__.py
  crackerjack/memory/fix_strategy_storage.py
  crackerjack/memory/git_history_embedder.py
  crackerjack/memory/git_metrics_collector.py
  crackerjack/memory/git_metrics_storage.py
  crackerjack/memory/issue_embedder.py
  crackerjack/models/__init__.py
  crackerjack/models/git_analytics.py
  crackerjack/models/protocols.py
  docs/features/MAHAVISHNU_INTEGRATION.md
  docs/features/PHASE_3_LEARNING_QUICK_REFERENCE.md
  docs/features/SYMBIOTIC_ECOSYSTEM_INTEGRATION.md
  docs/symbiotic-ecosystem-quick-start.md
Due: validate-regex-patterns, pyright

Update core, docs, tests
  GIT_EMBEDDING_IMPLEMENTATION_COMPLETE.md
  GIT_EMBEDDING_SUMMARY.md
  GIT_SEMANTIC_SEARCH_DELIVERY.md
  PHASE4_SESSION_BUDDY_INTEGRATION_PLAN.md
  crackerjack/integration/__init__.py
  crackerjack/integration/akosha_integration.py
  crackerjack/integration/git_metrics_integration.py
  crackerjack/integration/git_semantic_search.py
  crackerjack/integration/session_buddy_mcp.py
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/__init__.py
  crackerjack/mcp/tools/git_semantic_tools.py
  crackerjack/memory/__init__.py
  crackerjack/memory/fallback_embedder.py
  crackerjack/memory/issue_embedder.py
  crackerjack/models/__init__.py
  crackerjack/models/session_metrics.py
  crackerjack/services/__init__.py
  crackerjack/services/workflow_optimization.py
  docs/examples/git_semantic_search_examples.md
  docs/features/GIT_SEMANTIC_SEARCH_MCP_TOOLS.md
  docs/implementation/git_semantic_search_implementation.md
  test_git_embedding_demo.py
  tests/integration/test_git_semantic_search.py
Due: validate-regex-patterns, pyright

fix: prevent duplicate session-buddy import warnings
  crackerjack/integration/skills_tracking.py
Due: validate-regex-patterns, pyright

docs: update session-buddy dependency comment
  .oneiric_cache/runtime_telemetry.json
  .oneiric_cache/workflow_checkpoints.sqlite
  pyproject.toml
Due: none

feat: implement session-buddy skills tracking compatibility layer
  .oneiric_cache/runtime_telemetry.json
  .oneiric_cache/workflow_checkpoints.sqlite
  .session-buddy/skills.db/skills.db
  crackerjack/integration/session_buddy_skills_compat.py
  crackerjack/integration/skills_tracking.py
  pyproject.toml
Due: validate-regex-patterns, pyright

fix: move timeout warnings to debug level to prevent progress bar clutter
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/process_monitor.py
Due: validate-regex-patterns, pyright

fix: resolve AST errors, complexity issues, and security vulnerabilities
  commands/gitignore.py
  crackerjack/cli/handlers/docs_commands.py
  docs/index.md
Due: validate-regex-patterns, pyright

fix(ai-fix): correct event loop handling in V2 pipeline
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

fix(ai-fix): make V2 pipeline functions async for proper await
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

Update config, core, deps, docs
  .crackerjack.example.yaml
  .oneiric_cache/workflow_checkpoints.sqlite
  crackerjack/config/settings.py
  crackerjack/hooks/pool_based_hooks.py
  crackerjack/services/memory_aware_scanner.py
  crackerjack/services/pool_client.py
  crackerjack/services/pool_router.py
  crackerjack/services/pool_scaler.py
  docs/.backups/20260213-033707/backup.tar.gz
  docs/INTEGRAL_SCANNING_OPTIONS.md
  docs/MAHAVISHNU_POOL_INTEGRATION.md
  docs/MAHAVISHNU_POOL_QUICKSTART.md
  docs/QUALITY_SCANNING_STRATEGY.md
  docs/index.md
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.52.1
  CHANGELOG.md
  pyproject.toml
Due: none

chore: add .obsidian/ to gitignore
  .gitignore
Due: none

chore: session checkpoint 2026-02-13T16:52:36Z
  uv.lock
Due: none

fix: resolve circular imports and AI fix async issues
  crackerjack/agents/planning_agent.py
  crackerjack/cli/handlers/__init__.py
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.52.2
  pyproject.toml
Due: none

fix: bump version to 0.52.3 for packaging fixes
  pyproject.toml
Due: none

fix: correct import paths in tests and handlers
  tests/integration/test_ai_fix_workflow.py
Due: validate-regex-patterns

Update config, core, deps, tests
  .oneiric_cache/runtime_telemetry.json
  .oneiric_cache/workflow_checkpoints.sqlite
  crackerjack/cli/handlers/__init__.py.bak
  tests/agents/test_file_context_reader.py
  tests/unit/services/test_metrics.py
  uv.lock
Due: validate-regex-patterns

chore: bump version to 0.53.0
  pyproject.toml
Due: none

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
