Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

feat(ai-fix): Phase 4 — Mahavishnu pool dispatcher
  crackerjack/core/autofix_coordinator.py
  crackerjack/integration/mahavishnu_pool_dispatcher.py
  tests/unit/integration/__init__.py
  tests/unit/integration/test_mahavishnu_pool_dispatcher.py
Due: validate-regex-patterns, pyright

fix(ai-fix): resolve refurb findings in Phase 0-2 new code
  crackerjack/agents/parallel_dispatcher.py
  crackerjack/core/ai_fix_event_bus.py
  crackerjack/core/preflight.py
Due: validate-regex-patterns, pyright

feat(ai-fix): dynamic memory-guarded concurrency for both dispatchers
  crackerjack/agents/parallel_dispatcher.py
  crackerjack/integration/mahavishnu_pool_dispatcher.py
Due: validate-regex-patterns, pyright

fix(__main__): restore SIGPIPE handler for clean pipe exit
  crackerjack/__main__.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 77/100) - 2026-05-22 03:41:59
  crackerjack/adapters/ai/unified.py
  crackerjack/agents/dependency_agent.py
  crackerjack/agents/fixer_coordinator.py
  crackerjack/agents/helpers/ast_transform/patterns/decompose_conditional.py
  crackerjack/agents/helpers/ast_transform/patterns/extract_method.py
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/agents/import_optimization_agent.py
  crackerjack/agents/issue_clusterer.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/syntax_validator.py
  crackerjack/agents/validation_coordinator.py
  crackerjack/cli/handlers/docs_commands.py
  crackerjack/cli/mcp_cli.py
  crackerjack/config/hooks.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/hook_executor.py
  crackerjack/integration/dhara_integration.py
  crackerjack/integration/mahavishnu_pool_dispatcher.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/pycharm_tools.py
  crackerjack/models/fix_plan.py
  crackerjack/models/git_analytics.py
  crackerjack/models/validation_contracts.py
  crackerjack/services/ai_fix_progress.py
  crackerjack/services/config_parsers.py
  crackerjack/services/log_manager.py
  crackerjack/services/prompt_evolution.py
  crackerjack/services/pycharm_mcp_integration.py
  crackerjack/services/refurb_fixer.py
  crackerjack/services/secure_path_utils.py
  crackerjack/services/testing/coverage_manager.py
  crackerjack/websocket/auth.py
  crackerjack/websocket/server.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.59.0
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  pyproject.toml
  tests/unit/conftest.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.60.0
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.60.1
  crackerjack/agents/architect_agent.py
  crackerjack/agents/planning_agent.py
  crackerjack/parsers/regex_parsers.py
  crackerjack/services/logging.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.60.2
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.60.3
  crackerjack/services/secure_path_utils.py
  pyproject.toml
  tests/test_secure_path_utils.py
  uv.lock
Due: validate-regex-patterns, pyright

fix: correct fragment validation indentation and URL formatting
  crackerjack/agents/planning_agent.py
  crackerjack/integration/mahavishnu_pool_dispatcher.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.60.5
  crackerjack/agents/planning_agent.py
  crackerjack/agents/planning_agent.py.backup.json
  crackerjack/executors/hook_executor.py.backup.json
  crackerjack/parsers/json_parsers.py.backup.json
  crackerjack/utils/issue_detection.py
  pyproject.toml
  tests/unit/services/test_secure_status_formatter.py.backup.json
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.60.6
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  docs/plans/2025-02-12-multi-agent-ai-fix-quality-system.md
  docs/plans/2025-02-12-multi-agent-ai-fix-quality-system.md.backup.json
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 68/100) - 2026-05-30 06:49:03
  crackerjack/mcp/tools/otel_tools.py
  report.txt
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 69/100) - 2026-05-30 11:30:34
  crackerjack/core/autofix_coordinator.py
  crackerjack/services/refurb_fixer.py
  tests/core/autofix_coordinator_bugfix_test.py
  tests/unit/mcp/test_otel_tools_query_local_traces.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.60.7
  CHANGELOG.md
  crackerjack/services/refurb_fixer.py
  docs/plans/2025-02-12-multi-agent-ai-fix-quality-system.md.backup.json
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.61.0
  crackerjack/__main__.py
  crackerjack/core/ai_fix_events.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/services/ai_fix_progress.py
  docs/plans/2026-05-30-ai-fix-dashboard-wiring.md
  docs/plans/PLAN_INDEX.md
  pyproject.toml
  tests/integration/test_ai_fix_event_bus_dashboard.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.61.1
  docs/plans/2026-05-30-ai-fix-dashboard-wiring.md
  pyproject.toml
  tests/integration/test_ai_fix_event_bus_dashboard.py
  uv.lock
Due: validate-regex-patterns

fix(autofix): use try/except instead of hasattr for settings.fix_enabled
  crackerjack/agents/architect_agent.py
  crackerjack/agents/planning_agent.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/integration/dhara_integration.py
  crackerjack/services/ai_fix_progress.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(autofix): correct type: ignore code from union-attr to attr-defined
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.61.2
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.61.3
  crackerjack/services/ai_fix_progress.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

fix(crackerjack): nullify _async_connection in close()
  crackerjack/integration/dhara_integration.py
  tests/integration/test_dhara_integration.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-06-01 21:19:58
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.62.0
  CHANGELOG.md
  crackerjack/core/phase_coordinator.py
  crackerjack/integration/dhara_integration.py
  crackerjack/shell/session_compat.py
  docs/MCP_SERVER_AUDIT.md
  docs/MCP_SERVER_AUDIT.md.backup.json
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-06-02 08:26:39
  crackerjack/__main__.py.backup.json
  crackerjack/adapters/factory.py.backup.json
  crackerjack/agents/fixer_coordinator.py.backup.json
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py.backup.json
  crackerjack/agents/import_optimization_agent.py.backup.json
  crackerjack/agents/planning_agent.py.backup.json
  crackerjack/agents/refactoring_agent.py.backup.json
  crackerjack/agents/refurb_agent.py.backup.json
  crackerjack/cli/handlers/health.py.backup.json
  crackerjack/config/__init__.py.backup.json
  crackerjack/config/global_lock_config.py.backup.json
  crackerjack/config/hooks.py.backup.json
  crackerjack/core/autofix_coordinator.py.backup.json
  crackerjack/core/phase_coordinator.py.backup.json
  crackerjack/docs/INDEX.md.backup.json
  crackerjack/executors/cached_hook_executor.py.backup.json
  crackerjack/executors/hook_executor.py.backup.json
  crackerjack/executors/tool_proxy.py.backup.json
  crackerjack/integration/akosha_integration.py.backup.json
  crackerjack/integration/dhara_integration.py.backup.json
  crackerjack/integration/mahavishnu_integration.py.backup.json
  crackerjack/integration/mahavishnu_pool_dispatcher.py.backup.json
  crackerjack/intelligence/adaptive_learning.py.backup.json
  crackerjack/mahavishnu/mcp/tools/git_analytics.py.backup.json
  crackerjack/managers/test_executor.py.backup.json
  crackerjack/mcp/tools/utility_tools.py.backup.json
  crackerjack/models/validation_contracts.py.backup.json
  crackerjack/parsers/json_parsers.py.backup.json
  crackerjack/parsers/regex_parsers.py.backup.json
  crackerjack/services/file_filter.py.backup.json
  crackerjack/services/git_cleanup_service.py.backup.json
  crackerjack/services/input_validator.py.backup.json
  crackerjack/services/pattern_detector.py.backup.json
  crackerjack/services/quality/quality_intelligence.py.backup.json
  crackerjack/skills/agent_skills.py.backup.json
  crackerjack/skills/metrics.py.backup.json
  docs/plans/2025-02-12-multi-agent-ai-fix-quality-system.md.backup.json
  tests/unit/services/test_secure_status_formatter.py.backup.json
Due: none

checkpoint: crackerjack (quality: 69/100) - 2026-06-02 09:46:40
  crackerjack/cli/interactive.py
  crackerjack/core/phase_coordinator.py
  crackerjack/services/ai_fix_progress.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.62.1
  CHANGELOG.md
  crackerjack/agents/planning_agent.py
  crackerjack/agents/refurb_agent.py
  crackerjack/core/phase_coordinator.py
  docs/MCP_SERVER_AUDIT.md.backup.json
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

fix(ai-fix): exclude is_config_error hooks from compute_hook_total
  crackerjack/services/ai_fix_progress.py
  tests/services/ai/test_ai_fix_progress.py
Due: validate-regex-patterns, pyright

fix(ai-fix): run deterministic fast-fix in comprehensive stage
  crackerjack/core/autofix_coordinator.py
  tests/test_core_autofix_coordinator.py
Due: validate-regex-patterns, pyright

fix(ai-fix): footer iteration count reflects actual loop count
  crackerjack/core/autofix_coordinator.py
  crackerjack/services/ai_fix_progress.py
  tests/services/ai/test_ai_fix_progress.py
Due: validate-regex-patterns, pyright

fix(ai-fix): replace SIMPLE-box inner tables with single-column panel layout
  crackerjack/services/ai_fix_progress.py
  tests/test_ai_fix_dashboard.py
Due: validate-regex-patterns, pyright

fix(ai-fix): silence _prepare_jsonc_files_before_retry CALLED marker at default verbosity
  crackerjack/core/phase_coordinator.py
  tests/test_phase_coordinator.py
Due: validate-regex-patterns, pyright

fix(ai-fix): v2 loop tracks fixes_applied and no_progress_count like v1
  crackerjack/core/autofix_coordinator.py
  tests/test_core_autofix_coordinator.py
Due: validate-regex-patterns, pyright
