Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

fix: resolve MCP server Pydantic validation and CLI flag bugs
  README.md
  SPRINT8_ANALYTICS_ANALYSIS.md
  SPRINT8_ANALYTICS_COMPLETE.md
  SPRINT8_COMPLETE.md
  SPRINT8_COMPLEXIPY_COMPLETE.md
  SPRINT8_REFURB_ANALYSIS.md
  SPRINT8_REFURB_COMPLETE.md
  crackerjack/__main__.py
  crackerjack/cli/options.py
  crackerjack/config/settings.py
  crackerjack/managers/test_command_builder.py
  crackerjack/managers/test_manager.py
  crackerjack/models/config.py
  crackerjack/models/config_adapter.py
  crackerjack/models/protocols.py
  crackerjack/models/pydantic_models.py
  crackerjack/runtime/oneiric_workflow.py
  fix_analytics_patches.py
  fix_analytics_random_tests.py
  tests/unit/adapters/complexity/test_complexipy.py
  tests/unit/adapters/refactor/test_refurb.py
  tests/unit/cli/handlers/test_analytics.py
Due: validate-regex-patterns, pyright

fix: resolve test failures in test_analytics.py
  tests/unit/cli/handlers/test_analytics.py
Due: validate-regex-patterns

chore: cleanup and formatting improvements
  crackerjack/models/config_adapter.py
  crackerjack/services/config_cleanup.py
  crackerjack/services/documentation_cleanup.py
  docs/.backups/20260114-134224/backup.tar.gz
  fix_analytics_patches.py
  fix_analytics_random_tests.py
  tests/unit/adapters/refactor/test_refurb.py
Due: validate-regex-patterns, pyright

fix: add inline table support to custom TOML serializer
  crackerjack/services/config_service.py
Due: validate-regex-patterns, pyright

chore: apply TOML formatting from config cleanup
  pyproject.toml
Due: none

feat: add smart git check to config_cleanup
  crackerjack/services/config_cleanup.py
Due: validate-regex-patterns, pyright

fix: extend smart git check to ignore backup files and config_cleanup.py
  crackerjack/services/config_cleanup.py
  docs/.backups/20260114-151453/backup.tar.gz
  docs/.backups/20260114-151821/backup.tar.gz
  docs/.backups/20260114-152232/backup.tar.gz
  docs/.backups/20260115-043525/backup.tar.gz
Due: validate-regex-patterns, pyright

fix: allow documentation files in smart git check
  SESSION_CHECKPOINT_REPORT.md
  crackerjack/services/config_cleanup.py
  docs/.backups/20260115-044738/backup.tar.gz
  docs/complexity_refactoring_complete.md
Due: validate-regex-patterns, pyright

feat: config_cleanup workflow now passes with smart git check
  crackerjack/services/config_cleanup.py
  docs/.backups/20260115-045014/backup.tar.gz
Due: validate-regex-patterns, pyright

fix: resolve codespell and ruff-check issues
  crackerjack/cli/handlers/main_handlers.py
  crackerjack/config/settings.py
  crackerjack/core/phase_coordinator.py
  crackerjack/managers/test_manager.py
  crackerjack/models/protocols.py
  crackerjack/runtime/oneiric_workflow.py
  crackerjack/services/config_cleanup.py
  crackerjack/services/config_service.py
  crackerjack/services/doc_update_service.py
  crackerjack/services/documentation_cleanup.py
  crackerjack/services/git_cleanup_service.py
  crackerjack/services/input_validator.py
  crackerjack/services/template_applicator.py
  crackerjack/tools/local_link_checker.py
  crackerjack/tools/mdformat_wrapper.py
  crackerjack/tools/trailing_whitespace.py
  docs/.backups/20260115-045218/backup.tar.gz
  pyproject.toml
  scripts/integrate_resource_management.py
Due: validate-regex-patterns, pyright

fix: correct tarfile compression mode typo
  crackerjack/services/config_cleanup.py
Due: validate-regex-patterns, pyright

fix: correct tarfile read mode typo in rollback
  crackerjack/services/config_cleanup.py
Due: validate-regex-patterns, pyright

fix: resolve fnmatch redefinition and tarfile typos
  crackerjack/services/documentation_cleanup.py
  docs/.backups/20260115-045720/backup.tar.gz
Due: validate-regex-patterns, pyright

Update core, docs, tests
  AI_AGENT_INTEGRATION_COMPLETE.md
  AI_FIX_WORKFLOW_ANALYSIS.md
  CLAUDE.md
  REFARB_FIXES_PLAN.md
  REFURB_FIXES_COMPLETE.md
  crackerjack/__main__.py
  crackerjack/api.py
  crackerjack/cli/facade.py
  crackerjack/cli/handlers/coverage.py
  crackerjack/cli/handlers/main_handlers.py
  crackerjack/cli/options.py
  crackerjack/core/async_workflow_orchestrator.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/container.py
  crackerjack/core/phase_coordinator.py
  crackerjack/core/session_coordinator.py
  crackerjack/core/workflow_orchestrator.py
  crackerjack/executors/hook_executor.py
  crackerjack/interactive.py
  crackerjack/managers/hook_manager.py
  crackerjack/managers/publish_manager.py
  crackerjack/managers/test_executor.py
  crackerjack/managers/test_manager.py
  crackerjack/mcp/tools/execution_tools.py
  crackerjack/mcp/tools/workflow_executor.py
  crackerjack/runtime/oneiric_workflow.py
  crackerjack/services/config_cleanup.py
  crackerjack/services/config_merge.py
  crackerjack/services/config_service.py
  crackerjack/services/doc_update_service.py
  crackerjack/services/documentation_cleanup.py
  crackerjack/services/git.py
  crackerjack/services/git_cleanup_service.py
  crackerjack/services/initialization.py
  docs/.backups/20260115-050057/backup.tar.gz
  docs/.backups/20260115-052751/backup.tar.gz
  docs/.backups/20260115-061157/backup.tar.gz
  docs/AI_FIX_EXPECTED_BEHAVIOR.md
Due: validate-regex-patterns, pyright

Update documentation
  docs/AI_FIX_EXPECTED_BEHAVIOR.md
  docs/AI_FIX_ISSUES_RESOLUTION.md
Due: none

Update config, core, deps, docs, tests
  CLAUDE.md
  crackerjack/ci_feedback.py
  crackerjack/cli/options.py
  crackerjack/executors/tool_proxy.py
  crackerjack/reflection_loop.py
  crackerjack/runtime/oneiric_workflow.py
  crackerjack/services/documentation_cleanup.py
  crackerjack/services/security.py
  docs/.backups/20260116-090927/backup.tar.gz
  docs/AI_FIX_ISSUES_RESOLUTION.md
  docs/features/PARALLEL_EXECUTION.md
  docs/guides/.oneiric_cache/domain_activity.sqlite
  docs/guides/.oneiric_cache/runtime_telemetry.json
  docs/guides/.oneiric_cache/workflow_checkpoints.sqlite
  scripts/integrate_resource_management.py
  tests/test_ci_feedback.py
  tests/test_reflection_loop.py
  tests/unit/test_parallel_workflow.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.48.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add dynamic .gitignore reading to all QA hooks
  AGENTS.md
  AI_FIX_WORKFLOW_ANALYSIS.md
  CLAUDE.md
  REFARB_FIXES_PLAN.md
  RULES.md
  SPRINT7_ANOMALY_DETECTOR_ANALYSIS.md
  SPRINT7_ANOMALY_DETECTOR_COMPLETE.md
  SPRINT7_COMPLETE.md
  SPRINT7_PLAN.md
  SPRINT7_REGEX_UTILS_ANALYSIS.md
  SPRINT7_REGEX_UTILS_COMPLETE.md
  SPRINT8_ANALYTICS_ANALYSIS.md
  SPRINT8_ANALYTICS_COMPLETE.md
  SPRINT8_COMPLETE.md
  SPRINT8_COMPLEXIPY_ANALYSIS.md
  SPRINT8_COMPLEXIPY_COMPLETE.md
  SPRINT8_PLAN.md
  SPRINT8_REFURB_ANALYSIS.md
  SPRINT8_REFURB_COMPLETE.md
  TY_MIGRATION_PLAN.md
  TY_PYREFLY_MIGRATION_PLAN.md
  crackerjack/adapters/_tool_adapter_base.py
  docs/features/PARALLEL_EXECUTION.md
  docs/guides/.oneiric_cache/workflow_checkpoints.sqlite
  uv.lock
Due: validate-regex-patterns, pyright

docs: clarify crackerjack does not use pre-commit.com hooks
  AGENTS.md
  CLAUDE.md
  RULES.md
  crackerjack/config/tool_commands.py
  crackerjack/runtime/oneiric_workflow.py
Due: validate-regex-patterns, pyright

Update core functionality
  crackerjack/tools/local_link_checker.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
