Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

docs(OLLAMA_PROVIDER): strike-through archived Qwen/Provider Architecture links (Batch A from 2026-09-09 audit)
  docs/features/OLLAMA_PROVIDER.md
Due: none

docs(archive): reclassify 15 archived files to status:archived, role:historical (Batch A from 2026-09-09 audit)
  docs/archive/2026-08-06-ai-fix-removal-cleanup/ADR-002-multi-agent-orchestration.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/ADR-005-agent-skill-routing.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AGENT_PERFORMANCE_TRACKING.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/BATCHPROCESSOR_TROUBLESHOOTING.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/BATCHPROCESSOR_USER_GUIDE.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/IMPLEMENTATION_STATUS.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROTOCOL_DOCUMENTATION_REVIEW.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROTOCOL_EXAMPLES.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROTOCOL_QUICK_REFERENCE.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROTOCOL_REFERENCE_GUIDE.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROVIDER_ARCHITECTURE.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/QWEN_PROVIDER.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/SKILL_SYSTEM.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/STRUCTURED_LOGGING.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/test-coverage.md
Due: none

fix(scripts): update _frontmatter_apply_C1.py to current archive paths (Batch A from 2026-09-09 audit)
  scripts/_frontmatter_apply_C1.py
Due: validate-regex-patterns

docs(plans): regenerate PLAN_INDEX after archive + phase-plan shipped updates (Batch A from 2026-09-09 audit)
  docs/plans/PLAN_INDEX.md
Due: none

docs(audit): fix 4 residual --ai-fix examples + 2 broken MCP spec links (post-Batch-P inline cleanup)
  docs/CLI_REFERENCE.md
  docs/MIGRATION_GUIDE.md
Due: none

docs(audit): add Rulings 11-13 to SDD ledger (post-2nd-reviewer follow-up)
  .superpowers/sdd/audit-remediation/progress.md
Due: none

docs(audit): record post-reviewer-round commits + Ruling 14 in SDD ledger
  .superpowers/sdd/audit-remediation/progress.md
Due: none

docs(audit): fix regenerate_plan_index.py fidelity defect (Ruling 14)
  docs/plans/PLAN_INDEX.md
  docs/superpowers/plans/2026-08-06-ai-fix-external-loop.md
  docs/superpowers/plans/2026-08-10-ai-fix-loop-task-1-kickoff.md
  docs/superpowers/plans/2026-08-11-bodai-coverage-ratchet-followups.md
  docs/superpowers/plans/2026-08-11-bodai-coverage-ratchet-standard.md
  docs/superpowers/plans/2026-08-11-skill-coverage-out-of-fast-hooks.md
  docs/superpowers/specs/2026-08-11-bodai-coverage-ratchet-standard-design.md
  docs/superpowers/specs/2026-09-07-crackerjack-multi-language-design.md
  scripts/regenerate_plan_index.py
Due: validate-regex-patterns

docs(mcp): clarify workspace_tools Phase-3 deferral in MCP spec
  docs/MCP_TOOLS_SPECIFICATION.md
Due: none

refactor(mcp): remove obsolete mahavishnu_tools + workspace_tools modules
  crackerjack/fixers/type_errors.py
  crackerjack/integration/mahavishnu_integration.py
  crackerjack/mcp/tools/mahavishnu_tools.py
  crackerjack/mcp/tools/workspace_tools.py
  docs/MCP_TOOLS_SPECIFICATION.md
  docs/architecture/MEMORY_ARCHITECTURE.md
  docs/features/SYMBIOTIC_ECOSYSTEM_INTEGRATION.md
  docs/implementation-status.md
  docs/task-breakdown.md
  tests/fixers/test_type_errors.py
  tests/fixtures/_tool_groups_mapping.json
  tests/fixtures/_tool_registry_keys.json
  tests/mcp/tools/test_mahavishnu_tools.py
  tests/unit/mcp/test_mcp_tool_drift.py
  tests/unit/mcp/tools/test_workspace_tools.py
Due: validate-regex-patterns, pyright

docs(symbiotic-ecosystem): fix mdformat by changing 8 illustrative code fences to text
  docs/archive/MAHAVISHNU_POOL_INTEGRATION.md
  docs/archive/MAHAVISHNU_POOL_QUICKSTART.md
  docs/features/SYMBIOTIC_ECOSYSTEM_INTEGRATION.md
Due: none

chore: gitignore report.txt (crackerjack test selection output)
  .gitignore
Due: none

feat(skills_signer): Phase 1.5 ed25519 signing infrastructure for crackerjack
  crackerjack/mcp/server_core.py
  crackerjack/mcp/signer_feed.py
  crackerjack/mcp/tools/core_tools.py
  crackerjack/mcp/tools/execution_tools.py
  crackerjack/mcp/tools/utility_tools.py
  crackerjack/skills_signer/__init__.py
  crackerjack/skills_signer/canonicalize.py
  crackerjack/skills_signer/errors.py
  crackerjack/skills_signer/keys.py
  crackerjack/skills_signer/manifest.py
  crackerjack/skills_signer/sign.py
  crackerjack/skills_signer/verify.py
  pyproject.toml
  tests/test_skills_signer.py
Due: validate-regex-patterns, pyright

docs(assets): add docs/assets/images/ + .scratch/ convention
  .gitignore
  docs/assets/images/README.md
Due: none

feat(mcp): Phase 1 server-published skills (list_skills + get_skill)
  crackerjack/mcp/signer_feed.py
  crackerjack/mcp/skill_schema.py
  crackerjack/mcp/skills_catalog/run-quality-checks.md
  crackerjack/mcp/skills_catalog/smart-error-analysis.md
  crackerjack/mcp/skills_catalog/version-bump.md
  crackerjack/mcp/tools/profiles.py
  crackerjack/mcp/tools/skill_registry.py
  tests/unit/test_skill_metadata_schema.py
Due: validate-regex-patterns

feat(mcp): Phase 3 server-published agents (list_agents + get_agent + AgentMetadata schema)
  crackerjack/mcp/agent_schema.py
  crackerjack/mcp/agents/bump-strategist.md
  crackerjack/mcp/agents/crackerjack-specialist.md
  crackerjack/mcp/agents/quality-strategist.md
  crackerjack/mcp/tools/__init__.py
  crackerjack/mcp/tools/agent_registry.py
  crackerjack/mcp/tools/profiles.py
  tests/integration/test_get_agent_e2e.py
  tests/integration/test_list_agents_e2e.py
  tests/unit/test_agent_metadata_schema.py
Due: validate-regex-patterns

fix(mcp): drop str_strip_whitespace from AgentMetadata config (B-6 hash-pin)
  crackerjack/mcp/agent_schema.py
Due: validate-regex-patterns

chore: bump version to 0.81.0
  CHANGELOG.md
  pyproject.toml
Due: none

test(crackerjack): smoke test for mcp-common CommonMCPClient SDK (Phase 3)
  tests/integration/mcp/test_common_mcp_client.py
Due: validate-regex-patterns

docs(superpowers): complete frontmatter for 7 superpowers plans/specs
  docs/superpowers/plans/2026-08-06-ai-fix-external-loop.md
  docs/superpowers/plans/2026-08-10-ai-fix-loop-task-1-kickoff.md
  docs/superpowers/plans/2026-08-11-bodai-coverage-ratchet-followups.md
  docs/superpowers/plans/2026-08-11-bodai-coverage-ratchet-standard.md
  docs/superpowers/plans/2026-08-11-skill-coverage-out-of-fast-hooks.md
  docs/superpowers/specs/2026-08-11-bodai-coverage-ratchet-standard-design.md
  docs/superpowers/specs/2026-09-07-crackerjack-multi-language-design.md
Due: none

fix(validator): suppress null-marker NOTEs and exclude reviews/ subdirs
  crackerjack/services/frontmatter.py
  tests/unit/test_validate_frontmatter.py
Due: validate-regex-patterns, pyright

docs(superpowers): add frontmatter to ruff-fix-policy implementation plan
  docs/superpowers/plans/2026-08-06-crackerjack-ruff-fix-policy.md
Due: none

chore: bump version to 0.81.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor(integration): migrate dhara + session-buddy MCP clients to CommonMCPClient
  crackerjack/integration/dhara_mcp_client.py
  crackerjack/integration/session_buddy_mcp.py
  tests/integration/dhara_mcp_client_test.py
  tests/test_session_buddy_git_metrics.py
Due: validate-regex-patterns, pyright

docs(followups): add deferred followup to delete dhara_mcp_client.py after Dhara decomposition
  docs/followups/2026-09-14-delete-dhara-mcp-client-after-decomposition.md
Due: none

chore: bump version to 0.81.2
  CHANGELOG.md
  pyproject.toml
Due: none

refactor(crackerjack): re-export canonical SkillMetadata + strict AgentMetadata subclass (Phase 10 task 4)
  crackerjack/mcp/agent_schema.py
  crackerjack/mcp/skill_schema.py
Due: validate-regex-patterns

build(deps): drop dhara from adapter-learning group + uv cooldown (Phase 8 T13)
  pyproject.toml
  uv.lock
Due: none

docs(followup): add plan to retire root-level MCP lifecycle verbs
  docs/followups/2026-09-18-mcp-subcommand-only.md
Due: none

feat(crackerjack): add --fail-first flag to bail on first failing hook
  crackerjack/__main__.py
  crackerjack/cli/options.py
  crackerjack/core/phase_coordinator.py
  tests/test_phase_coordinator.py
Due: validate-regex-patterns, pyright

fix(tests): resolve pre-existing test failures + venv reversion
  crackerjack/mcp/signer_feed.py
  tests/executors/test_tool_proxy.py
  tests/fixers/test_formatting.py
  tests/fixtures/full/tool_names.json
  tests/integration/test_phase8_direct_invocation.py
  tests/mcp_test_helpers/tools/test_execution_tools.py
  tests/services/quality/__init__.py
  tests/unit/mcp/test_mcp_tool_drift.py
  tests/unit/mcp/test_otel_tools_query_local_traces.py
  tests/unit/parsers/test_json_parsers.py
  tests/unit/services/ai/test_ai_contextual_assistant.py
  tests/unit/services/conftest.py
  tests/unit/test_bodai_build_system_guard.py
  tests/unit/test_discover_query.py
  tests/unit/test_tool_profile.py
Due: validate-regex-patterns

chore: bump version to 0.82.0
  .mdformat.toml
  CHANGELOG.md
  crackerjack/adapters/kotlin/__init__.py
  crackerjack/adapters/kotlin/git_backend.py
  crackerjack/adapters/kotlin/lifecycle.py
  crackerjack/adapters/python/lifecycle.py
  crackerjack/adapters/swift/lifecycle.py
  crackerjack/core/phase_coordinator.py
  crackerjack/core/retry.py
  crackerjack/decorators/helpers.py
  crackerjack/mcp/tools/language_tools.py
  crackerjack/services/frontmatter.py
  crackerjack/services/pycharm_mcp_integration.py
  crackerjack/tools/check_added_large_files.py
  crackerjack/utils/issue_detection.py
  docs/CLI_REFERENCE.md
  docs/features/OLLAMA_PROVIDER.md
  docs/features/SYMBIOTIC_ECOSYSTEM_INTEGRATION.md
  docs/index.md
  docs/reference/CONFIGURATION.md
  docs/schemas/topic-vocabulary-v1.md
  docs/superpowers/plans/2026-08-06-ai-fix-external-loop.md
  docs/superpowers/plans/reviews/2026-09-07-phase4-simplification.md
  pyproject.toml
  tests/tools/test_check_added_large_files.py
  tests/unit/utils/test_issue_detection.py
Due: validate-regex-patterns, pyright

fix(ty): surface non-ratchet ty output in Fast Hook Results panel
  crackerjack/executors/hook_executor.py
  tests/test_hook_executor.py
Due: validate-regex-patterns, pyright

feat(config): warn on unknown [tool.crackerjack.X] sub-tables
  crackerjack/config/loader.py
  tests/config/test_loader.py
Due: validate-regex-patterns, pyright

docs(dx): add auto-discovery hint to `crackerjack run --help` + fix false-positive warning
  crackerjack/__main__.py
  crackerjack/config/loader.py
  docs/CLI_REFERENCE.md
  tests/config/test_loader.py
Due: validate-regex-patterns, pyright

feat(publish): add publish_url field to PublishSettings and PublishConfig
  crackerjack/config/settings.py
  crackerjack/models/config.py
  crackerjack/models/pydantic_models.py
Due: validate-regex-patterns, pyright

feat(publish): honor publish_url in PublishManagerImpl
  crackerjack/managers/publish_manager.py
Due: validate-regex-patterns, pyright

fix(publish): refuse OIDC-only auth when --publish-url is set
  crackerjack/managers/publish_manager.py
Due: validate-regex-patterns, pyright

feat(cli): add --publish-url flag and CRACKERJACK_PUBLISH_URL env var
  crackerjack/cli/options.py
Due: validate-regex-patterns, pyright

feat(cli): thread publish_url from CLI through to PublishConfig
  crackerjack/__main__.py
  crackerjack/api.py
  crackerjack/models/config.py
  crackerjack/models/config_adapter.py
Due: validate-regex-patterns, pyright
