Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

feat(ai-fix): make plan-regen timeout operator-tunable (cluster 3)
  crackerjack/core/autofix_coordinator.py
  tests/unit/core/test_ai_fix_env_vars.py
Due: validate-regex-patterns, pyright

docs(superpowers): spec for AI-fix E501 line-length post-processor (cluster 2)
  docs/superpowers/specs/2026-07-11-ai-fix-e501-post-processor-design.md
Due: none

docs(superpowers): spec amend — use ruff format subprocess, not libcst (cluster 2)
  docs/superpowers/specs/2026-07-11-ai-fix-e501-post-processor-design.md
Due: none

docs(superpowers): plan for AI-fix E501 post-processor (cluster 2)
  docs/superpowers/plans/2026-07-11-ai-fix-e501-post-processor.md
Due: none

feat(ai-fix): post-process Python writes to wrap long lines (cluster 2)
  crackerjack/agents/base.py
  crackerjack/ai_fix/code_post_processor.py
  tests/unit/ai_fix/test_code_post_processor.py
Due: validate-regex-patterns, pyright

docs(superpowers): spec for AI-fix no-op circuit breaker (cluster 4)
  docs/superpowers/specs/2026-07-11-ai-fix-no-op-circuit-breaker-design.md
Due: none

docs(superpowers): plan for AI-fix no-op circuit breaker (cluster 4)
  docs/superpowers/plans/2026-07-11-ai-fix-no-op-circuit-breaker.md
Due: none

feat(ai-fix): add no-op circuit breaker to skip identical retry plans (cluster 4)
  crackerjack/core/autofix_coordinator.py
  tests/unit/core/test_autofix_no_op_circuit_breaker.py
Due: validate-regex-patterns, pyright

fix(ai-fix): add trailing newline to cluster-4 test file
  tests/unit/core/test_autofix_no_op_circuit_breaker.py
Due: validate-regex-patterns

fix(ruff-check): parse ruff JSON output instead of dropping it
  crackerjack/executors/hook_executor.py
  tests/unit/test_hook_executor.py
Due: validate-regex-patterns, pyright

fix(check-yaml): remove wedged import + clean dead imports from test_check_yaml.py
  tests/unit/tools/test_check_yaml.py
Due: validate-regex-patterns

fix(services): remove malformed noqa directives in filesystem.py
  crackerjack/services/filesystem.py
Due: validate-regex-patterns, pyright

fix(autofix): improve diagnostic logging and AI-fix target exclusion
  crackerjack/ai_fix/output_validator.py
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

fix(ai-fix): remove stray space in fallback fixer_id
  crackerjack/ai_fix/sandboxed_dispatcher.py
Due: validate-regex-patterns, pyright

fix(autofix): resolve 4 pre-existing autofix test failures
  crackerjack/config/hooks.py
  crackerjack/core/autofix_coordinator.py
  tests/core/autofix_coordinator_bugfix_test.py
Due: validate-regex-patterns, pyright

test: un-skip 2 backup tests with outdated skip messages
  tests/test_core_autofix_coordinator.py
Due: validate-regex-patterns

feat(eventbridge): add EventBridgePublisher adapter
  crackerjack/core/eventbridge_adapter.py
  tests/unit/test_eventbridge_adapter.py
Due: validate-regex-patterns, pyright

feat(eventbridge): add Crackerjack test-lifecycle publisher
  crackerjack/core/eventbridge_publisher.py
  tests/unit/test_eventbridge_publisher.py
Due: validate-regex-patterns, pyright

feat(eventbridge): add eventbridge settings block (disabled by default)
  settings/crackerjack.yaml
Due: none

feat(eventbridge): wire publish_test_* into PhaseCoordinator
  crackerjack/core/phase_coordinator.py
Due: validate-regex-patterns, pyright

feat(mcp): expose publish_to_eventbridge MCP tool
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/__init__.py
  crackerjack/mcp/tools/eventbridge_tools.py
Due: validate-regex-patterns

test(eventbridge): add end-to-end round-trip integration tests
  tests/integration/test_eventbridge_e2e.py
Due: validate-regex-patterns

fix(eventbridge): emit test.failed terminal on every failure path
  crackerjack/core/phase_coordinator.py
Due: validate-regex-patterns, pyright

fix(mcp): return no_publisher status when publisher unwired
  crackerjack/mcp/tools/eventbridge_tools.py
Due: validate-regex-patterns

test(eventbridge): fix mid-flight coroutine test to actually drive failure path
  tests/unit/test_eventbridge_publisher.py
Due: validate-regex-patterns

test(eventbridge): resolve ty complaints in unit tests
  tests/unit/test_eventbridge_publisher.py
Due: validate-regex-patterns

test(eventbridge): drop brittle private-attr assertion in adapter test
  tests/unit/test_eventbridge_adapter.py
Due: validate-regex-patterns

feat(settings): add CrackerjackSettings.eventbridge field
  crackerjack/config/settings.py
  settings/crackerjack.yaml
  tests/unit/config/test_eventbridge_settings.py
Due: validate-regex-patterns, pyright

feat(eventbridge): wire EventBridgePublisher at workflow startup
  crackerjack/config/__init__.py
  crackerjack/core/eventbridge_resolver.py
  crackerjack/core/phase_coordinator.py
  crackerjack/core/workflow_orchestrator.py
  tests/unit/core/test_eventbridge_resolver.py
  tests/unit/core/test_phase_coordinator_set_event_publisher.py
  tests/unit/core/test_workflow_pipeline_eventbridge_wiring.py
Due: validate-regex-patterns, pyright

refactor(settings): migrate 37 settings classes to OneiricMCPConfig
  crackerjack/config/settings.py
Due: validate-regex-patterns, pyright

test(eventbridge): real Oneiric transport round-trip integration tests
  crackerjack/cli/hypothesis_lock_cli.py
  crackerjack/core/hypothesis_lock.py
  tests/integration/test_oneiric_transport_roundtrip.py
  tests/unit/test_hypothesis_lock.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.68.1
  pyproject.toml
Due: none

chore: bump version to 0.68.2
  CHANGELOG.md
  crackerjack/adapters/complexity/pymetrica.py
  crackerjack/adapters/lsp/_client.py
  crackerjack/cli/constants.py
  crackerjack/cli/options.py
  crackerjack/config/README.md
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/mcp/README.md
  crackerjack/models/config.py
  crackerjack/models/config_adapter.py
  crackerjack/models/pydantic_models.py
  crackerjack/services/lsp_client.py
  crackerjack/services/patterns/url_sanitization.py
  crackerjack/services/zuban_lsp_service.py
  crackerjack/slash_commands/init.md
  crackerjack/slash_commands/status.md
  docs/superpowers/plans/2026-07-10-output-validator-traceback-details.md
  docs/superpowers/plans/2026-07-12-eventbridge-publisher.md
  pyproject.toml
  settings/crackerjack.yaml
  tests/adapters/lsp/test_lsp_client.py
  tests/models/test_config.py
  tests/models/test_config_adapter.py
  tests/models/test_pydantic_models.py
  tests/unit/test_config_settings.py
  tests/unit/test_constants.py
  uv.lock
Due: validate-regex-patterns, pyright

feat(crackerjack): disable zuban LSP by default (ty is the new default type checker)
  crackerjack/config/settings.py
  crackerjack/models/config.py
  crackerjack/models/pydantic_models.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.68.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(plans): mark tier-architecture and tier-3 followup as shipped
  docs/IMPLEMENTATION_STATUS.md
  docs/followups/2026-07-04-tier3-implementation-plan.md
  docs/plans/2026-07-06-ai-fix-tier-architecture.md
Due: none

refactor(crackerjack): delete dead lsp_hook module
  crackerjack/hooks/lsp_hook.py
Due: validate-regex-patterns, pyright

refactor(crackerjack): delete unused qwen_code_bridge (dead test code)
  crackerjack/agents/qwen_code_bridge.py
  tests/test_architectural_compliance.py
  tests/unit/agents/test_qwen_code_bridge.py
Due: validate-regex-patterns, pyright
