Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

fix(crackerjack): surface mdformat auto-format as a passed-formatting hook
  crackerjack/tools/mdformat_wrapper.py
  tests/unit/tools/test_mdformat_wrapper.py
Due: validate-regex-patterns, pyright

fix(crackerjack): resolve ty errors + refurb warnings in plan_index_sync
  crackerjack/tools/plan_index_sync.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.84.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(crackerjack): parenthesize implicit string concat (ISC004)
  crackerjack/tools/plan_index_sync.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.84.3
  CHANGELOG.md
  crackerjack/tools/plan_index_sync.py
  docs/plans/PLAN_INDEX.md
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

feat(crackerjack): blanket-ignore .superpowers/ in shared gitignore template
  templates/GITIGNORE_BODAI.md
Due: none

chore(crackerjack): gitignore .superpowers/; archive exceptions for plans/specs
  .gitignore
  docs/plans/2026-05-20-phase-0-event-bus-plan.md
  docs/plans/2026-06-02-ai-fix-display-loop-bugs.md
  docs/plans/2026-06-03-dhara-mcp-migration.md
  docs/plans/2026-06-29-ty-ratchet-cleanup.md
  docs/plans/2026-07-08-fix-sandbox-integration.md
  docs/plans/2026-07-10-libcst-surgeon-extract-method-fallback.md
  docs/plans/2026-07-10-output-validator-traceback-details.md
  docs/plans/2026-07-10-validation-coordinator-serialization.md
  docs/plans/2026-07-11-ai-fix-e501-post-processor.md
  docs/plans/2026-07-11-ai-fix-no-op-circuit-breaker.md
  docs/plans/2026-07-11-ai-fix-regen-timeout.md
  docs/plans/2026-07-12-eventbridge-publisher.md
  docs/plans/2026-08-06-ai-fix-external-loop.md
  docs/plans/2026-08-06-crackerjack-ruff-fix-policy.md
  docs/plans/2026-08-10-ai-fix-loop-task-1-kickoff.md
  docs/plans/2026-08-11-bodai-coverage-ratchet-followups.md
  docs/plans/2026-08-11-bodai-coverage-ratchet-standard.md
  docs/plans/2026-08-11-darnlink-replaces-check-local-links.md
  docs/plans/2026-08-11-skill-coverage-out-of-fast-hooks.md
  docs/plans/2026-09-07-crackerjack-multi-language-phase1.md
  docs/plans/2026-09-07-crackerjack-multi-language-phase2.md
  docs/plans/2026-09-07-crackerjack-multi-language-phase3.md
  docs/plans/2026-09-07-crackerjack-multi-language-phase4.md
  docs/specs/2026-05-20-ai-fix-comprehensive-overhaul-design.md
  docs/specs/2026-06-03-dhara-mcp-migration-design.md
  docs/specs/2026-06-29-ty-ratchet-cleanup-design.md
  docs/specs/2026-07-08-fix-sandbox-integration-design.md
  docs/specs/2026-07-10-libcst-surgeon-extract-method-fallback-design.md
  docs/specs/2026-07-10-output-validator-traceback-details-design.md
  docs/specs/2026-07-10-validation-coordinator-serialization-design.md
  docs/specs/2026-07-11-ai-fix-no-op-circuit-breaker-design.md
  docs/specs/2026-07-11-ai-fix-regen-timeout-design.md
  docs/specs/2026-08-06-crackerjack-ruff-fix-policy-design.md
  docs/specs/2026-08-11-bodai-coverage-ratchet-standard-design.md
  docs/specs/2026-09-07-crackerjack-multi-language-design.md
Due: none

chore: bump version to 0.85.0
  .cov_test
  .gitignore.bak.20260926T125029Z
  .gitignore.bak.20261004T035219Z
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

merge(crackerjack): pre-existing test fix — bump tool registry count
  tests/config/test_tool_commands.py
Due: validate-regex-patterns

merge(crackerjack): drop unused scikit-learn/scipy/scipy-stubs deps
  pyproject.toml
Due: none

fix(crackerjack): add *.bak.* to GITIGNORE_BODAI template
  templates/GITIGNORE_BODAI.md
Due: none

docs(cj): document role as stage-3 merge gate in Bodai trunk-based workflow; bump last_reviewed to 2026-10-09
  docs/guides/CLAUDE.md
Due: none

chore(crackerjack): SessionEnd hook wire-up + push governance cross-link
  .claude/hooks/_hook_io.py
  .claude/hooks/agent-merge-on-end.py
  .claude/settings.json
  .gitignore
  docs/guides/CLAUDE.md
Due: validate-regex-patterns

chore(crackerjack): add .claude/decisions README index
  .claude/decisions/README.md
Due: none

fix(crackerjack): restore non-deceptive search_code + search_semantic envelopes
  crackerjack/mcp/tools/pycharm_tools.py
  crackerjack/mcp/tools/semantic_tools.py
  docs/operations/reindex.md
  tests/unit/mcp/tools/__init__.py
  tests/unit/mcp/tools/test_search_code.py
  tests/unit/mcp/tools/test_search_semantic.py
Due: validate-regex-patterns

feat(crackerjack): adopt mcp_common HealthAggregator + 503 on degraded (Phase 1.2)
  crackerjack/mcp/health.py
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/health_tools_wrapper.py
  tests/integration/test_health_e2e.py
Due: validate-regex-patterns

chore(crackerjack): bump mcp-common pin (Phase 1.2 dependency update)
  pyproject.toml
  uv.lock
Due: none

chore: remove tracked .gitignore.bak.* backups, drop unused anthropic stub + .superpowers stray, add .gitignore.bak.* to canonical template
  .gitignore.bak.20260926T125029Z
  .gitignore.bak.20261004T035219Z
  .superpowers/sdd/audit-remediation/progress.md
  anthropic/__init__.py
  templates/GITIGNORE_BODAI.md
Due: validate-regex-patterns

chore: bump version to 0.86.0
  .gitignore
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.86.1
  .claude/decisions/README.md
  .claude/settings.json
  crackerjack/mcp/tools/pycharm_tools.py
  crackerjack/services/doc_update_service.py
  docs/plans/2026-08-06-ai-fix-external-loop.md
  docs/plans/PLAN_INDEX.md
  pyproject.toml
  scripts/regenerate_plan_index.py
  tests/integration/test_health_e2e.py
  uv.lock
Due: validate-regex-patterns, pyright

chore(slash): remove crackerjack 1:1 wrapper slash commands
  commands/crackerjack-init.md
  commands/crackerjack-run.md
  commands/crackerjack-status.md
Due: none

docs(crackerjack): spec + plan for Oneiric loader migration
  docs/plans/2026-10-10-crackerjack-oneiric-loader-migration.md
  docs/specs/2026-10-10-crackerjack-oneiric-loader-migration-design.md
Due: none

feat(config): route Crackerjack settings loader through Oneiric
  crackerjack/adapters/python/lifecycle.py
  crackerjack/config/__init__.py
  crackerjack/config/loader.py
  crackerjack/config/settings.py
  crackerjack/config/validators.py
  crackerjack/mcp/tools/workflow_executor.py
  docs/architecture/MEMORY_ARCHITECTURE.md
  docs/audits/2026-09-09-crackerjack-docs-audit.md
  docs/decisions/2026-10-10-env-prefix-decision.md
  docs/plans/2026-10-10-crackerjack-oneiric-loader-migration.md
  docs/plans/PLAN_INDEX.md
  tests/config/test_loader.py
  tests/config/test_validators.py
  tests/unit/test_config_settings.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.87.0
  CHANGELOG.md
  crackerjack/__init__.py
  crackerjack/config/__init__.py
  crackerjack/config/loader.py
  crackerjack/config/settings.py
  crackerjack/config/validators.py
  docs/architecture/MEMORY_ARCHITECTURE.md
  docs/decisions/2026-10-10-env-prefix-decision.md
  docs/plans/PLAN_INDEX.md
  docs/specs/2026-10-10-crackerjack-oneiric-loader-migration-design.md
  pyproject.toml
  tests/config/test_loader.py
  tests/config/test_validators.py
  uv.lock
Due: validate-regex-patterns, pyright
