Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

test: cover services/quality/pattern_cache (157 → 100%)
  tests/services/quality/test_pattern_cache.py
Due: validate-regex-patterns

test: cover services/zuban_lsp_service (99% line coverage)
  tests/services/test_zuban_lsp_service.py
Due: validate-regex-patterns

test(fixers): raise fixers/formatting.py to 100% (75 tests)
  tests/cli/test_separator.py
  tests/fixers/test_formatting.py
Due: validate-regex-patterns

test(ty_cleanup): raise tools/ty_cleanup.py to 99% (67 tests)
  tests/tools/test_ty_cleanup.py
Due: validate-regex-patterns

test(server_manager): raise services/server_manager.py to 99% (37 tests)
  tests/services/test_server_manager.py
Due: validate-regex-patterns

test(service_watchdog): raise mcp/service_watchdog.py to 99% (74 tests)
  tests/mcp/test_service_watchdog.py
Due: validate-regex-patterns

test(quality): raise quality/anti_ai_flavor{,_adapter}.py to 100% (38 tests)
  tests/services/quality/test_anti_ai_flavor.py
  tests/services/quality/test_anti_ai_flavor_adapter.py
Due: validate-regex-patterns

test(handlers): raise cli/handlers/main_handlers.py to 98% (26 tests)
  tests/cli/handlers/test_main_handlers.py
Due: validate-regex-patterns

test(handlers): raise cli/handlers/docs_commands.py to 98% (35 tests)
  tests/cli/handlers/test_docs_commands.py
Due: validate-regex-patterns

test(server_manager): fix codespell 'expection' -> 'exception' in module docstring
  tests/services/test_server_manager.py
Due: validate-regex-patterns

test(ty_audit): raise tools/ty_audit.py to 98% (45 tests)
  tests/tools/test_ty_audit.py
Due: validate-regex-patterns

test(anomaly_detector): raise services/anomaly_detector.py to 97% (41 tests)
  tests/services/test_anomaly_detector.py
Due: validate-regex-patterns

test(akosha_learning): raise integration/akosha_learning.py to 99% (37 tests)
  tests/integration/test_akosha_learning.py
Due: validate-regex-patterns

chore: bump version to 0.80.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

test(checks): raise checks/release_audit.py to 94% (81 tests)
  tests/checks/__init__.py
  tests/checks/test_release_audit.py
Due: validate-regex-patterns

test(executors): raise executors/tool_proxy.py to 99% (72 tests)
  tests/executors/test_tool_proxy.py
Due: validate-regex-patterns

test(mcp/tools): cover eventbridge_tools.py (14 tests)
  tests/mcp/tools/test_eventbridge_tools.py
Due: validate-regex-patterns

test(cli): cover cli/lifecycle_handlers.py (12 tests)
  tests/cli/test_lifecycle_handlers.py
Due: validate-regex-patterns

test(executors): cover process_monitor.py (42 tests)
  tests/executors/test_process_monitor.py
Due: validate-regex-patterns

test(executors): cover cached_hook_executor.py (46 tests)
  tests/executors/test_cached_hook_executor.py
Due: validate-regex-patterns

test(services): cover backup_service.py (42 tests)
  tests/services/test_backup_service.py
Due: validate-regex-patterns

test(fixers): cover ast_transform/patterns/early_return.py (49 tests)
  tests/fixers/ast_transform/__init__.py
  tests/fixers/ast_transform/patterns/__init__.py
  tests/fixers/ast_transform/patterns/test_early_return.py
Due: validate-regex-patterns

test(services): cover pattern_cache.py (44 tests)
  tests/services/test_pattern_cache.py
Due: validate-regex-patterns

test(adapters/type): cover pyright.py (41 tests)
  tests/adapters/type/__init__.py
  tests/adapters/type/test_pyright.py
Due: validate-regex-patterns

chore: bump version to 0.80.3
  CHANGELOG.md
  pyproject.toml
  tests/executors/__init__.py
  uv.lock
Due: validate-regex-patterns

feat(gitignore): Bodai fleet .gitignore conformance check + canonical snippet
  .gitignore
  crackerjack/__main__.py
  crackerjack/checks/gitignore_conformance.py
  crackerjack/cli/__init__.py
  crackerjack/cli/gitignore_cli.py
  crackerjack/managers/publish_manager.py
  crackerjack/tests/checks/test_gitignore_conformance.py
  docs/plans/2026-09-07-bodai-shared-gitignore-snippet.md
  templates/GITIGNORE_BODAI.md
  uv.lock
Due: validate-regex-patterns, pyright

fix(gitignore-conformance): refurb lint + restore template from mdformat
  crackerjack/checks/gitignore_conformance.py
  crackerjack/tests/checks/test_gitignore_conformance.py
  docs/plans/2026-09-07-bodai-shared-gitignore-snippet.md
Due: validate-regex-patterns, pyright

chore: bump version to 0.80.4
  CHANGELOG.md
  pyproject.toml
Due: none

build: include templates/GITIGNORE_BODAI.md in wheel
  pyproject.toml
Due: none

chore: bump version to 0.80.5
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.80.6
  pyproject.toml
Due: none

chore: bump version to 0.80.7
  pyproject.toml
Due: none

chore: bump version to 0.80.8
  pyproject.toml
Due: none

docs(agents): flag python -m crackerjack as canonical in-repo invocation
  AGENTS.md
Due: none

docs(spec): crackerjack multi-language extension (Phase 0 design)
  docs/superpowers/specs/2026-09-07-crackerjack-multi-language-design.md
Due: none

docs(spec): rev 2 — incorporate 11-agent review findings
  docs/superpowers/specs/2026-09-07-crackerjack-multi-language-design.md
Due: none

docs(plan): Phase 1 — foundation + Python refactor
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase1.md
Due: none

feat(adapters): foundation types — LanguageAdapter Protocol + Capabilities
  crackerjack/adapters/__init__.py
  crackerjack/adapters/base.py
  tests/adapters/__init__.py
  tests/adapters/test_base.py
Due: validate-regex-patterns, pyright

feat(adapters): registry — entry-point discovery
  crackerjack/adapters/registry.py
  pyproject.toml
  tests/adapters/test_registry.py
Due: validate-regex-patterns, pyright

test(adapters.registry): fix mock iteration pattern
  tests/adapters/test_registry.py
Due: validate-regex-patterns

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
