Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

feat(crackerjack)!: rename BodaiCLIBase to OneiricCLIBase
  CHANGELOG.md
  crackerjack/__main__.py
  crackerjack/cli/base.py
  tests/cli/test_base.py
Due: validate-regex-patterns, pyright

refactor(crackerjack): deprecate crackerjack.interactive (Plan Task 3.2.4)
  crackerjack/interactive.py
  tests/unit/test_interactive_legacy_deprecation.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.77.0
  CHANGELOG.md
  crackerjack/interactive.py
  docs/MCP_SERVER_AUDIT.md
  docs/schemas/document-frontmatter-v1.md
  pyproject.toml
  tests/unit/test_interactive_legacy_deprecation.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.77.1
  crackerjack/cli/skills_cli.py
  crackerjack/integration/session_buddy_mcp.py
  crackerjack/mahavishnu/tenancy/context_packs.py
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/otel_tools.py
  crackerjack/services/frontmatter.py
  crackerjack/services/frontmatter_validator.py
  crackerjack/skills/health.py
  examples/mcp_client_example.py
  pyproject.toml
  tests/unit/cli/test_skills_refresh.py
  tests/unit/mcp/test_otel_tools_query_local_traces.py
  tests/unit/skills/test_health.py
  tests/unit/test_frontmatter_validator.py
  tests/unit/test_validate_frontmatter.py
  uv.lock
Due: validate-regex-patterns, pyright

feat(tools): add audit_type_checking_runtime_refs AST check + comprehensive hook
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  crackerjack/tools/audit_type_checking_runtime_refs.py
  tests/unit/test_audit_type_checking_runtime_refs.py
Due: validate-regex-patterns, pyright

fix: move TYPE_CHECKING-only imports to runtime scope
  crackerjack/mcp/tools/core_tools.py
Due: validate-regex-patterns

feat(tools): sync audit_type_checking_runtime_refs to v2 — Pattern B variants + cluster summary
  crackerjack/tools/audit_type_checking_runtime_refs.py
  tests/unit/test_audit_type_checking_runtime_refs.py
Due: validate-regex-patterns, pyright

feat(hooks): promote audit-type-checking-runtime-refs from comprehensive-weekly to fast
  crackerjack/config/hooks.py
Due: validate-regex-patterns, pyright

test: remove stale xfail test referencing removed orchestration module
  tests/unit/managers/test_hook_manager.py
Due: validate-regex-patterns

chore: bump version to 0.78.0
  CHANGELOG.md
  crackerjack/cli/base.py
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  crackerjack/fixers/test_creation.py
  crackerjack/fixers/test_specialist.py
  crackerjack/tools/audit_type_checking_runtime_refs.py
  docs/MCP_SERVER_AUDIT.md
  pyproject.toml
  tests/test_filesystem_coverage.py
  tests/test_publish_manager_coverage.py
  tests/unit/config/test_hook_settings_ruff_unsafe.py
  tests/unit/core/test_preflight.py
  tests/unit/managers/test_publish_manager.py
  tests/unit/managers/test_publish_manager_extended.py
  tests/unit/test_bodai_build_system_guard.py
  tests/unit/tools/test_tools_coverage.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(hooks): report truthful tc-refs count (256 → 173)
  crackerjack/executors/hook_executor.py
  crackerjack/utils/issue_detection.py
  tests/unit/test_hook_executor.py
  tests/unit/utils/test_issue_detection.py
Due: validate-regex-patterns, pyright

fix(hooks): tc-refs clean repo no longer flagged as failed
  crackerjack/executors/hook_executor.py
  tests/unit/test_hook_executor.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.79.0
  CHANGELOG.md
  crackerjack/cli/handlers/changelog.py
  crackerjack/cli/options.py
  crackerjack/managers/publish_manager.py
  crackerjack/services/changelog_automation.py
  crackerjack/services/version_analyzer.py
  crackerjack/services/version_math.py
  pyproject.toml
  tests/unit/managers/test_publish_manager.py
  tests/unit/managers/test_publish_manager_gaps.py
  tests/unit/services/test_changelog_automation.py
  tests/unit/services/test_version_analyzer.py
  tests/unit/services/test_version_math.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(hooks): tc-refs Issues column shows real N, not 1
  crackerjack/executors/hook_executor.py
  tests/unit/test_hook_executor.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.79.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(crackerjack): add release-audit check for CHANGELOG/CLAUDE.md consistency
  crackerjack/checks/__init__.py
  crackerjack/checks/release_audit.py
  crackerjack/tests/__init__.py
  crackerjack/tests/checks/__init__.py
  crackerjack/tests/checks/test_release_audit.py
  tests/adapters/test_osv_scanner.py
  tests/adapters/test_osv_scanner_adapter.py
Due: validate-regex-patterns, pyright

fix(crackerjack): tighten release-audit parsers to reduce false positives
  crackerjack/checks/release_audit.py
Due: validate-regex-patterns, pyright

feat(deps): swap pip-audit for osv-scanner in fast hooks
  crackerjack/adapters/dependency/__init__.py
  crackerjack/adapters/dependency/pip_audit.py
  crackerjack/adapters/refactor/creosote.py
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/config/tool_commands.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/executors/cached_hook_executor.py
  crackerjack/executors/hook_executor.py
  crackerjack/executors/lsp_aware_hook_executor.py
  crackerjack/fixers/security.py
  crackerjack/managers/hook_manager.py
  crackerjack/models/config.py
  crackerjack/models/tool_config.py
  crackerjack/parsers/json_parsers.py
  crackerjack/services/cache.py
  pyproject.toml
  settings/crackerjack.yaml
  tests/adapters/test_osv_scanner.py
  tests/adapters/test_osv_scanner_adapter.py
  tests/config/test_pip_audit_ignores.py
  tests/config/test_tool_commands.py
  tests/executors/test_hook_executor_coverage.py
  tests/fixers/test_dependency.py
  tests/fixers/test_security.py
  tests/models/test_config.py
  tests/models/test_tool_config.py
  tests/parsers/test_json_parsers_extended.py
  tests/parsers/test_json_parsers_gaps.py
  tests/parsers/test_regex_parsers.py
  tests/test_async_hook_executor_parsing.py
  tests/test_hook_executor.py
  tests/test_hook_manager_simple.py
  tests/test_models_focused.py
  tests/unit/parsers/test_json_parsers.py
  tests/unit/test_hook_executor.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(deps): post-review polish for osv-scanner swap
  README.md
  crackerjack/adapters/dependency/__init__.py
  crackerjack/docs/generated/api/API_REFERENCE.md
Due: validate-regex-patterns, pyright

docs(CLAUDE.md): cross-reference MCP backend wiring discipline (Bodai-wide)
  CLAUDE.md
Due: none

fix(crackerjack): handle <repo>: Add <symbol> prefix in CHANGELOG parser
  crackerjack/checks/release_audit.py
Due: validate-regex-patterns, pyright

fix(crackerjack): require internal dot in CHANGELOG symbol tail
  crackerjack/checks/release_audit.py
Due: validate-regex-patterns, pyright

feat(crackerjack): hook release-audit into publish_manager pre-publish validation
  crackerjack/checks/release_audit.py
  crackerjack/managers/publish_manager.py
Due: validate-regex-patterns, pyright

feat(hooks): add universal per-file-ignores starter pack for scripts/examples
  crackerjack/config/per_file_ignores.py
  tests/unit/config/test_per_file_ignores.py
Due: validate-regex-patterns, pyright

Revert "feat(hooks): add universal per-file-ignores starter pack for scripts/examples"
  crackerjack/config/per_file_ignores.py
  tests/unit/config/test_per_file_ignores.py
Due: validate-regex-patterns, pyright

fix(tests): add positive controls for per-file-ignores integration tests
  crackerjack/config/per_file_ignores.py
  tests/unit/config/test_per_file_ignores.py
Due: validate-regex-patterns, pyright

feat(hooks): extend ruff-check + ruff-format to scripts/ and examples/
  crackerjack/config/tool_commands.py
  tests/config/test_tool_commands.py
Due: validate-regex-patterns, pyright

feat(hooks): extend codespell + tc-refs targets to scripts/ and examples/
  crackerjack/config/tool_commands.py
  tests/config/test_tool_commands.py
Due: validate-regex-patterns, pyright

chore(tests): clean up ruff violations in test_audit_type_checking_runtime_refs
  tests/unit/test_audit_type_checking_runtime_refs.py
Due: validate-regex-patterns

chore: address parked refurb FURB findings (F4 follow-up)
  crackerjack/adapters/dependency/pip_audit.py
  crackerjack/checks/release_audit.py
  crackerjack/parsers/json_parsers.py
  crackerjack/tests/checks/test_release_audit.py
Due: validate-regex-patterns, pyright

refactor: extract helpers from PublishManagerImpl.bump_version (C901)
  crackerjack/managers/publish_manager.py
Due: validate-regex-patterns, pyright

fix(types): narrow recommendation to None-safe in _resolve_bump_type (ty)
  crackerjack/managers/publish_manager.py
Due: validate-regex-patterns, pyright

fix(release-audit): match dataclass fields with type annotations
  crackerjack/checks/release_audit.py
  crackerjack/tests/checks/test_release_audit.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.80.0
  CHANGELOG.md
  pyproject.toml
Due: none

test: add coverage for pip_audit_ignores (13% -> 100%)
  tests/unit/config/test_pip_audit_ignores.py
Due: validate-regex-patterns

test: add coverage for error_handling_decorators (10% to 96%)
  tests/unit/decorators/test_error_handling_decorators.py
Due: validate-regex-patterns

test: add coverage for docstring_extractor (12% → 97%)
  tests/unit/documentation/test_docstring_extractor.py
Due: validate-regex-patterns

test: add coverage for decorators/error_handling (0% to 99%)
  tests/unit/decorators/test_error_handling.py
Due: validate-regex-patterns

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
