Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

test: add comprehensive test suite for check_json tool
  tests/tools/test_check_json.py
Due: validate-regex-patterns

test: add comprehensive test suite for linkcheckmd wrapper
  tests/tools/test_linkcheckmd_wrapper.py
Due: validate-regex-patterns

test: add comprehensive test suite for check_jsonschema tool
  tests/tools/test_check_jsonschema.py
Due: validate-regex-patterns

test: add comprehensive test suite for codespell wrapper
  tests/tools/test_codespell_wrapper.py
Due: validate-regex-patterns

test: add comprehensive test suites for models (enums, qa_results, config_adapter)
  tests/models/test_config_adapter.py
  tests/models/test_enums.py
  tests/models/test_qa_results.py
Due: validate-regex-patterns

test: add comprehensive tests for task models
  tests/models/test_task.py
Due: validate-regex-patterns

test: add comprehensive tests for health_check models
  tests/models/test_health_check.py
Due: validate-regex-patterns

test: add comprehensive tests for semantic models
  tests/models/test_semantic_models.py
Due: validate-regex-patterns

test: add comprehensive tests for resource_protocols
  tests/models/test_resource_protocols.py
Due: validate-regex-patterns

test(models): add comprehensive tests for config.py with 85 tests
  tests/models/test_config.py
Due: validate-regex-patterns

test(models): add comprehensive tests for validation_contracts.py with 64 tests
  tests/models/test_validation_contracts.py
Due: validate-regex-patterns

test(models): add comprehensive tests for pydantic_models module
  tests/models/test_pydantic_models.py
Due: validate-regex-patterns

test(models): add tests for results, adapter_metadata, and test_models
  tests/models/test_adapter_metadata.py
  tests/models/test_results.py
  tests/models/test_test_models.py
Due: validate-regex-patterns

test(models): add comprehensive tests for qa_config module
  tests/models/test_qa_config.py
Due: validate-regex-patterns

test(models): add comprehensive tests for tool_config module
  tests/models/test_tool_config.py
Due: validate-regex-patterns

test(models): add comprehensive tests for git_analytics module
  tests/models/test_git_analytics.py
Due: validate-regex-patterns

test(models): add comprehensive tests for session_metrics module
  tests/models/test_session_metrics.py
Due: validate-regex-patterns

test(models): add comprehensive tests for protocols module
  tests/models/test_protocols.py
Due: validate-regex-patterns

fix: update tests to match current implementation defaults
  report.txt
  tests/adapters/test_provider_chain.py
  tests/unit/test_config_settings.py
  tests/unit/test_lychee_hook.py
  tests/unit/test_validation_contracts.py
  uv.lock
Due: validate-regex-patterns

fix: resolve test assertion mismatches and code bugs
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/agents/type_error_specialist.py
  report.txt
  tests/unit/adapters/refactor/test_refurb.py
  tests/unit/agents/test_import_optimization_agent.py
  tests/unit/agents/test_refactoring_agent.py
Due: validate-regex-patterns, pyright

fix: correct regex quantifier syntax in secret detection patterns
  crackerjack/services/security.py
Due: validate-regex-patterns, pyright

fix: resolve 3 more code bugs and skip mismatched test
  crackerjack/agents/planning_agent.py
  crackerjack/core/autofix_coordinator.py
  tests/unit/services/test_config_service.py
Due: validate-regex-patterns, pyright

fix: restore proper fragment validation indentation and skip unrealistic test
  crackerjack/agents/planning_agent.py
  tests/unit/agents/test_new_agents.py
Due: validate-regex-patterns, pyright

fix: correct fragment validation indentation for proper Python AST parsing
  crackerjack/agents/planning_agent.py
Due: validate-regex-patterns, pyright

fix: update test assertion to match formatter spacing behavior
  tests/unit/agents/test_import_optimization_agent.py
Due: validate-regex-patterns

fix: specify sqlite backend in adapter learning test
  crackerjack/agents/planning_agent.py
  report.txt
  tests/integration/test_dhara_integration.py
Due: validate-regex-patterns, pyright

docs: update report with final session 7 changes
  report.txt
Due: none

chore: bump version to 0.57.2
  crackerjack/adapters/dependency/pip_audit.py
  crackerjack/config/pip_audit_ignores.py
  crackerjack/config/tool_commands.py
  pyproject.toml
  tests/unit/services/test_config_parsers_coverage.py
  tests/unit/services/test_config_service_coverage.py
  tests/unit/services/test_config_template_coverage.py
  tests/unit/services/test_connection_pool_coverage.py
  tests/unit/services/test_security_logger.py
  tests/unit/services/test_smart_scheduling_coverage.py
  tests/unit/services/test_status_security.py
  tests/unit/services/test_tool_version_service.py
  tests/unit/services/test_ulid_generator.py
  tests/unit/services/test_version_checker_coverage.py
  tests/unit/test_coverage_targets.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.57.3
  pyproject.toml
  tests/unit/services/test_security_logger.py
  uv.lock
Due: validate-regex-patterns

chore: bump version to 0.57.4
  crackerjack/config/pip_audit_ignores.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

docs: add AI-fix comprehensive-stage overhaul design
  docs/superpowers/specs/2026-05-20-ai-fix-comprehensive-overhaul-design.md
Due: none

docs: add Phase 0 event bus implementation plan
  docs/superpowers/plans/2026-05-20-phase-0-event-bus-plan.md
Due: none

docs: update Phase 0 plan with multi-agent review findings
  docs/superpowers/plans/2026-05-20-phase-0-event-bus-plan.md
Due: none

feat(ai-fix): Phase 0 event bus — lifecycle events, sinks, and alive_progress removal
  crackerjack/core/ai_fix_event_bus.py
  crackerjack/core/ai_fix_events.py
  crackerjack/core/ai_fix_sinks.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/services/ai_fix_progress.py
  pyproject.toml
  tests/unit/core/test_ai_fix_event_bus.py
  tests/unit/core/test_ai_fix_events.py
  tests/unit/core/test_ai_fix_sinks.py
Due: validate-regex-patterns, pyright

feat(ai-fix): Phase 1 pre-flight expansion — config-driven static fixers before LLM
  crackerjack/core/ai_fix_events.py
  crackerjack/core/ai_fix_sinks.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/preflight.py
  tests/unit/core/test_preflight.py
Due: validate-regex-patterns, pyright

feat(ai-fix): Phase 2 — parallel agent dispatch
  crackerjack/agents/issue_clusterer.py
  crackerjack/agents/parallel_dispatcher.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/executors/hook_lock_manager.py
  tests/unit/agents/test_phase2_parallel_dispatch.py
Due: validate-regex-patterns, pyright

feat(ai-fix): Phase 3 — Rich Live dashboard
  crackerjack/ui/ai_fix_dashboard.py
  tests/unit/core/test_ai_fix_dashboard.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
