Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

fix(agents): improve refactoring agent type error handling
  crackerjack/agents/coordinator.py
  crackerjack/agents/refactoring_agent.py
Due: validate-regex-patterns, pyright

fix(tests): fix remaining root tests - 36 tests fixed
  crackerjack/agents/coordinator.py
  crackerjack/agents/refactoring_agent.py
  report.txt
  tests/test_agent_registry_population.py
Due: validate-regex-patterns, pyright

fix(tests): fix git service and performance agent tests
  crackerjack/integration/akosha_integration.py
  crackerjack/integration/session_buddy_mcp.py
  crackerjack/services/git.py
  report.txt
  tests/test_performance_agent_enhanced.py
  tests/unit/services/test_git.py
Due: validate-regex-patterns, pyright

fix(tests): update config_settings tests to match actual defaults
  report.txt
  tests/unit/test_config_settings.py
Due: validate-regex-patterns

fix(tests): fix py313 tests
  crackerjack/py313.py
  tests/test_py313.py
Due: validate-regex-patterns, pyright

fix(tests): remove duplicate broken placeholder test file
  tests/test_local_link_checker.py
Due: validate-regex-patterns

fix(tests): remove broken placeholder test files
  report.txt
  tests/test_check_jsonschema.py
  tests/test_codespell_wrapper.py
  tests/test_console.py
  tests/test_end_of_file_fixer.py
  tests/test_factory.py
  tests/test_format_json.py
  tests/test_json_parsers.py
  tests/test_linkcheckmd_wrapper.py
  tests/test_mdformat_wrapper.py
  tests/test_regex_parsers.py
  tests/test_secure_status_formatter.py
  tests/test_server.py
  tests/test_trailing_whitespace.py
Due: validate-regex-patterns

fix(tests): update proactive agent tests to match implementation
  report.txt
  tests/test_proactive_agent_system.py
Due: validate-regex-patterns

fix(websocket): remove extra space in permission string check
  crackerjack/__main__.py
  crackerjack/adapters/refactor/refurb.py
  crackerjack/agents/helpers/refactoring/code_transformer.py
  crackerjack/agents/pattern_agent.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/cli/mcp_cli.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/integration/akosha_integration.py
  crackerjack/integration/session_buddy_mcp.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/health_tools.py
  crackerjack/mcp/tools/mahavishnu_tools.py
  crackerjack/services/agent_delegator.py
  crackerjack/services/refurb_fixer.py
  crackerjack/services/swarm_client.py
  crackerjack/websocket/server.py
  report.txt
Due: validate-regex-patterns, pyright

fix(tests): update coverage_ratchet test to match actual format
  crackerjack/code_cleaner.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/services/ai/embeddings.py
  crackerjack/services/refurb_fixer.py
  crackerjack/services/security_logger.py
  crackerjack/services/template_detector.py
  tests/unit/services/test_coverage_ratchet.py
Due: validate-regex-patterns, pyright

feat(refurb): add FURB117, FURB173, FURB143, FURB141, FURB135, FURB111 patterns to SafeRefurbFixer
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/services/refurb_fixer.py
  crackerjack/websocket/server.py
  report.txt
Due: validate-regex-patterns, pyright

fix(tests): install onnxruntime and fix websocket permission
  report.txt
Due: none

fix(tests): fix skylos adapter tests
  crackerjack/adapters/refactor/skylos.py
  tests/unit/adapters/test_skylos_adapter.py
Due: validate-regex-patterns, pyright

Update config, core, deps, docs, tests
  CLAUDE.md
  README.md
  crackerjack/adapters/ai/base.py
  crackerjack/adapters/ai/ollama.py
  crackerjack/adapters/refactor/skylos.py
  crackerjack/agents/context_agent.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/executors/hook_executor.py
  crackerjack/integration/__init__.py
  crackerjack/integration/dhara_integration.py
  crackerjack/integration/session_buddy_integration.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/mcp/server_core.py
  crackerjack/memory/git_metrics_schema.sql
  crackerjack/runtime/oneiric_workflow.py
  crackerjack/services/ai/embeddings.py
  crackerjack/services/documentation_service.py
  crackerjack/services/file_chunker.py
  crackerjack/services/logging.py
  crackerjack/services/metrics_old.py.bak4
  crackerjack/services/refurb_fixer.py
  crackerjack/services/ulid_generator.py
  crackerjack/services/vector_store.py
  crackerjack/websocket/server.py
  docs/decisions/SKILLS_METRICS_ARCHITECTURE.md
  docs/diagrams/skills-ecosystem-mermaid.md
  docs/features/SKILLS_INTEGRATION.md
  docs/features/SYMBIOTIC_ECOSYSTEM_INTEGRATION.md
  docs/implementation-status.md
  docs/prompts/symbiotic-ecosystem-integration.md
  pyproject.toml
  scripts/README.md
  scripts/migrate_skills_to_sessionbuddy.py
  tests/unit/adapters/test_refurb_adapter.py
  tests/unit/adapters/test_semgrep_adapter.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.54.4
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps
  crackerjack/agents/formatting_agent.py
  crackerjack/agents/logic_validator.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/security_agent.py
  crackerjack/config/tool_commands.py
  crackerjack/services/ai/contextual_ai_assistant.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.54.5
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.54.6
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 63/100) - 2026-04-14 03:27:33
  report.txt
Due: none

checkpoint: crackerjack (quality: 70/100) - 2026-04-14 03:59:41
  crackerjack/agents/planning_agent.py
  crackerjack/core/autofix_coordinator.py
  report.txt
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 68/100) - 2026-04-14 04:54:28
  report.txt
Due: none

checkpoint: crackerjack (quality: 64/100) - 2026-04-14 05:04:15
  CHANGELOG.md
  crackerjack/agents/planning_agent.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/agents/validation_coordinator.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/performance_monitor.py
  crackerjack/integration/session_buddy_mcp.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/managers/test_command_builder.py
  crackerjack/parsers/lychee_parser.py
  crackerjack/services/incremental_executor.py
  crackerjack/services/refurb_fixer.py
  tests/integration/test_two_stage_workflow.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 62/100) - 2026-04-14 07:42:24
  crackerjack/adapters/_tool_adapter_base.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/security_agent.py
  crackerjack/agents/type_error_specialist.py
  crackerjack/agents/validation_coordinator.py
  crackerjack/config/tool_commands.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/integration/__init__.py
  crackerjack/integration/dhruva_integration.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/tools/check_added_large_files.py
  pyproject.toml
  report.txt
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 64/100) - 2026-04-14 09:00:33
  crackerjack/adapters/_tool_adapter_base.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/security_agent.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/integration/__init__.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/tools/check_added_large_files.py
Due: validate-regex-patterns, pyright

feat: export DharaLearningIntegration from integration package
  crackerjack/integration/__init__.py
Due: validate-regex-patterns, pyright

feat: add adapter_learning_enabled opt-in flag to LearningSettings
  crackerjack/config/settings.py
Due: validate-regex-patterns, pyright

feat: wire adapter learning tracking into QAOrchestrator
  crackerjack/services/quality/qa_orchestrator.py
Due: validate-regex-patterns, pyright

test: add tests for DharaLearningIntegration wiring
  tests/integration/test_dhara_integration.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 64/100) - 2026-04-14 11:00:37
  crackerjack/adapters/security/gitleaks.py
  crackerjack/cli/mcp_cli.py
  crackerjack/config/tool_commands.py
  crackerjack/parsers/json_parsers.py
Due: validate-regex-patterns, pyright

feat: add DharaAdapterLearner with ACID storage
  crackerjack/integration/dhara_integration.py
Due: validate-regex-patterns, pyright

fix: address code review issues in DharaAdapterLearner
  crackerjack/integration/dhara_integration.py
Due: validate-regex-patterns, pyright

feat: add backend selection to create_adapter_learner factory
  crackerjack/integration/dhara_integration.py
Due: validate-regex-patterns, pyright

feat: export DharaAdapterLearner and add backend setting
  crackerjack/config/settings.py
  crackerjack/integration/__init__.py
Due: validate-regex-patterns, pyright

test: add DharaAdapterLearner and factory backend tests
  tests/integration/test_dhara_integration.py
Due: validate-regex-patterns

fix: add close() to protocol, improve test coverage
  crackerjack/integration/dhara_integration.py
  tests/integration/test_dhara_integration.py
Due: validate-regex-patterns, pyright

feat: wire adapter learning into real execution path
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/hook_executor.py
  crackerjack/executors/lsp_aware_hook_executor.py
  crackerjack/managers/hook_manager.py
Due: validate-regex-patterns, pyright

chore: retire dead QA orchestrator subsystem
  crackerjack/models/__init__.py
  crackerjack/models/protocols.py
  crackerjack/models/qa_config.py
  crackerjack/services/quality/README.md
  crackerjack/services/quality/__init__.py
  crackerjack/services/quality/qa_orchestrator.py
  crackerjack/services/quality/quality_baseline.py
  crackerjack/services/quality/quality_baseline_enhanced.py
  crackerjack/services/quality/quality_intelligence.py
  tests/test_qa_orchestrator.py
Due: validate-regex-patterns, pyright

test: add tests for adapter learning in real execution path
  tests/unit/core/test_adapter_learning_integration.py
Due: validate-regex-patterns

feat: enable adapter learning by default
  crackerjack/config/settings.py
Due: validate-regex-patterns, pyright
