Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

checkpoint: crackerjack (quality: 66/100) - 2025-10-26 03:00:45
  crackerjack/executors/hook_lock_manager.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-10-26 11:20:52
  CHANGELOG.md
  tests/test_async_hook_executor.py
  tests/test_async_hook_executor_comprehensive.py
  tests/test_core_comprehensive.py
  tests/test_core_coverage.py
  tests/test_hook_executor_comprehensive.py
  tests/test_hook_manager_comprehensive.py
  tests/test_phase_coordinator_simple.py
  tests/test_stage_workflow_execution_order.py
  tests/test_unified_api.py
  tests/test_unified_config.py
  tests/test_workflow_orchestrator_ai_routing.py
  tests/test_workflow_pipeline.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 70/100) - 2025-10-26 18:26:51
  CHANGELOG.md
  CLAUDE.md.new
  tests/test_core_comprehensive.py
  tests/test_core_modules.py
  uv.lock
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 66/100) - 2025-10-26 21:26:50
  crackerjack/cli/handlers.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 66/100) - 2025-10-30 05:32:02
  .mcp.json.backup
  AGENTS.md
  CLAUDE.md
  crackerjack/__main__.py
  crackerjack/cli/cache_handlers.py
  crackerjack/cli/handlers.py
  crackerjack/config/__init__.py
  crackerjack/config/settings.py
  crackerjack/core/phase_coordinator.py
  crackerjack/core/workflow_orchestrator.py
  crackerjack/data/repository.py
  crackerjack/decorators/error_handling.py
  crackerjack/documentation/dual_output_generator.py
  crackerjack/exceptions/config.py
  crackerjack/executors/hook_lock_manager.py
  crackerjack/hooks/lsp_hook.py
  crackerjack/managers/hook_manager.py
  crackerjack/managers/publish_manager.py
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/core_tools.py
  crackerjack/mcp/tools/execution_tools.py
  crackerjack/mcp/tools/utility_tools.py
  crackerjack/mcp/websocket/monitoring_endpoints.py
  crackerjack/models/config.py
  crackerjack/models/protocols.py
  crackerjack/monitoring/websocket_server.py
  crackerjack/orchestration/config.py
  crackerjack/orchestration/coverage_improvement.py
  crackerjack/services/ai/advanced_optimizer.py
  crackerjack/services/bounded_status_operations.py
  crackerjack/services/changelog_automation.py
  crackerjack/services/config_integrity.py
  crackerjack/services/logging.py
  crackerjack/services/memory_optimizer.py
  crackerjack/services/monitoring/dependency_monitor.py
  crackerjack/services/monitoring/performance_benchmarks.py
  crackerjack/services/parallel_executor.py
  crackerjack/services/regex_patterns.py
  crackerjack/services/tool_version_service.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 66/100) - 2025-10-30 06:32:33
  README.md
  crackerjack/config/hooks.py
  crackerjack/executors/hook_executor.py
  docs/PRE-COMMIT-MIGRATION-STATUS.md
  docs/ai/AI-REFERENCE.md
  docs/guides/ADVANCED-FEATURES.md
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 66/100) - 2025-10-30 07:50:43
  .codespellrc
  .coverage-ratchet.json
  .gitignore
  ACB_ARCHITECTURE_ALIGNMENT_FINDINGS.md
  ANALYSIS_FINDINGS.md
  PROGRESS_REPORT.txt
  README.md
  START_HERE.md
  TEST_FAILURE_ANALYSIS.md
  TEST_FAILURE_ANALYSIS_INDEX.md
  TEST_FAILURE_SUMMARY.txt
  UPDATED_ARCHITECTURE_REFACTORING_PLAN.md
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  crackerjack/tools/_git_utils.py
  crackerjack/tools/check_toml.py
  crackerjack/tools/check_yaml.py
  crackerjack/tools/codespell_wrapper.py
  crackerjack/tools/end_of_file_fixer.py
  crackerjack/tools/trailing_whitespace.py
  docs/ARCHITECTURE_VIOLATIONS_AND_REFACTORING_PLAN.md
  docs/CONFIGURATION_SYSTEMS_GUIDE.md
  docs/architecture/adr/ADR-004-workflow-session-controller.md
  docs/monitoring/dashboard-design-draft.md
  pyproject.toml
  settings/adapters.yaml
  tests/coverage.json
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 66/100) - 2025-10-30 08:14:33
  crackerjack/config/tool_commands.py
  docs/PRE-COMMIT-MIGRATION-STATUS.md
Due: validate-regex-patterns, pyright

docs: add comprehensive improvement roadmap
  CHANGELOG.md
  docs/IMPROVEMENT-ROADMAP.md
Due: none

docs: streamline CLAUDE.md with improved architecture focus
  .mcp.json.backup
  CLAUDE.md
  docs/ACB_ARCHITECTURE_ALIGNMENT_FINDINGS.md
  docs/ANALYSIS_FINDINGS.md
  docs/ANALYSIS_MANIFEST.txt
  docs/MIGRATION-0.41.0.md
  docs/PROGRESS_REPORT.txt
  docs/SESSION_SUMMARY.md
  docs/START_HERE.md
  docs/TEST_FAILURE_ANALYSIS.md
  docs/TEST_FAILURE_ANALYSIS_INDEX.md
  docs/TEST_FAILURE_PATTERNS.json
  docs/TEST_FAILURE_SUMMARY.txt
  docs/UPDATED_ARCHITECTURE_REFACTORING_PLAN.md
Due: none

feat(workflows): Phase 2 Week 1 Day 2 - DI container Level 1-3 complete
  crackerjack/workflows/__init__.py
  crackerjack/workflows/container_builder.py
  docs/ACB-WORKFLOW-PHASE2-PROGRESS.md
Due: validate-regex-patterns, pyright

feat(workflows): complete Level 3.5 and HookManager registration
  crackerjack/orchestration/cache/README.md
  crackerjack/orchestration/strategies/README.md
  crackerjack/ui/templates/README.md
  crackerjack/workflows/container_builder.py
  docs/ACB-WORKFLOW-PHASE2-DEPENDENCY-MAP.md
  docs/ACB-WORKFLOW-PHASE2-PLAN.md
  scripts/README.md
  templates/README.md
  test_docs_site/README.md
  test_docs_site/site/README.md
  test_docs_site/site/docs/README.md
  test_docs_site/site/docs/stylesheets/README.md
  tests/README.md
  tests/adapters/README.md
  tests/agents/README.md
  tests/cli/README.md
  tests/config/README.md
  tests/core/README.md
  tests/data/README.md
  tests/docs/README.md
  tests/events/README.md
  tests/exceptions/README.md
  tests/executors/README.md
  tests/integration/README.md
  tests/managers/README.md
  tests/monitoring/README.md
  tests/orchestration/README.md
  tests/performance/README.md
  tests/scripts/README.md
  tests/services/README.md
  tests/test_cli/README.md
  tests/test_executors/README.md
  tests/tools/README.md
  tests/unit/README.md
  tools/README.md
Due: validate-regex-patterns, pyright

feat(workflows): complete Level 4 + 4.5 manager registration
  crackerjack/workflows/container_builder.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-05 13:22:56
  crackerjack/workflows/actions.py
  crackerjack/workflows/container_builder.py
  docs/ACB-WORKFLOW-PHASE2-COMPLETE.md
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-05 17:05:04
  crackerjack/__init__.py
  crackerjack/__main__.py
  crackerjack/api.py
  crackerjack/cli/handlers.py
  crackerjack/cli/options.py
  crackerjack/core/phase_coordinator.py
  crackerjack/dynamic_config.py
  crackerjack/py313.py
  crackerjack/workflows/actions.py
  crackerjack/workflows/container_builder.py
  crackerjack/workflows/engine.py
  docs/ACB-WORKFLOW-PHASE3-COMPLETE.md
  docs/ACB-WORKFLOW-PHASE4.0-COMPLETE.md
  docs/ACB-WORKFLOW-PHASE4.1-COMPLETE.md
  docs/PHASE-4.2-COMPLETION.md
  docs/performance-baseline.json
  docs/performance-baseline.md
  tools/validate_regex_patterns_standalone.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-05 19:24:17
  CHANGELOG.md
  README.md
  crackerjack/__init__.py
  crackerjack/__main__.py
  crackerjack/api.py
  crackerjack/cli/options.py
  crackerjack/config/hooks.py
  crackerjack/dynamic_config.py
  crackerjack/mcp/websocket/app.py
  crackerjack/mcp/websocket/event_bridge.py
  crackerjack/mcp/websocket/websocket_handler.py
  crackerjack/py313.py
  crackerjack/workflows/actions.py
  crackerjack/workflows/container_builder.py
  crackerjack/workflows/definitions.py
  docs/PHASE-6-COMPLETION-SUMMARY.md
  docs/PHASE-6-IMPLEMENTATION-PLAN.md
  docs/PHASE-6-PERFORMANCE-OPTIMIZATION.md
  docs/PHASE-7-EVENT-BUS-INTEGRATION.md
  docs/PHASE-7.2-COMPLETION-SUMMARY.md
  docs/PHASE-7.3-COMPLETION-SUMMARY.md
  docs/PHASES-5-6-7-SUMMARY.md
  docs/performance-baseline.json
  docs/performance-baseline.md
  tools/validate_regex_patterns_standalone.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-05 20:17:36
  crackerjack/__main__.py
  crackerjack/cli/handlers.py
  crackerjack/mcp/websocket/event_bridge.py
  crackerjack/workflows/actions.py
  crackerjack/workflows/definitions.py
  crackerjack/workflows/engine.py
  crackerjack/workflows/event_bridge.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-05 23:00:13
  CHANGELOG.md
  README.md
  crackerjack/workflows/__init__.py
  crackerjack/workflows/actions.py
  crackerjack/workflows/definitions.py
  uv.lock
Due: validate-regex-patterns, pyright

Update documentation
  CHANGELOG.md
Due: none

Update core, docs
  CHANGELOG.md
  crackerjack/core/container.py
  crackerjack/core/enhanced_container.py
  crackerjack/managers/publish_manager.py
  crackerjack/mcp/tools/workflow_executor.py
  crackerjack/workflows/container_builder.py
Due: validate-regex-patterns, pyright

config: raise large file limit to 1MB for comprehensive frameworks
  CHANGELOG.md
  crackerjack/config/tool_commands.py
  pyproject.toml
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-07 06:55:13
  .coverage-ratchet.json
  CHANGELOG.md
  README.md
  crackerjack/core/phase_coordinator.py
  crackerjack/mcp/websocket/event_bridge.py
  crackerjack/workflows/definitions.py
  crackerjack/workflows/engine.py
  uv.lock
Due: validate-regex-patterns, pyright

Update config, docs
  .coverage-ratchet.json
  CHANGELOG.md
  README.md
Due: none

checkpoint: crackerjack (quality: 70/100) - 2025-11-07 07:58:38
  .coverage-ratchet.json
  CHANGELOG.md
  crackerjack/__main__.py
  crackerjack/cli/options.py
  crackerjack/config/hooks.py
  crackerjack/core/phase_coordinator.py
  crackerjack/managers/test_manager.py
  docs/PUBLISH-WORKFLOW-ORDERING-FIX.md
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 66/100) - 2025-11-07 08:50:31
  CHANGELOG.md
  README.md
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  tests/config/test_tool_commands.py
  uv.lock
Due: validate-regex-patterns, pyright

Update core, docs
  CHANGELOG.md
  README.md
  crackerjack/config/tool_commands.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.42.2
  CHANGELOG.md
  pyproject.toml
Due: none

Update config, core, deps, docs
  .coverage-ratchet.json
  CHANGELOG.md
  README.md
  crackerjack/core/phase_coordinator.py
  crackerjack/managers/publish_manager.py
  crackerjack/models/protocols.py
  crackerjack/services/git.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.42.3
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 67/100) - 2025-11-07 10:50:56
  .coverage-ratchet.json
  crackerjack/cli/handlers.py
  crackerjack/core/phase_coordinator.py
  settings/crackerjack.yaml
  uv.lock
Due: validate-regex-patterns, pyright

Update core, docs
  CHANGELOG.md
  README.md
  crackerjack/code_cleaner.py
  crackerjack/mcp/server_core.py
Due: validate-regex-patterns

chore: bump version to 0.42.4
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 67/100) - 2025-11-07 12:34:59
  CLAUDE.md
  crackerjack/cli/options.py
  crackerjack/config/settings.py
  crackerjack/managers/test_command_builder.py
  crackerjack/managers/test_manager.py
  docs/TEST-PARALLELIZATION-IMPLEMENTATION-SUMMARY.md
  docs/TEST-PARALLELIZATION-REVIEW.md
  docs/TEST-PARALLELIZATION-STRATEGIES.md
  pyproject.toml
  settings/crackerjack.yaml
  tests/test_managers_consolidated.py
  tests/test_test_command_builder_workers.py
  uv.lock
Due: validate-regex-patterns, pyright

fix: mdformat timeout and enable auto-fix
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 66/100) - 2025-11-07 15:23:54
  crackerjack/core/phase_coordinator.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-07 17:08:15
  .coverage-ratchet.json
  CHANGELOG.md
  crackerjack/managers/hook_manager.py
  crackerjack/managers/test_command_builder.py
  crackerjack/managers/test_manager.py
  crackerjack/managers/test_progress.py
  crackerjack/orchestration/execution_strategies.py
  crackerjack/workflows/container_builder.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-07 17:27:37
  CHANGELOG.md
  crackerjack/managers/test_executor.py
  crackerjack/managers/test_manager.py
Due: validate-regex-patterns, pyright
