Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

fix: Remove hardcoded 'crackerjack' path assumptions
  crackerjack/__main__.py
  crackerjack/documentation/dual_output_generator.py
  crackerjack/executors/async_hook_executor.py
  crackerjack/executors/individual_hook_executor.py
Due: validate-regex-patterns, pyright

test: implement Phase 4 manager tests and remove broken smoke tests
  tests/test_agent_selector.py
  tests/test_autofix_coordinator.py
  tests/test_code_cleaner.py
  tests/unit/managers/test_test_manager.py
Due: validate-regex-patterns

Update deps, docs
  docs/complexity_refactoring_plan.md
  uv.lock
Due: none

chore: bump version to 0.44.9
  CHANGELOG.md
  pyproject.toml
Due: none

test: add comprehensive HookManager and PublishManager tests
  tests/unit/managers/test_hook_manager.py
  tests/unit/managers/test_publish_manager.py
Due: validate-regex-patterns

test: add comprehensive RefactoringAgent and SecurityAgent tests
  tests/unit/agents/test_refactoring_agent.py
  tests/unit/agents/test_security_agent.py
Due: validate-regex-patterns

fix: Use project directory name instead of hardcoded 'crackerjack' fallback
  crackerjack/config/tool_commands.py
Due: validate-regex-patterns, pyright

test: add comprehensive DRYAgent and FormattingAgent tests
  tests/unit/agents/test_dry_agent.py
  tests/unit/agents/test_formatting_agent.py
Due: validate-regex-patterns

fix: Make mdformat wrapper fail when it formats files
  crackerjack/tools/mdformat_wrapper.py
Due: validate-regex-patterns, pyright

fix: Show accurate issue counts in hook results table
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/async_hook_executor.py
  crackerjack/executors/individual_hook_executor.py
  crackerjack/models/task.py
  crackerjack/orchestration/hook_orchestrator.py
Due: validate-regex-patterns, pyright

test: add comprehensive PerformanceAgent and DocumentationAgent tests
  tests/unit/agents/test_documentation_agent.py
  tests/unit/agents/test_performance_agent.py
Due: validate-regex-patterns

fix: Capture error output for failed hooks with no parsed issues
  crackerjack/executors/async_hook_executor.py
Due: validate-regex-patterns, pyright

test: add comprehensive EnhancedProactiveAgent and SemanticAgent tests
  tests/unit/agents/test_enhanced_proactive_agent.py
  tests/unit/agents/test_semantic_agent.py
Due: validate-regex-patterns

test: add comprehensive ArchitectAgent and TestCreationAgent tests
  tests/unit/agents/test_architect_agent.py
  tests/unit/agents/test_test_creation_agent.py
Due: validate-regex-patterns

test: complete Phase 4 with TestSpecialistAgent and ImportOptimizationAgent tests
  tests/unit/agents/test_import_optimization_agent.py
  tests/unit/agents/test_test_specialist_agent.py
Due: validate-regex-patterns

test: add comprehensive orchestration tests (Phase 5 - Part 1)
  tests/unit/orchestration/test_advanced_orchestrator.py
  tests/unit/orchestration/test_execution_strategies.py
  tests/unit/orchestration/test_hook_orchestrator.py
Due: validate-regex-patterns

test: add comprehensive CLI layer tests (Phase 5 - Part 2)
  tests/unit/cli/test_facade.py
  tests/unit/cli/test_handlers.py
Due: validate-regex-patterns

test: add comprehensive SessionCoordinator tests
  tests/unit/core/test_session_coordinator.py
Due: validate-regex-patterns

test: add comprehensive AsyncTimeoutManager tests
  tests/unit/core/test_timeout_manager.py
Due: validate-regex-patterns

refactor: Simplify conditional expression in issue count calculation
  crackerjack/executors/async_hook_executor.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
