Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

fix: prevent gitignore from excluding coverage.py handler
  .gitignore
Due: none

chore: bump version to 0.53.1
  pyproject.toml
Due: none

fix: remove coverage.py and coverage.* from gitignore
  .gitignore
Due: none

chore: bump version to 0.53.2
  pyproject.toml
Due: none

chore: remove workflow checkpoints from git tracking
  .oneiric_cache/workflow_checkpoints.sqlite
  uv.lock
Due: none

chore: force remove workflow checkpoints from tracking
  .oneiric_cache/workflow_checkpoints.sqlite
Due: none

Update configuration
  .gitignore
Due: none

chore: bump version to 0.53.3
  CHANGELOG.md
  pyproject.toml
Due: none

chore: remove .oneiric_cache from git tracking
  .coverage
  .gitignore
  .oneiric_cache/domain_activity.sqlite
  .oneiric_cache/runtime_telemetry.json
  crackerjack/cli/options.py
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/config/tool_commands.py
  crackerjack/mcp/server_core.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

Update tests
  tests/unit/test_lychee_hook.py
Due: validate-regex-patterns

chore: bump version to 0.54.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: correct self.log to self.logger in PlanningAgent
  crackerjack/agents/planning_agent.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.54.1
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.54.2
  pyproject.toml
Due: none

fix: add .oneiric_cache and complexipy_results to cleanup patterns
  commands/tools/development/gitignore-management.md
  crackerjack/services/git_cleanup_service.py
Due: validate-regex-patterns, pyright

fix: AI fix system case-sensitivity bugs and filter non-file issues
  .gitignore
  crackerjack/agents/fixer_coordinator.py
  crackerjack/agents/planning_agent.py
  crackerjack/core/autofix_coordinator.py
  tests/unit/services/test_metrics.py
Due: validate-regex-patterns, pyright

fix: add execute_fix_plan method to FormattingAgent
  crackerjack/agents/formatting_agent.py
Due: validate-regex-patterns, pyright

fix: resolve linting and codespell issues
  .codespell-ignore
  commands/tools/monitoring/accessibility-audit.md
  commands/tools/monitoring/accessibility-audit.md.backup
  crackerjack/agents/formatting_agent.py
  crackerjack/agents/logic_validator.py
  crackerjack/config/settings.py
  crackerjack/services/pool_router.py
Due: validate-regex-patterns, pyright

fix: remove duplicate method definitions in ProactiveAgent
  crackerjack/agents/proactive_agent.py
Due: validate-regex-patterns, pyright

fix: remove duplicate method definitions causing F811 warnings
  crackerjack/hooks/pool_based_hooks.py
  crackerjack/services/pool_orchestrator.py
Due: validate-regex-patterns, pyright

feat: register all available fixer agents in FixerCoordinator
  crackerjack/agents/fixer_coordinator.py
Due: validate-regex-patterns, pyright

fix: remove nested asyncio.run() causing hang in V2 pipeline
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

fix: infinite loop in FixerCoordinator result collection
  crackerjack/agents/fixer_coordinator.py
Due: validate-regex-patterns, pyright

feat: enhance DocumentationAgent to handle broken links in V2 pipeline
  commands/workflows/deployment/api-versioning.md
  crackerjack/agents/documentation_agent.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/validation_coordinator.py
  docs/index.md
  templates/README.md
Due: validate-regex-patterns, pyright

fix: add missing _read_file_context method to RefactoringAgent
  crackerjack/agents/refactoring_agent.py
Due: validate-regex-patterns, pyright

chore: add backup files to .gitignore
  .gitignore
Due: none

fix: handle empty fix plans and increase skylos timeout
  crackerjack/agents/architect_agent.py
  crackerjack/agents/formatting_agent.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/agents/security_agent.py
  crackerjack/config/settings.py
  crackerjack/executors/individual_hook_executor.py
  pyproject.toml
Due: validate-regex-patterns, pyright

fix: pass exclude patterns to complexipy CLI
  crackerjack/adapters/complexity/complexipy.py
Due: validate-regex-patterns, pyright

docs: add AST Transform Engine design document
  docs/plans/2026-02-22-ast-transform-engine-design.md
Due: none

docs: update AST Transform Engine design with power trio review findings
  docs/plans/2026-02-22-ast-transform-engine-design.md
Due: none

Update config, core, deps, tests
  .coverage
  crackerjack/adapters/refactor/skylos.py
  crackerjack/agents/helpers/ast_transform/__init__.py
  crackerjack/agents/helpers/ast_transform/engine.py
  crackerjack/agents/helpers/ast_transform/exceptions.py
  crackerjack/agents/helpers/ast_transform/pattern_matcher.py
  crackerjack/agents/helpers/ast_transform/patterns/__init__.py
  crackerjack/agents/helpers/ast_transform/patterns/data_processing.py
  crackerjack/agents/helpers/ast_transform/patterns/decompose_conditional.py
  crackerjack/agents/helpers/ast_transform/patterns/early_return.py
  crackerjack/agents/helpers/ast_transform/patterns/extract_method.py
  crackerjack/agents/helpers/ast_transform/patterns/guard_clause.py
  crackerjack/agents/helpers/ast_transform/surgeons/__init__.py
  crackerjack/agents/helpers/ast_transform/surgeons/base.py
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/agents/helpers/ast_transform/surgeons/redbaron_surgeon.py
  crackerjack/agents/helpers/ast_transform/validator.py
  crackerjack/agents/planning_agent.py
  crackerjack/config/settings.py
  crackerjack/models/config.py
  crackerjack/services/ai/embeddings.py
  crackerjack/services/debug.py
  crackerjack/services/git.py
  crackerjack/services/message_deduplicator.py
  crackerjack/services/security_logger.py
  pyproject.toml
  tests/unit/services/test_git.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 75/100) - 2026-02-22 05:42:52
  crackerjack/adapters/refactor/skylos.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py.backup
  pyproject.toml
Due: validate-regex-patterns, pyright

Update core, docs
  crackerjack/agents/architect_agent.py
  crackerjack/agents/formatting_agent.py
  crackerjack/agents/helpers/ast_transform/exceptions.py
  crackerjack/agents/helpers/ast_transform/pattern_matcher.py
  crackerjack/agents/helpers/ast_transform/patterns/data_processing.py
  crackerjack/agents/helpers/ast_transform/patterns/early_return.py
  crackerjack/agents/helpers/ast_transform/patterns/extract_method.py
  crackerjack/agents/helpers/ast_transform/patterns/guard_clause.py
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/agents/helpers/ast_transform/validator.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/agents/security_agent.py
  crackerjack/config/settings.py
  crackerjack/executors/individual_hook_executor.py
  crackerjack/hooks/pool_based_hooks.py
  crackerjack/models/config.py
  crackerjack/services/git.py
  crackerjack/services/message_deduplicator.py
  docs/plans/2026-02-22-ast-transform-engine-design.md
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 75/100) - 2026-02-22 06:19:51
  crackerjack/config/tool_commands.py
  pyproject.toml
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 75/100) - 2026-02-22 07:01:12
  crackerjack/executors/progress_hook_executor.py
  pyproject.toml
Due: validate-regex-patterns, pyright

Fix AI-fix progress system and V2 pipeline bugs
  crackerjack/agents/anti_pattern_agent.py
  crackerjack/agents/planning_agent.py
  crackerjack/cli/_rich_utils.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/progress_hook_executor.py
  crackerjack/services/ai_fix_progress.py
  crackerjack/services/lsp_client.py
  docs/ALIVE_PROGRESS_REMOVAL_COMPLETE.md
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 75/100) - 2026-02-22 09:48:34
  crackerjack/adapters/treesitter/README.md
  crackerjack/adapters/treesitter/__init__.py
  crackerjack/adapters/treesitter/adapter.py
  crackerjack/services/ai_fix_progress.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 75/100) - 2026-02-22 09:59:31
  crackerjack/services/ai_fix_progress.py
Due: validate-regex-patterns, pyright
