Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

test: add 2 test files (mcp git analytics, task manager)
  tests/mcp/test_task_manager.py
  tests/unit/mahavishnu/mcp/tools/test_mcp_git_analytics.py
Due: validate-regex-patterns

chore: add 38 files (mostly additions, +7463/-195)
  report.txt
  tests/adapters/test_treesitter_adapter.py
  tests/cli/test_handlers.py
  tests/cli/test_profile_handlers.py
  tests/data/test_repository.py
  tests/mcp/test_task_manager.py
  tests/services/test_coverage_badge_service.py
  tests/services/test_intelligent_commit.py
  tests/skills/test_skill_metrics.py
  tests/test_agents/test_coordinator.py
  tests/test_agents/test_dead_code_removal_agent.py
  tests/test_agents/test_import_optimization_agent.py
  tests/test_agents/test_refurb_agent.py
  tests/test_ai_fix_event_bus.py
  tests/test_ai_fix_sinks.py
  tests/test_architectural_compliance.py
  tests/test_code_cleaner_comprehensive.py
  tests/test_core_autofix_coordinator.py
  tests/test_filesystem_coverage.py
  tests/test_integration_new_hooks.py
  tests/test_intelligence_system.py
  tests/test_mcp_core_tools.py
  tests/test_mcp_monitoring_tools.py
  tests/test_mcp_semantic_tools.py
  tests/test_mcp_utility_tools.py
  tests/test_mcp_workflow_executor.py
  tests/test_performance_agent_enhanced.py
  tests/test_reference_generator.py
  tests/test_reflection_loop.py
  tests/test_resource_manager.py
  tests/test_service_watchdog.py
  tests/test_session_buddy_git_metrics.py
  tests/test_shared_contracts.py
  tests/test_skylos_adapter.py
  tests/test_websocket_auth.py
  tests/tools/test_check_added_large_files.py
  tests/unit/agents/test_qwen_code_bridge.py
  tests/unit/agents/test_refactoring_agent_branches.py
Due: validate-regex-patterns

chore: update coverage report
  report.txt
Due: none

chore: add 21 files (mostly additions, +4347/-20)
  report.txt
  tests/agents/test_behavior_validator.py
  tests/integration/dhara_mcp_client_test.py
  tests/mcp/test_client_runner.py
  tests/mcp/test_mahavishnu_tools.py
  tests/performance/test_core_performance.py
  tests/services/test_memory_aware_scanner.py
  tests/services/test_pool_client.py
  tests/services/test_pool_scaler.py
  tests/test_executors/test_lock_integration.py
  tests/unit/agents/test_new_agents.py
  tests/unit/agents/test_planning_agent_fixes.py
  tests/unit/core/test_autofix_coordinator.py
  tests/unit/integration/test_mahavishnu_pool_dispatcher.py
  tests/unit/mcp/test_otel_tools_query_local_traces.py
  tests/unit/mcp/tools/__init__.py
  tests/unit/mcp/tools/test_git_metrics_mcp_tools.py
  tests/unit/memory/test_git_history_embedder.py
  tests/unit/memory/test_git_metrics_storage.py
  tests/unit/parsers/test_json_parsers.py
  tests/unit/parsers/test_regex_parsers.py
Due: validate-regex-patterns

test: add 6 test files (ai embeddings, constants, 4 more)
  tests/managers/test_constants.py
  tests/mcp_test_helpers/tools/test_semantic_tools.py
  tests/services/test_file_chunker.py
  tests/services/test_pool_router.py
  tests/unit/mcp/tools/test_workspace_tools.py
  tests/unit/services/ai/test_ai_embeddings.py
Due: validate-regex-patterns

chore: add 2 files (mostly additions, +19/-6)
  tests/mcp_test_helpers/tools/test_semantic_tools.py
  tests/unit/services/ai/test_ai_embeddings.py
Due: validate-regex-patterns

chore: batch of 1 file changes (+9/-7)
  tests/unit/services/ai/test_ai_embeddings.py
Due: validate-regex-patterns

chore: batch of 2 file changes (+13/-7)
  tests/mcp_test_helpers/tools/test_semantic_tools.py
  tests/unit/services/ai/test_ai_embeddings.py
Due: validate-regex-patterns

chore: add 10 files (mostly additions, +3813/-154)
  report.txt
  tests/managers/test_managers_constants.py
  tests/mcp_test_helpers/tools/test_execution_tools.py
  tests/mcp_test_helpers/tools/test_monitoring_tools.py
  tests/mcp_test_helpers/tools/test_semantic_tools.py
  tests/mcp_test_helpers/tools/test_workflow_executor.py
  tests/services/test_file_chunker.py
  tests/unit/services/ai/test_ai_contextual_assistant.py
  tests/unit/services/ai/test_ai_intelligent_commit.py
  tests/unit/services/ai/test_ai_predictive_analytics.py
Due: validate-regex-patterns

feat(coverage): add skill coverage report (Item 4)
  crackerjack/cli/coverage_cli.py
  crackerjack/skills/coverage.py
  tests/integration/test_skill_coverage_report.py
Due: validate-regex-patterns, pyright

fix(tests): stop phase_coordinator tests from polluting git history
  tests/unit/core/test_phase_coordinator_flows.py
Due: validate-regex-patterns

chore: clean up wave-7 worktree state (3 stale files + 2 whitespace fixes)
  _cov_measure.py
  crackerjack/__main__.py
  crackerjack/code_cleaner.py
  tests/managers/test_constants.py
  tests/unit/mahavishnu/mcp/tools/test_git_analytics.py
Due: validate-regex-patterns, pyright

fix(refurb): repair AI-fix pipeline for FURB113/FURB123 and add run context banner
  crackerjack/__main__.py
  crackerjack/agents/refurb_agent.py
  crackerjack/cli/coverage_cli.py
  crackerjack/services/refurb_fixer.py
  crackerjack/skills/coverage.py
  tests/services/test_refurb_fixer.py
Due: validate-regex-patterns, pyright

fix(refurb): drop placeholder f-string in _transform_list_copy
  crackerjack/agents/refurb_agent.py
Due: validate-regex-patterns, pyright

fix(refurb): implement handler for FURB183 (useless f-string)
  crackerjack/agents/refurb_agent.py
  tests/test_agents/test_refurb_agent.py
Due: validate-regex-patterns, pyright

fix(refurb): tier 1 audit fixes (FURB113/115/118/123/126) + e2e smoke test
  crackerjack/agents/refurb_agent.py
  crackerjack/services/refurb_fixer.py
  docs/audits/2026-06-12-furb-handler-audit-driver.py
  docs/audits/2026-06-12-furb-handler-audit.md
  tests/services/test_refurb_fixer.py
  tests/test_agents/test_refurb_e2e.py
Due: validate-regex-patterns, pyright

fix(refurb): tier 2 audit fixes (14 wrong-rule redirects)
  crackerjack/agents/refurb_agent.py
  tests/test_agents/test_refurb_agent.py
Due: validate-regex-patterns, pyright

fix(refurb): tier 3 sub-batch 5A — FURB110/116/125/133 handlers + tests
  crackerjack/agents/refurb_agent.py
  tests/test_agents/test_refurb_agent.py
Due: validate-regex-patterns, pyright

fix(refurb): tier 3 sub-batch 5B — FURB108/122/132/168/172/177/180/181/186/187/190 handlers + tests
  crackerjack/agents/refurb_agent.py
  tests/test_agents/test_refurb_agent.py
Due: validate-regex-patterns, pyright

fix(refurb): tier 3 sub-batch 5C — FURB119/134/157/167/175/176/184/185/189 handlers + tests
  crackerjack/agents/refurb_agent.py
  tests/test_agents/test_refurb_agent.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-06-13 23:47:25
  report.txt
  uv.lock
Due: none

test: refactoring helper coverage push — dead_code_detector/complexity_analyzer/code_transformer
  tests/unit/agents/helpers/refactoring/test_complexity_analyzer.py
  tests/unit/agents/helpers/refactoring/test_dead_code_detector.py
  tests/unit/agents/test_code_transformer.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 69/100) - 2026-06-15 04:17:09
  report.txt
Due: none

chore: bump version to 0.65.9
  CHANGELOG.md
  crackerjack/agents/refurb_agent.py.backup.json
  crackerjack/executors/hook_executor.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.65.10
  crackerjack/adapters/ai/base.py
  crackerjack/adapters/security/gitleaks.py
  crackerjack/agents/claude_code_bridge.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/qwen_code_bridge.py
  crackerjack/config/tool_commands.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/utils/python_fixups.py
  docs/adr/ADR-003-property-based-testing.md
  docs/adr/ADR-003-property-based-testing.md.backup.json
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.65.11
  .lycheeignore
  .lycheeignore.backup.json
  crackerjack/config/pip_audit_ignores.py
  crackerjack/config/tool_commands.py
  crackerjack/executors/hook_executor.py
  crackerjack/parsers/lychee_parser.py
  docs/adr/ADR-003-property-based-testing.md.backup.json
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

feat(ai-fix): add misc and untyped-decorator error handlers to PlanningAgent
  crackerjack/agents/planning_agent.py
Due: validate-regex-patterns, pyright

chore: add *.backup.json to .gitignore, untrack AI-fix artifact
  .gitignore
  .lycheeignore.backup.json
Due: none

chore: sync uv.lock to version 0.65.11
  uv.lock
Due: none
