Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

chore(types): Phase K+L test fixtures + plan doc + ratchet tighten
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
  examples/timeout_handling_example.py
  pyproject.toml
  scripts/migrate_skills_to_sessionbuddy.py
  tests/adapters/test_adapter_registry.py
  tests/adapters/test_ai_adapter.py
  tests/adapters/test_benchmark_adapter.py
  tests/agents/test_proactive_agent_diff_size.py
  tests/cli/test_command_validation.py
  tests/executors/test_hook_executor_coverage.py
  tests/integration/test_skills_recommender.py
  tests/mcp/test_task_manager.py
  tests/models/test_pydantic_models.py
  tests/parsers/test_json_parsers_extended.py
  tests/parsers/test_json_parsers_gaps.py
  tests/parsers/test_ruff_parser_edge_cases.py
  tests/skills/test_agent_skills_edge_cases.py
  tests/test_agents/test_coordinator_extended.py
  tests/test_async_hook_executor_concurrency.py
  tests/test_cli/test_global_lock_options.py
  tests/test_core_autofix_coordinator.py
  tests/test_docstring_conversion.py
  tests/test_enhanced_coordinator.py
  tests/test_health_check.py
  tests/test_interactive.py
  tests/test_workflow_optimization.py
  tests/unit/agents/helpers/ast_transform/surgeons/test_libcst_surgeon.py
  tests/unit/agents/test_refactoring_agent.py
  tests/unit/core/test_ai_fix_dashboard.py
  tests/unit/mahavishnu/mcp/tools/test_mcp_git_analytics.py
  tests/unit/mcp/tools/test_workspace_tools.py
  tests/unit/memory/test_git_history_embedder.py
  tests/unit/services/test_failure_recorder.py
  tests/unit/services/test_improvement_generator.py
  tests/unit/services/test_secure_subprocess.py
  tests/unit/test_config_settings.py
  tests/websocket/test_server.py
Due: validate-regex-patterns

fix(agents): Phase M bug-mask cleanup (18 or 1 + protocol reconciliation)
  crackerjack/agents/planning_agent.py
  crackerjack/cli/options.py
Due: validate-regex-patterns, pyright

chore(tests): Phase M test fixtures + plan doc (10 files)
  docs/audits/2026-06-12-furb-handler-audit-driver.py
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
  tests/adapters/test_ai_adapter.py
  tests/executors/test_hook_executor_coverage.py
  tests/skills/test_agent_skills_edge_cases.py
  tests/test_async_hook_executor_concurrency.py
  tests/test_core_autofix_coordinator.py
  tests/test_docstring_conversion.py
  tests/test_enhanced_coordinator.py
  tests/test_interactive.py
  tests/unit/mahavishnu/mcp/tools/test_mcp_git_analytics.py
Due: validate-regex-patterns

chore: Phase O — untrack complexipy-results.json + auto-cleanup
  .gitignore
  complexipy-results.json
  crackerjack/agents/validation_coordinator.py
  crackerjack/utils/temp_file_cleanup.py
Due: validate-regex-patterns, pyright

docs(plan): record Phase O complexipy-results.json accidental commit cleanup
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

chore(complexipy): route output to /tmp/ via --output flag (Phase O+)
  crackerjack/config/tool_commands.py
Due: validate-regex-patterns, pyright

test(websocket): fix invalid-argument-type suppressions (Phase N.B)
  tests/websocket/test_server.py
Due: validate-regex-patterns

test(planning-agent-fixes): remove stale xfail markers (Phase N.C)
  tests/unit/agents/test_planning_agent_fixes.py
Due: validate-regex-patterns

test(adapters): fix invalid-argument-type suppressions (Phase N.B)
  tests/adapters/test_adapter_registry.py
  tests/adapters/test_ai_adapter.py
Due: validate-regex-patterns

test(root-tests): fix invalid-argument-type suppressions (Phase N.B)
  tests/test_agents/test_coordinator_extended.py
  tests/test_docstring_conversion.py
  tests/test_health_check.py
  tests/test_workflow_optimization.py
Due: validate-regex-patterns

test(autofix): remove stale xfail markers for fixed production bugs (Phase N.A)
  tests/unit/core/test_autofix_coordinator.py
Due: validate-regex-patterns

test(parsers+autofix+concurrency): fix invalid-argument-type suppressions (Phase N.B)
  tests/parsers/test_ruff_parser_edge_cases.py
  tests/test_async_hook_executor_concurrency.py
  tests/test_core_autofix_coordinator.py
Due: validate-regex-patterns

test(distributed): fix invalid-argument-type suppressions (Phase N.B)
  tests/agents/test_proactive_agent_diff_size.py
  tests/cli/test_command_validation.py
  tests/integration/test_skills_recommender.py
  tests/mcp/test_task_manager.py
  tests/models/test_pydantic_models.py
  tests/unit/core/test_ai_fix_dashboard.py
  tests/unit/mcp/tools/test_workspace_tools.py
  tests/unit/memory/test_git_history_embedder.py
  tests/unit/services/test_failure_recorder.py
  tests/unit/services/test_improvement_generator.py
  tests/unit/services/test_secure_subprocess.py
Due: validate-regex-patterns

docs(plan): record Phase O+ and Phase N fan-out outcome
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

docs(plan): Phase P+Q draft — production diagnostic reduction + ratchet split
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

docs(plan): Phase Q.1 revisions + multi-agent review synthesis
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

fix(ty): P.D — drop 2 suppressions in parsers/utils/config/ (M → L)
  crackerjack/parsers/json_parsers.py
Due: validate-regex-patterns, pyright

test(ty-ratchet): Q.0 — add unit tests for crackerjack.tools.ty_ratchet
  tests/tools/test_ty_ratchet.py
Due: validate-regex-patterns

fix(ty): P.B — drop 12 suppressions in crackerjack/core/ (14 → 2)
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/performance.py
  crackerjack/core/phase_coordinator.py
  crackerjack/core/session_coordinator.py
Due: validate-regex-patterns, pyright

fix(ty): P.A — drop 20 suppressions in crackerjack/agents/ (M → L)
  crackerjack/agents/analysis_coordinator.py
  crackerjack/agents/helpers/ast_transform/engine.py
  crackerjack/agents/helpers/ast_transform/patterns/decompose_conditional.py
  crackerjack/agents/helpers/ast_transform/patterns/extract_method.py
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/agents/helpers/performance/performance_recommender.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/refurb_agent.py
  crackerjack/agents/type_error_specialist.py
Due: validate-regex-patterns, pyright

fix(ty): P.C — drop 43 suppressions in managers/services/cli/ (51 → 8)
  crackerjack/managers/async_hook_manager.py
  crackerjack/managers/hook_manager.py
  crackerjack/managers/test_executor.py
  crackerjack/managers/test_manager.py
  crackerjack/services/agent_delegator.py
  crackerjack/services/ai/embeddings.py
  crackerjack/services/ai_fix_progress.py
  crackerjack/services/config_cleanup.py
  crackerjack/services/documentation_service.py
  crackerjack/services/enhanced_filesystem.py
  crackerjack/services/logging.py
  crackerjack/services/memory_optimizer.py
  crackerjack/services/pycharm_mcp_integration.py
  crackerjack/services/refurb_fixer.py
  crackerjack/services/ulid_generator.py
  crackerjack/services/workflow_optimization.py
Due: validate-regex-patterns, pyright

docs(pyproject): Q.1.A — document ty_ratchet budget precedence
  pyproject.toml
Due: none

feat(ty-hook): Q.1.C — use --split mode for crackerjack comprehensive suite
  crackerjack/config/tool_commands.py
Due: validate-regex-patterns, pyright

feat(ty-audit): Q.1.E.b — implement ty suppression audit tool
  crackerjack/tools/ty_audit.py
Due: validate-regex-patterns, pyright

feat(ty-ratchet): Q.1.B — add --split mode for prod/test budgets
  crackerjack/tools/ty_ratchet.py
Due: validate-regex-patterns, pyright

test(ty-audit): Q.1.F — add regression tests for ty_audit tool
  tests/tools/test_ty_audit.py
Due: validate-regex-patterns

fix(ty-ratchet): Q.1 ramp — bump initial budgets to absorb current counts
  pyproject.toml
Due: none

style(format): post-crackerjack-run polish — ruff-format reformatting
  crackerjack/agents/helpers/ast_transform/patterns/decompose_conditional.py
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/type_error_specialist.py
  crackerjack/core/phase_coordinator.py
  crackerjack/services/config_cleanup.py
  crackerjack/services/pycharm_mcp_integration.py
  crackerjack/services/refurb_fixer.py
  crackerjack/services/ulid_generator.py
  crackerjack/services/workflow_optimization.py
  crackerjack/tools/ty_audit.py
  crackerjack/tools/ty_ratchet.py
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
  tests/tools/test_ty_audit.py
Due: validate-regex-patterns, pyright

docs(plan): Phase Q.1 results + Phase R scope (residual prod diagnostics)
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

docs(audit): R.E — first ty_audit triage report on tests/
  docs/audits/2026-06-28-tests-ty-audit.md
Due: none

fix(ty): R.D — drop 9 too-many-positional-arguments errors in oneiric_workflow
  crackerjack/runtime/oneiric_workflow.py
Due: validate-regex-patterns, pyright

fix(ty): R.B — drop 25 invalid-return-type errors in production code (M → L)
  crackerjack/agents/context_agent.py
  crackerjack/agents/dry_agent.py
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/decorators/error_handling.py
  crackerjack/integration/akosha_learning.py
  crackerjack/integration/dhara_integration.py
  crackerjack/integration/session_buddy_integration.py
  crackerjack/interactive.py
  crackerjack/managers/hook_manager.py
  crackerjack/managers/publish_manager.py
  crackerjack/memory/issue_embedder.py
  crackerjack/models/config_adapter.py
  crackerjack/services/filesystem.py
  crackerjack/services/refurb_fixer.py
Due: validate-regex-patterns, pyright

fix(ty): R.A — drop 21 unresolved-import errors in production code (M → L)
  crackerjack/adapters/lsp/_base.py
  crackerjack/adapters/lsp/_manager.py
  crackerjack/adapters/lsp/skylos.py
  crackerjack/adapters/lsp/zuban.py
  crackerjack/executors/tool_proxy.py
  crackerjack/integration/akosha_integration.py
  crackerjack/integration/dhara_mcp_client.py
  crackerjack/integration/mahavishnu_integration.py
  crackerjack/integration/mahavishnu_pool_dispatcher.py
  crackerjack/integration/session_buddy_mcp.py
  crackerjack/mcp/tools/workspace_tools.py
  crackerjack/memory/git_history_embedder.py
  crackerjack/memory/issue_embedder.py
  crackerjack/services/ai/embeddings.py
  crackerjack/services/pycharm_mcp_integration.py
  crackerjack/services/ulid_generator.py
Due: validate-regex-patterns, pyright

chore(ty): R.C — drop 6 unused-ignore-comment warnings in production
  crackerjack/adapters/type/pyright.py
  crackerjack/api.py
  crackerjack/decorators/error_handling.py
  crackerjack/executors/cached_hook_executor.py
  crackerjack/integration/mahavishnu_integration.py
Due: validate-regex-patterns, pyright

chore(ramp): R.F — Q.1 ramp Q.2 prod 200 → 150 (count is 56)
  pyproject.toml
Due: none

docs(plan): Phase R execution results
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

chore(deps): S.C — remove redundant pypistats exclusion + unused msgpack, pydantic-settings
  pyproject.toml
Due: none

fix(hooks): S.A — register cohesion + pymetrica, remove syrupy from comp hooks
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
Due: validate-regex-patterns, pyright

refactor(complexity): S.B — drop 2 cyclomatic complexity violations
  crackerjack/tools/ty_cleanup.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
