Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

checkpoint: crackerjack (quality: 65/100) - 2025-12-27 19:15:25
  crackerjack/__main__.py
  crackerjack/cli/lifecycle_handlers.py
  crackerjack/config/__init__.py
  crackerjack/config/hooks.py
  crackerjack/config/mcp_settings_adapter.py
  crackerjack/mcp/server_core.py
  crackerjack/runtime/__init__.py
  crackerjack/server.py
  docs/archive/completed-analyses/TEST_OPTIMIZATION_SUMMARY.md
  docs/archive/completed-analyses/TEST_TIMEOUT_ANALYSIS.md
  docs/archive/completed-planning/TEST_IMPROVEMENT_PLAN.md
  docs/archive/implementation-plans/MIGRATION_AUDIT.md
  docs/archive/implementation-plans/ONEIRIC_MIGRATION_EXECUTION_PLAN.md
  docs/archive/implementation-plans/ONEIRIC_MIGRATION_STATUS.md
  docs/archive/implementation-plans/PHASE-3-IMPLEMENTATION-PLAN.md
  docs/archive/implementation-plans/PHASE-4-IMPLEMENTATION-PLAN.md
  docs/archive/phase-completions/PHASE-2-REGRESSION-FIX-SUMMARY.md
  docs/archive/phase-completions/PHASE-3-COMPLETION-SUMMARY.md
  docs/archive/phase-completions/PHASE2_OPTIMIZATION_SUMMARY.md
  docs/archive/phase-completions/PHASE5B_PROGRESS.md
  docs/archive/phase-completions/PHASE5_TEST_FAILURE_ANALYSIS.md
  docs/reference/ADAPTER_UUID_REGISTRY.md
  docs/reference/BREAKING_CHANGES.md
  phase5_test_baseline.txt
  phase5b_full_run.txt
  phase5b_test_failures.txt
  pyproject.toml
  uv.lock
  validate_phase4_adapters.py
  validate_server_integration.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 65/100) - 2025-12-27 20:21:05
  CLAUDE.md
  crackerjack/__main__.py
  crackerjack/cli/handlers/main_handlers.py
  crackerjack/cli/options.py
  docs/CLI_OPTIONS_AUDIT.md
Due: validate-regex-patterns, pyright

chore: remove ACB migration scripts (Phase 4 complete)
  scripts/migrate_acb_imports.py
  scripts/migrate_di_decorators.py
Due: validate-regex-patterns

chore: bump version to 0.47.0
  pyproject.toml
Due: none

Add Crystal worktree patterns to .gitignore
  .gitignore
Due: none

chore: bump version to 0.47.1
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 71/100) - 2026-01-02 04:04:58
  .oneiric_cache/mcp_server.pid
  .oneiric_cache/runtime_health.json
  .oneiric_cache/runtime_telemetry.json
  .oneiric_cache/server.pid
  .oneiric_cache/workflow_checkpoints.sqlite
  TEST_TIMEOUT_FIX.md
  crackerjack/config/loader.py
  crackerjack/managers/hook_manager.py
  crackerjack/managers/test_executor.py
Due: validate-regex-patterns, pyright

Update config, deps, docs, tests
  .oneiric_cache/workflow_checkpoints.sqlite
  TEST_FIXTURE_FIX.md
  TEST_TIMEOUT_FIX.md
  settings/crackerjack.yaml
  tests/test_publish_manager_coverage.py
  uv.lock
Due: validate-regex-patterns

chore: bump version to 0.47.2
  pyproject.toml
Due: none

Update config, core, deps, docs, tests
  .oneiric_cache/domain_activity.sqlite
  .oneiric_cache/mcp_server.pid
  .oneiric_cache/runtime_health.json
  .oneiric_cache/runtime_telemetry.json
  .oneiric_cache/server.pid
  COMPREHENSIVE_TEST_STATUS.md
  PYPROJECT_TOML_CONFIGURATION_AUDIT.md
  TEST_FIXTURE_FIX.md
  TEST_FIX_SUMMARY.md
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/managers/hook_manager.py
  crackerjack/models/config_adapter.py
  focused_test_runner.py
  pyproject.toml
  tests/services/test_file_filter.py
  tests/test_api_comprehensive.py
  tests/test_large_modules_coverage.py
  tests/test_main_entry_coverage.py
  tests/test_managers_consolidated.py
  tests/test_models_comprehensive.py
  tests/test_models_config_adapter_coverage.py
  tests/test_models_focused.py
  tests/test_modernized_code.py
  tests/test_protocol_compliance.py
  tests/test_pydantic_models.py
  tests/test_qa_tool_adapters.py
  tests/test_session_coordinator_comprehensive.py
  tests/test_structured_errors.py
  tests/test_unified_api.py
  tests/unit/managers/test_hook_manager.py
  tests/unit/managers/test_test_manager.py
  uv.lock
  verify_test_status.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.47.3
  pyproject.toml
Due: none

Update config, core, deps, docs, tests
  COMPREHENSIVE_TEST_STATUS.md
  PYPROJECT_TOML_CONFIGURATION_AUDIT.md
  TEST_FIX_SUMMARY.md
  crackerjack/core/phase_coordinator.py
  crackerjack/core/workflow_orchestrator.py
  crackerjack/managers/test_executor.py
  crackerjack/managers/test_manager.py
  crackerjack/managers/test_progress.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.47.4
  pyproject.toml
Due: none

Update config, core, deps
  crackerjack/adapters/lsp/skylos.py
  crackerjack/cli/handlers/changelog.py
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/executors/hook_executor.py
  crackerjack/executors/process_monitor.py
  crackerjack/managers/publish_manager.py
  crackerjack/services/version_analyzer.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.47.5
  CHANGELOG.md
  pyproject.toml
Due: none

Update config, core, deps
  crackerjack/executors/hook_executor.py
  crackerjack/executors/process_monitor.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
