Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

chore: bump version to 0.47.16
  CHANGELOG.md
  pyproject.toml
Due: none

Update dependencies
  uv.lock
Due: none

chore: bump version to 0.47.17
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 65/100) - 2026-01-08 05:47:38
  crackerjack/code_cleaner.py
  tests/test_code_cleaner_comprehensive.py
  uv.lock
Due: validate-regex-patterns

chore: bump version to 0.47.18
  CHANGELOG.md
  pyproject.toml
Due: none

fix: reduce test failures from 73 to 49 (33% improvement)
  TEST_FAILURES_SUMMARY.md
  TEST_FIX_FINAL_REPORT.md
  TEST_FIX_PHASE_B_COMPLETE.md
  TEST_FIX_PLAN.md
  TEST_FIX_PROGRESS.md
  TEST_FIX_SESSION_PROGRESS.md
  TEST_FIX_SUMMARY.md
  crackerjack/code_cleaner.py
  crackerjack/core/session_coordinator.py
  tests/adapters/test_pyscn_adapter.py
  tests/exceptions/test_tool_execution_error.py
  tests/test_modernized_code.py
  tests/tools/test_check_added_large_files.py
  tests/tools/test_check_yaml.py
  tests/unit/agents/test_architect_agent.py
  tests/unit/agents/test_performance_agent.py
  tests/unit/core/test_session_coordinator.py
  tests/unit/managers/test_test_manager.py
  uv.lock
Due: validate-regex-patterns, pyright

style: format adapters/lint/README.md with mdformat
  crackerjack/adapters/lint/README.md
Due: none

checkpoint: crackerjack session analysis (quality: 92/100)
  CHECKPOINT_2025-01-10.md
Due: none

chore: cleanup cache and analyze coverage discrepancy
  COVERAGE_OPTIMIZATION_RECOMMENDATIONS.md
Due: none

docs: add comprehensive cleanup recommendations
  CLEANUP_RECOMMENDATIONS.md
Due: none

correction: fix flawed cleanup analysis
  CLEANUP_CORRECTION.md
Due: none

docs: add warning to flawed cleanup recommendations
  CLEANUP_RECOMMENDATIONS.md
Due: none

refactor: archive 6 unused modules (130 KB)
  .archive/unused-modules-2025-01-10/cache_handlers_enhanced.py
  .archive/unused-modules-2025-01-10/dependency_monitor.py
  .archive/unused-modules-2025-01-10/enhanced_container.py
  .archive/unused-modules-2025-01-10/enterprise_optimizer.py
  .archive/unused-modules-2025-01-10/error_pattern_analyzer.py
  .archive/unused-modules-2025-01-10/health_metrics.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 65/100) - 2026-01-12 02:17:16
  crackerjack/services/patterns/formatting.py
  crackerjack/services/patterns/security/code_injection.py
  crackerjack/services/patterns/security/credentials.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 65/100) - 2026-01-12 02:27:07
  TEST_SPELLING.md
Due: none

feat: complete comprehensive cleanup features (Steps 6-7)
  CLEANUP_FEATURES_IMPLEMENTATION_COMPLETE.md
  COMPREHENSIVE_CLEANUP_COMPLETE.md
  GITIGNORE_SMART_MERGE_COMPLETE.md
  SESSION_CHECKPOINT_REPORT.md
  SPRINT7_ANOMALY_DETECTOR_ANALYSIS.md
  SPRINT7_ANOMALY_DETECTOR_COMPLETE.md
  SPRINT7_COMPLETE.md
  SPRINT7_REGEX_UTILS_ANALYSIS.md
  SPRINT7_REGEX_UTILS_COMPLETE.md
  SPRINT8_COMPLEXIPY_ANALYSIS.md
  SPRINT8_PLAN.md
  STEPS_6_7_CONFIGURATION_COMPLETE.md
  crackerjack/cli/handlers/main_handlers.py
  crackerjack/cli/options.py
  crackerjack/config/settings.py
  crackerjack/core/phase_coordinator.py
  crackerjack/models/protocols.py
  crackerjack/runtime/oneiric_workflow.py
  crackerjack/services/config_cleanup.py
  crackerjack/services/doc_update_service.py
  crackerjack/services/documentation_cleanup.py
  crackerjack/services/git_cleanup_service.py
  crackerjack/services/security_logger.py
  settings/crackerjack.yaml
  tests/test_config_cleanup.py
  tests/test_doc_updates.py
  tests/test_documentation_cleanup.py
  tests/test_git_cleanup.py
  tests/unit/adapters/complexity/test_complexipy.py
  tests/unit/services/quality/test_anomaly_detector.py
  tests/unit/services/test_regex_utils.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
