Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

test: add comprehensive AutofixCoordinator tests
  tests/unit/core/test_autofix_coordinator.py
Due: validate-regex-patterns

test: add comprehensive file_lifecycle tests
  tests/unit/core/test_file_lifecycle.py
Due: validate-regex-patterns

refactoring
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/async_hook_executor.py
  crackerjack/models/task.py
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/tools/mdformat_wrapper.py
  uv.lock
Due: validate-regex-patterns, pyright

test: add comprehensive resource_manager tests
  tests/unit/core/test_resource_manager.py
Due: validate-regex-patterns

test: add comprehensive MCP rate_limiter tests
  tests/unit/mcp/test_rate_limiter.py
Due: validate-regex-patterns

test: add comprehensive MCP state tests
  tests/unit/mcp/test_state.py
Due: validate-regex-patterns

test: add comprehensive parallel_executor tests
  tests/unit/services/test_parallel_executor.py
Due: validate-regex-patterns

Update core, docs, tests
  TEST_IMPROVEMENT_PLAN.md
  crackerjack/executors/async_hook_executor.py
  tests/unit/agents/test_coordinator.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.10
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add comprehensive package refactoring plan
  REFACTORING_PLAN.md
Due: none

refactor: remove backup and duplicate files (Phase 1)
  crackerjack/managers/test_manager_backup.py
  crackerjack/mcp/tools/execution_tools_backup.py
  crackerjack/services/contextual_ai_assistant.py
  crackerjack/services/quality_intelligence.py
Due: validate-regex-patterns, pyright

refactor: split regex_patterns.py into organized domain modules
  crackerjack/services/patterns/__init__.py
  crackerjack/services/patterns/agents.py
  crackerjack/services/patterns/code/__init__.py
  crackerjack/services/patterns/code/detection.py
  crackerjack/services/patterns/code/imports.py
  crackerjack/services/patterns/code/paths.py
  crackerjack/services/patterns/code/performance.py
  crackerjack/services/patterns/code/replacement.py
  crackerjack/services/patterns/core.py
  crackerjack/services/patterns/documentation/__init__.py
  crackerjack/services/patterns/documentation/badges_markdown.py
  crackerjack/services/patterns/documentation/comments_blocks.py
  crackerjack/services/patterns/documentation/docstrings.py
  crackerjack/services/patterns/formatting.py
  crackerjack/services/patterns/security/__init__.py
  crackerjack/services/patterns/security/code_injection.py
  crackerjack/services/patterns/security/credentials.py
  crackerjack/services/patterns/security/path_traversal.py
  crackerjack/services/patterns/security/unsafe_operations.py
  crackerjack/services/patterns/templates.py
  crackerjack/services/patterns/testing/__init__.py
  crackerjack/services/patterns/testing/error_patterns.py
  crackerjack/services/patterns/testing/pytest_output.py
  crackerjack/services/patterns/tool_output/__init__.py
  crackerjack/services/patterns/tool_output/bandit.py
  crackerjack/services/patterns/tool_output/other.py
  crackerjack/services/patterns/tool_output/pyright.py
  crackerjack/services/patterns/tool_output/ruff.py
  crackerjack/services/patterns/url_sanitization.py
  crackerjack/services/patterns/utilities.py
  crackerjack/services/patterns/utils.py
  crackerjack/services/patterns/validation.py
  crackerjack/services/patterns/versioning.py
  crackerjack/services/regex_patterns.py
  crackerjack/services/regex_patterns_old.py
Due: validate-regex-patterns, pyright

refactor: split monitoring_endpoints.py into organized modules
  crackerjack/mcp/websocket/monitoring/__init__.py
  crackerjack/mcp/websocket/monitoring/api/__init__.py
  crackerjack/mcp/websocket/monitoring/api/dependencies.py
  crackerjack/mcp/websocket/monitoring/api/heatmap.py
  crackerjack/mcp/websocket/monitoring/api/intelligence.py
  crackerjack/mcp/websocket/monitoring/api/metrics.py
  crackerjack/mcp/websocket/monitoring/api/telemetry.py
  crackerjack/mcp/websocket/monitoring/dashboard.py
  crackerjack/mcp/websocket/monitoring/factory.py
  crackerjack/mcp/websocket/monitoring/models.py
  crackerjack/mcp/websocket/monitoring/utils.py
  crackerjack/mcp/websocket/monitoring/websocket_manager.py
  crackerjack/mcp/websocket/monitoring/websockets/__init__.py
  crackerjack/mcp/websocket/monitoring/websockets/dependencies.py
  crackerjack/mcp/websocket/monitoring/websockets/heatmap.py
  crackerjack/mcp/websocket/monitoring/websockets/intelligence.py
  crackerjack/mcp/websocket/monitoring/websockets/metrics.py
  crackerjack/mcp/websocket/monitoring_endpoints.py
  crackerjack/mcp/websocket/monitoring_endpoints_old.py
Due: validate-regex-patterns

docs: update REFACTORING_PLAN.md with Phase 2 progress
  REFACTORING_PLAN.md
Due: none

refactor: extract workflow_orchestrator.py into 5 focused modules
  crackerjack/core/workflow/__init__.py
  crackerjack/core/workflow/workflow_ai_coordinator.py
  crackerjack/core/workflow/workflow_event_orchestrator.py
  crackerjack/core/workflow/workflow_issue_parser.py
  crackerjack/core/workflow/workflow_phase_executor.py
  crackerjack/core/workflow/workflow_security_gates.py
  crackerjack/core/workflow_orchestrator.py
Due: validate-regex-patterns, pyright

docs: update REFACTORING_PLAN.md - Phase 2 100% complete
  REFACTORING_PLAN.md
Due: none

refactor: extract test_creation_agent helpers into focused modules
  crackerjack/agents/helpers/test_creation/__init__.py
  crackerjack/agents/helpers/test_creation/test_ast_analyzer.py
  crackerjack/agents/helpers/test_creation/test_coverage_analyzer.py
  crackerjack/agents/helpers/test_creation/test_template_generator.py
Due: validate-regex-patterns, pyright

refactor: extract performance and refactoring agent helpers
  crackerjack/agents/helpers/performance/__init__.py
  crackerjack/agents/helpers/performance/performance_ast_analyzer.py
  crackerjack/agents/helpers/performance/performance_pattern_detector.py
  crackerjack/agents/helpers/performance/performance_recommender.py
  crackerjack/agents/helpers/refactoring/__init__.py
  crackerjack/agents/helpers/refactoring/code_transformer.py
  crackerjack/agents/helpers/refactoring/complexity_analyzer.py
  crackerjack/agents/helpers/refactoring/dead_code_detector.py
Due: validate-regex-patterns, pyright

docs: update REFACTORING_PLAN.md - ALL PHASES COMPLETE
  REFACTORING_PLAN.md
Due: none

refactor: update agents to delegate to helper modules
  crackerjack/agents/performance_agent.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/agents/test_creation_agent.py
Due: validate-regex-patterns, pyright
