Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

fix(test/mcp): WorkflowOptions fixtures + MCP SDK ClientSession drift
  crackerjack/integration/session_buddy_mcp.py
  tests/test_integration_new_hooks.py
  tests/test_large_modules_coverage.py
  tests/test_modernized_code.py
Due: validate-regex-patterns, pyright

test(cleanup): align 5 final failures with current production
  crackerjack/cli/mcp_cli.py
  crackerjack/core/session_coordinator.py
  crackerjack/executors/hook_lock_manager.py
  crackerjack/fixers/test_creation.py
  crackerjack/fixers/test_specialist.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/models/protocols.py
  tests/executors/test_hook_executor_coverage.py
  tests/integration/dhara_mcp_client_test.py
  tests/integration/test_sandboxed_fix.py
  tests/models/test_protocols.py
  tests/unit/adapters/test_pyscn_cc_suppression.py
Due: validate-regex-patterns, pyright

fix(fast-hooks): clear 4 crackerjack fast-hook lint failures
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/session_coordinator.py
  tests/unit/services/test_secure_status_formatter.py
Due: validate-regex-patterns, pyright

fix(ty): clear 6 ty failures across autofix + skills + analytics
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/core/session_coordinator.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/services/ai_fix_progress.py
  crackerjack/skills/health.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.73.2
  CHANGELOG.md
  crackerjack/agents/base.py
  crackerjack/integration/git_metrics_integration.py
  crackerjack/integration/mahavishnu_integration.py
  crackerjack/memory/__init__.py
  crackerjack/memory/git_metrics_collector.py
  pyproject.toml
  report.txt
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.73.3
  crackerjack/adapters/security/betterleaks.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/session_coordinator.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  pyproject.toml
  tests/unit/adapters/test_betterleaks_adapter.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.73.4
  crackerjack/parsers/json_parsers.py
  pyproject.toml
  tests/unit/parsers/test_json_parsers.py
  uv.lock
Due: validate-regex-patterns, pyright

docs(audit): apply 2026-08-12 drift fixes
  AGENTS.md
  CLAUDE.md
  CLAUDE_ARCHITECTURE.md
  CLAUDE_PATTERNS.md
  CLAUDE_PROTOCOLS.md
  CLAUDE_QUICKSTART.md
  README.md
  docs/CLI_REFERENCE.md
Due: none

fix(crackerjack): correct fabricated MCP tool name + drop deleted stubs from tests
  README.md
  tests/test_claude_simple.py
  tests/test_publish_workflow.py
Due: validate-regex-patterns

docs(crackerjack): drop stale Zuban mention from CLI reference example
  docs/CLI_REFERENCE.md
Due: none

docs(crackerjack): drop stale Zuban mention from Comprehensive Hooks list
  docs/CLI_REFERENCE.md
Due: none

fix(crackerjack): CLAUDE.md:33 — replace '12 agents' with MCP tool count
  CLAUDE.md
Due: none

fix(crackerjack): QWEN.md:37,74 — drop '12 agents' claim + remove broken --ai-fix example
  QWEN.md
Due: none

fix(crackerjack): QUICKSTART.md:212,215,216,219,268 — drop broken --ai-fix invocations
  QUICKSTART.md
Due: none

fix(crackerjack): settings/qwen.example.yaml:9 — drop broken --ai-fix comment
  settings/qwen.example.yaml
Due: none

fix(crackerjack): adapters/type/README.md — correct default from Zuban to Ty
  crackerjack/adapters/type/README.md
Due: none

fix(crackerjack): __init__.py:65 — drop stale 0.19.8 fallback literal
  crackerjack/__init__.py
Due: validate-regex-patterns, pyright

fix(crackerjack): unescape quote in skills-ecosystem-mermaid Q node label
  docs/diagrams/skills-ecosystem-mermaid.md
Due: none

fix(crackerjack): rename Over participant to Ovsr in self-improvement sequence
  docs/architecture/MEMORY_ARCHITECTURE.md
Due: none

fix(crackerjack): rename Over participant to Ovsr in failure flow sequence
  docs/architecture/MEMORY_ARCHITECTURE.md
Due: none

fix(crackerjack): regenerate MEMORY_ARCHITECTURE schema map against surviving stores
  docs/architecture/MEMORY_ARCHITECTURE.md
Due: none

fix(crackerjack): drop list_skills and find_best_skill from read-groups diagram
  docs/architecture/MEMORY_ARCHITECTURE.md
Due: none

fix(crackerjack): update failure flow to surviving failure_recorder path
  docs/architecture/MEMORY_ARCHITECTURE.md
Due: none

fix(crackerjack): revert ai-agent-orchestration.png caption to pre-removal wording
  README.md
Due: none

fix(crackerjack): correct false "Used In: CLAUDE.md" in diagram index
  docs/diagrams/README.md
Due: none

fix(crackerjack): update adapter-taxonomy + quality-hooks captions for post-removal state
  README.md
Due: none

fix(crackerjack): correct README ASCII architecture diagram (Agent Orchestrator → PhaseCoordinator)
  README.md
Due: none

fix(crackerjack): mark AI Auto-Fix Engine as removed (2026-08-12)
  docs/ARCHITECTURE.md
Due: none

fix(crackerjack): mark SKILL_SYSTEM + ADR-002 + MEMORY_ARCHITECTURE diagrams as post-removal
  docs/SKILL_SYSTEM.md
  docs/adr/ADR-002-multi-agent-orchestration.md
  docs/architecture/MEMORY_ARCHITECTURE.md
Due: none

chore(crackerjack): git rm oneiric-skills-integration.mmd (unconsumable + stale)
  docs/diagrams/oneiric-skills-integration.mmd
Due: none

chore(crackerjack): git rm orphan agent-selection.png and layered-architecture.png
  docs/diagrams/agent-selection.png
  docs/diagrams/layered-architecture.png
Due: none

chore(crackerjack): git rm skills-ecosystem-mermaid.md (entirely stale)
  docs/diagrams/skills-ecosystem-mermaid.md
Due: none

fix(crackerjack): remove orphaned diagram entries from README after git rm
  docs/diagrams/README.md
Due: none

feat(crackerjack): add mermaid.parse() validator (services + JS runner)
  crackerjack/bin/validate-mermaid.mjs
  crackerjack/services/mermaid_renderer.py
Due: validate-regex-patterns, pyright

feat(crackerjack): add mermaid-render pytest test + check-mermaid CLI subcommand
  crackerjack/cli/docs_cli.py
  tests/unit/test_mermaid_renders.py
Due: validate-regex-patterns, pyright

feat(crackerjack): add jsdom dev dep for mermaid CI guard
  .gitignore
  package-lock.json
  package.json
Due: none

fix(crackerjack): use jsdom for DOM environment in mermaid validator
  crackerjack/bin/validate-mermaid.mjs
  crackerjack/services/mermaid_renderer.py
Due: validate-regex-patterns, pyright

chore(crackerjack): widen DEFAULT_SKIP_DIRS to include .crackerjack + uv
  crackerjack/services/mermaid_renderer.py
Due: validate-regex-patterns, pyright

chore: gitignore runtime artifacts + untrack previously-tracked cache files (bodai cleanup 2026-08-17)
  .gitignore
Due: none

chore: untrack previously-tracked runtime artifact cache files (bodai cleanup 2026-08-17)
  .coverage-ratchet.json
  .crackerjack.example.yaml
  docs/.oneiric_cache/domain_activity.sqlite
  docs/.oneiric_cache/workflow_checkpoints.sqlite
  docs/adr/ADR-003-property-based-testing.md.backup.json
  docs/guides/.oneiric_cache/domain_activity.sqlite
  docs/guides/.oneiric_cache/runtime_telemetry.json
  docs/guides/.oneiric_cache/workflow_checkpoints.sqlite
  scripts/run_ulid_migration.py.bak2
Due: none
