Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

chore(gitignore): drop stale coverage-ratchet negation (bodai 2026-08-17)
  .gitignore
Due: none

chore: bump version to 0.73.5
  .crackerjack.example.yaml
  CHANGELOG.md
  README.md
  crackerjack/__init__.py
  crackerjack/cli/docs_cli.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/services/mermaid_renderer.py
  package-lock.json
  package.json
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

fix(executors): populate structured issues in check-added-large-files parser path
  crackerjack/executors/async_hook_executor.py
  tests/test_async_hook_executor_parsing.py
Due: validate-regex-patterns, pyright

fix(executors): use extract_issue_lines filter in async raw-fallback
  crackerjack/executors/async_hook_executor.py
  tests/test_async_hook_executor_parsing.py
Due: validate-regex-patterns, pyright

fix(executors): dispatch ParserFactory as default fallthrough in async _parse_hook_output
  crackerjack/executors/async_hook_executor.py
  crackerjack/parsers/regex_parsers.py
  tests/test_async_hook_executor_parsing.py
Due: validate-regex-patterns, pyright

fix(parsers): extend extract_issue_lines separator coverage + log ruff-check alias
  crackerjack/parsers/regex_parsers.py
  crackerjack/utils/issue_detection.py
  tests/unit/utils/test_issue_detection.py
Due: validate-regex-patterns, pyright

fix(executors): use extract_issue_lines in sync path raw-fallback
  crackerjack/executors/hook_executor.py
  tests/executors/test_no_issues_for_failed_hook.py
Due: validate-regex-patterns, pyright

refactor(crackerjack): adopt mcp_common apply_tool_profile with CRACKERJACK_TOOL_PROFILE
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/__init__.py
  crackerjack/mcp/tools/discover_query.py
  crackerjack/mcp/tools/discover_tools.py
  crackerjack/mcp/tools/eventbridge_tools_wrapper.py
  crackerjack/mcp/tools/health_tools_wrapper.py
  crackerjack/mcp/tools/profiles.py
  docs/MCP_TOOLS_SPECIFICATION.md
  docs/architecture/MEMORY_ARCHITECTURE.md
  pyproject.toml
  tests/fixtures/_tool_groups_mapping.json
  tests/fixtures/_tool_registry_keys.json
  tests/fixtures/full/tool_names.json
  tests/unit/mcp/test_discover_tools.py
  tests/unit/mcp/test_mcp_tool_drift.py
  tests/unit/test_discover_tools_deletion.py
  tests/unit/test_tool_profile.py
  uv.lock
Due: validate-regex-patterns

fix(crackerjack): round 1 reviewer fixes for W2a MCP tool-profile retrofit
  crackerjack/mcp/tools/discover_query.py
  crackerjack/mcp/tools/profiles.py
  docs/architecture/MEMORY_ARCHITECTURE.md
  docs/architecture/tool-profile-rationale.md
  tests/unit/test_discover_query.py
  tests/unit/test_discover_tools_deletion.py
  tests/unit/test_tool_profile.py
Due: validate-regex-patterns

fix(crackerjack): add trailing newline to tool-profile-rationale.md
  docs/architecture/tool-profile-rationale.md
Due: none

fix(crackerjack): resolve 2 pre-existing test failures in fixer return-value-contract
  crackerjack/fixers/test_creation.py
  crackerjack/fixers/test_specialist.py
Due: validate-regex-patterns, pyright

docs(crackerjack): add Tool Profile System subsection to CLAUDE.md (W2a backfill)
  CLAUDE.md
Due: none

fix(crackerjack): collapse lychee Rust traceback frames into single issue
  crackerjack/executors/hook_executor.py
  tests/unit/test_lychee_hook.py
Due: validate-regex-patterns, pyright

docs(crackerjack): remove orphan decision-framework diagram (2026-08-19)
  docs/diagrams/README.md
  docs/diagrams/decision-framework.png
Due: none

docs(crackerjack): refresh stale hook and adapter counts (2026-08-19)
  README.md
  docs/MCP_TOOLS_SPECIFICATION.md
  docs/SKILL_SYSTEM.md
  report.txt
Due: none

test(crackerjack): add doc-drift CI guard (2026-08-19)
  tests/test_doc_drift.py
Due: validate-regex-patterns

fix(crackerjack): sync version stamps (2026-08-19)
  pyproject.toml
Due: none

docs(crackerjack): fix documented-but-not-wired audit findings (2026-08-19)
  QUICKSTART.md
Due: none

fix(crackerjack): align enable_ty default to True across cli/models
  crackerjack/cli/options.py
  crackerjack/models/config.py
Due: validate-regex-patterns, pyright

fix(crackerjack): remove stale 'will fail to import' NOTE from autofix_coordinator
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

chore(crackerjack): remove orphan .backup files from agents/ + update README
  crackerjack/agents/README.md
Due: none

fix(crackerjack): repair broken YAML frontmatter in commands/*.md
  .mdformat.toml
  commands/crackerjack-init.md
  commands/crackerjack-run.md
  commands/crackerjack-status.md
Due: none

fix(crackerjack): test_models_focused + test_config + test_validate — 4 tests
  crackerjack/cli/options.py
  crackerjack/models/config.py
Due: validate-regex-patterns, pyright

fix(crackerjack): skip_hooks + adapter_observability — 2 tests
  crackerjack/__init__.py
  crackerjack/config/__init__.py
  crackerjack/models/protocols.py
  crackerjack/services/__init__.py
Due: validate-regex-patterns, pyright

feat(crackerjack): standardize bootstrap_baseline_tools at crackerjack/mcp/server_core.py
  crackerjack/mcp/server_core.py
Due: validate-regex-patterns

fix(crackerjack): create annotated git tag in create_git_tag_local
  crackerjack/managers/publish_manager.py
Due: validate-regex-patterns, pyright

fix(crackerjack): ty + refurb errors in test_creation/test_specialist/hook_executor
  crackerjack/__init__.py
  crackerjack/agents/README.md
  crackerjack/config/__init__.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/executors/async_hook_executor.py
  crackerjack/executors/hook_executor.py
  crackerjack/fixers/test_creation.py
  crackerjack/fixers/test_specialist.py
  crackerjack/managers/publish_manager.py
  crackerjack/mcp/tools/discover_query.py
  crackerjack/models/protocols.py
  crackerjack/services/__init__.py
  crackerjack/services/mermaid_renderer.py
  docs/architecture/tool-profile-rationale.md
  report.txt
  tests/fixtures/_tool_groups_mapping.json
  uv.lock
Due: validate-regex-patterns, pyright

fix(crackerjack): rewrite type-ignore mentions in comments to satisfy ty
  crackerjack/fixers/test_creation.py
  crackerjack/fixers/test_specialist.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.74.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix(types): resolve unused ty:ignore directives and None callable error
  crackerjack/adapters/dependency/__init__.py
  crackerjack/executors/lsp_aware_hook_executor.py
  crackerjack/mcp/server_core.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.74.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(security): betterleaks scans from git root and auto-discovers config
  crackerjack/adapters/security/betterleaks.py
  tests/unit/adapters/test_betterleaks_adapter.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.74.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

perf(link-checker): bypass python-side gitignore filter (~62x speedup)
  crackerjack/tools/local_link_checker.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.74.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(link-checker): strip inline-code spans before extracting markdown links
  crackerjack/tools/local_link_checker.py
  tests/tools/test_local_link_checker.py
Due: validate-regex-patterns, pyright

fix(tools): prune noise dirs when loading .gitignore spec
  crackerjack/tools/_git_utils.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.74.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(claude-md): add oneiric action-kit discovery breadcrumb
  CLAUDE.md
Due: none

chore: bump requires-python to >=3.14
  pyproject.toml
Due: none

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
