Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

chore: bump version to 0.44.29
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.44.30
  pyproject.toml
Due: none

Update deps, docs, tests
  CODEBASE_REFACTORING_PLAN.md
  IMPLEMENTATION_SUMMARY.md
  tests/test_command_execution_service.py
  tests/test_config_service.py
  tests/test_enhanced_reporting.py
  tests/test_error_handling_decorators.py
  tests/test_file_io_service.py
  tests/test_phase2_scenarios.py
  tests/test_pydantic_models.py
  uv.lock
Due: validate-regex-patterns

Update deps, docs, tests
  docs/AUDIT_HOOKS_TOOLS.md
  docs/CONFIG_CONSOLIDATION_AUDIT.md
  docs/CROSS_PROJECT_CONFIG_AUDIT.md
  docs/ERROR_DETAILS_DISPLAY_FIX.md
  docs/HOOK_ISSUE_COUNT_DISPLAY_OPTIONS.md
  docs/HOOK_ISSUE_COUNT_FIX_SUMMARY.md
  docs/HOOK_ISSUE_COUNT_ROOT_CAUSE.md
  docs/HOOK_REPORTING_ANALYSIS.md
  docs/HOOK_REPORTING_FIX_SUMMARY.md
  docs/STRUCTURED_LOGGING.md
  docs/guides/AGENTS.md
  tests/test_command_execution_service.py
  tests/test_config_service.py
  tests/test_enhanced_reporting.py
  tests/test_error_handling_decorators.py
  tests/test_file_io_service.py
  tests/test_phase2_scenarios.py
  tests/test_pydantic_models.py
  uv.lock
Due: validate-regex-patterns

chore: bump version to 0.44.31
  CHANGELOG.md
  pyproject.toml
Due: none

cleanup
  ARGUMENT_LIST_TOO_LONG_FIX.md
  AUDIT_HOOKS_TOOLS.md
  CODEBASE_REFACTORING_PLAN.md
  CONFIG_CONSOLIDATION_AUDIT.md
  CROSS_PROJECT_CONFIG_AUDIT.md
  ERROR_DETAILS_DISPLAY_FIX.md
  FINAL_IMPLEMENTATION_SUMMARY.md
  HOOK_ISSUE_COUNT_DISPLAY_OPTIONS.md
  HOOK_ISSUE_COUNT_FIX_SUMMARY.md
  HOOK_ISSUE_COUNT_ROOT_CAUSE.md
  HOOK_REPORTING_ANALYSIS.md
  HOOK_REPORTING_FIX_SUMMARY.md
  IMPLEMENTATION_PLAN_ALL_FILES.md
  IMPLEMENTATION_SUMMARY.md
  ISSUE_COUNT_SUMMARY_TOTAL_FIX.md
  PHASE5_SERVICE_CONSOLIDATION_AUDIT.md
  README_AUDIT_REPORT.md
  STRUCTURED_LOGGING.md
  SYMBOL_DISPLAY_CRITICAL_FIX.md
  SYMBOL_DISPLAY_IMPLEMENTATION.md
  TEST_IMPROVEMENT_PLAN.md
  UNIFIED_IMPLEMENTATION_PLAN.md
Due: none

Update core, deps
  crackerjack/services/cache.py
  crackerjack/services/logging.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.32
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps
  crackerjack/config/__init__.py
  crackerjack/core/phase_coordinator.py
  crackerjack/utils/dependency_guard.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.33
  CHANGELOG.md
  pyproject.toml
Due: none

Update dependencies
  uv.lock
Due: none

chore: bump version to 0.44.34
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 72/100) - 2025-11-26 07:09:38
  crackerjack/__init__.py
  crackerjack/__main__.py
  crackerjack/executors/progress_hook_executor.py
  crackerjack/utils/dependency_guard.py
  docs/implementation-plan-logging-progress-fixes.md
  docs/python-improvements-summary.md
  docs/python-review-logging-progress-implementation.md
  uv.lock
Due: validate-regex-patterns, pyright

Update documentation
  docs/implementation-plan-logging-progress-fixes.md
  docs/python-improvements-summary.md
  docs/python-review-logging-progress-implementation.md
Due: none

chore: bump version to 0.44.35
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps
  crackerjack/__main__.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.36
  CHANGELOG.md
  pyproject.toml
Due: none

Update config, core, deps
  .complexipy_cache/346d6a806fea56b91b54f6d6f045ea9d.json
  .complexipy_cache/bef94ecf535630573281ff55967c2458.json
  .complexipy_cache/c1d117ed52a46eae766c3624d57ea038.json
  .complexipy_cache/d47a1d6b1cec40c1512cce53fb0799bf.json
  complexipy_results_2025_11_27__01:22:41.json
  complexipy_results_2025_11_27__01:28:03.json
  crackerjack/__main__.py
  settings/crackerjack.yaml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.37
  CHANGELOG.md
  pyproject.toml
Due: none
