Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

docs(ai-fix): record implementation plan and review-revision notes
  docs/superpowers/plans/2026-06-02-ai-fix-display-loop-bugs.md
Due: none

fix(ai-fix): v1 loop also tracks fixes_applied and passes iteration_count
  crackerjack/core/autofix_coordinator.py
  tests/test_core_autofix_coordinator.py
Due: validate-regex-patterns, pyright

style(ai-fix): ruff format + strengthen single-header test + cover footer
  crackerjack/core/autofix_coordinator.py
  crackerjack/services/ai_fix_progress.py
  tests/test_ai_fix_dashboard.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-06-02 21:47:08
  uv.lock
Due: none

test(ai-fix): strengthen v2 loop coverage + minor style/API fixes
  crackerjack/core/phase_coordinator.py
  crackerjack/services/ai_fix_progress.py
  tests/test_core_autofix_coordinator.py
  tests/test_phase_coordinator.py
Due: validate-regex-patterns, pyright

test(ai-fix): cover v1 finish_session not-success and except paths
  tests/test_core_autofix_coordinator.py
Due: validate-regex-patterns

fix(panels): account for panel border+padding in fast-hook results table
  crackerjack/core/phase_coordinator.py
  tests/test_fast_hook_results_panel.py
Due: validate-regex-patterns, pyright

refactor(ai-fix): collapse v2 iteration loop exit paths into helper
  crackerjack/core/autofix_coordinator.py
  tests/test_core_autofix_coordinator.py
Due: validate-regex-patterns, pyright

style(ai-fix): unify multi-line body construction to list+join
  crackerjack/services/ai_fix_progress.py
Due: validate-regex-patterns, pyright

fix(autofix): coerce file paths to str before sorting in error summary
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

fix(creosote): remove 9 redundant exclusions; declare aiosqlite
  pyproject.toml
Due: none

feat(dependency-agent): auto-fix creosote redundant exclusion issues
  crackerjack/agents/dependency_agent.py
  tests/unit/agents/test_dependency_agent.py
Due: validate-regex-patterns, pyright

feat(creosote-parser): emit Issue objects for redundant-exclusion patterns
  crackerjack/parsers/regex_parsers.py
  tests/parsers/test_regex_parsers.py
Due: validate-regex-patterns, pyright

fix(autofix): convert _execute_fast_fixes to async, offload to thread
  crackerjack/core/autofix_coordinator.py
  tests/core/autofix_coordinator_bugfix_test.py
  tests/test_core_autofix_coordinator.py
  tests/unit/core/test_autofix_coordinator.py
Due: validate-regex-patterns, pyright

fix(refurb+creosote): suppress FURB123, fix broken FURB102, reclassify aiosqlite
  crackerjack/core/autofix_coordinator.py
  crackerjack/parsers/regex_parsers.py
  pyproject.toml
Due: validate-regex-patterns, pyright

fix(autofix): restore str() coercion before json.dumps for backup metadata
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

fix(autofix): coerce Path to str before PyCharmMCPAdapter.reformat_file
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.64.0
  CHANGELOG.md
  crackerjack/agents/dependency_agent.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

fix(autofix): skip deterministic fast-fix pass in v2 comprehensive stage
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

test(autofix): mock _candidate_fixer_keys for plan-with-validation retry tests
  tests/test_core_autofix_coordinator.py
Due: validate-regex-patterns

build(deps): declare aiosqlite in adapter-learning extra
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.64.1
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 70/100) - 2026-06-03 11:10:49
  CHANGELOG.md
  crackerjack/core/autofix_coordinator.py
  crackerjack/parsers/regex_parsers.py
  crackerjack/services/ai_fix_progress.py
  tests/parsers/test_regex_parsers.py
  tests/services/ai/test_ai_fix_progress.py
  tests/unit/core/test_autofix_coordinator.py
  tests/unit/parsers/test_regex_parsers.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 70/100) - 2026-06-03 12:05:33
  crackerjack/parsers/regex_parsers.py
  crackerjack/services/async_file_io.py
  pyproject.toml
  tests/services/test_async_file_io.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 70/100) - 2026-06-03 12:57:17
  crackerjack/services/file_hasher.py
  tests/services/test_file_hasher.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-06-03 14:53:43
  crackerjack/__main__.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/services/aiosqlite_cleanup.py
  crackerjack/services/file_hasher.py
  tests/services/test_aiosqlite_cleanup.py
Due: validate-regex-patterns, pyright

docs: add Dhara MCP migration design spec
  docs/superpowers/specs/2026-06-03-dhara-mcp-migration-design.md
Due: none

docs(spec): clarify commit 1 removes _safe_close helper too
  docs/superpowers/specs/2026-06-03-dhara-mcp-migration-design.md
Due: none

docs(spec): incorporate review agent findings
  docs/superpowers/specs/2026-06-03-dhara-mcp-migration-design.md
Due: none

docs(rules+plan): allow docstrings, regenerate plan with docstrings
  RULES.md
  docs/superpowers/plans/2026-06-03-dhara-mcp-migration.md
Due: none

test(adapter-learning): regression test for aiosqlite worker leak
  tests/integration/test_aio_thread_leak_regression.py
Due: validate-regex-patterns

fix(adapter-learning): reap aiosqlite worker via weakref.finalize
  crackerjack/integration/dhara_integration.py
Due: validate-regex-patterns, pyright

feat(settings): add DharaMCPSettings for adapter-learning MCP client
  crackerjack/config/settings.py
Due: validate-regex-patterns, pyright

test(adapter-learning): first test for DharaMCPClient.record_time_series
  tests/integration/dhara_mcp_client_test.py
Due: validate-regex-patterns

test(adapter-learning): assert all 4 record_time_series arguments
  tests/integration/dhara_mcp_client_test.py
Due: validate-regex-patterns

feat(adapter-learning): add DharaMCPClient
  crackerjack/integration/dhara_mcp_client.py
  tests/integration/dhara_mcp_client_test.py
Due: validate-regex-patterns, pyright

refactor(adapter-learning): drop unused DharaMCPClientError
  crackerjack/integration/dhara_mcp_client.py
Due: validate-regex-patterns, pyright

test(adapter-learning): first tests for DharaMCPAdapterLearner
  tests/integration/dhara_mcp_adapter_learner_test.py
Due: validate-regex-patterns
