Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

fix(tests): fix multiple critical test issues
  crackerjack/adapters/ai/registry.py
  crackerjack/agents/helpers/retry_logic.py
  tests/services/test_file_filter.py
Due: validate-regex-patterns, pyright

feat(services): create missing crackerjack.services.metrics module
  crackerjack/services/metrics.py
  tests/integration/test_ai_fix_workflow.py
Due: validate-regex-patterns, pyright

fix(services): add missing methods to MetricsCollector
  crackerjack/services/metrics.py
Due: validate-regex-patterns, pyright

test: delete 11 legacy/obsolete test files
  tests/integration/agents/test_agent_workflow.py
  tests/integration/core/test_async_workflow_orchestrator.py
  tests/integration/core/test_workflow_orchestrator.py
  tests/integration/test_cli_workflows.py
  tests/integration/test_core_integration.py
  tests/integration/test_thread_safety.py
  tests/test_api_comprehensive.py
  tests/test_async_workflow_orchestrator.py
  tests/test_pytest_features.py
  tests/test_unified_api.py
  tests/unit/services/test_metrics.py
Due: validate-regex-patterns

fix(memory): fix critical bugs in FixStrategyStorage
  crackerjack/memory/fix_strategy_storage.py
Due: validate-regex-patterns, pyright

fix(tests): fix design flaw, code bug, and flaky test issues
  crackerjack/adapters/_tool_adapter_base.py
  crackerjack/core/autofix_coordinator.py
  tests/adapters/test_tool_adapter_base.py
  tests/integration/core/test_phase_coordinator.py
  tests/integration/test_ai_fix_workflow.py
  tests/integration/test_akosha_integration.py
Due: validate-regex-patterns, pyright

fix(tests): fix remaining flaky tests in git_semantic_search
  crackerjack/integration/git_semantic_search.py
  tests/integration/test_git_semantic_search.py
Due: validate-regex-patterns, pyright

fix(tests): fix symbiotic_ecosystem and resource_manager tests
  crackerjack/integration/git_semantic_search.py
  crackerjack/memory/fix_strategy_storage.py
  crackerjack/memory/git_metrics_collector.py
  crackerjack/memory/strategy_recommender.py
  tests/integration/core/test_resource_manager.py
  tests/integration/test_symbiotic_ecosystem.py
Due: validate-regex-patterns, pyright

chore: add archive/backup directories to gitignore
  .archive/unused-modules-2025-01-10/cache_handlers_enhanced.py
  .archive/unused-modules-2025-01-10/dependency_monitor.py
  .archive/unused-modules-2025-01-10/enhanced_container.py
  .archive/unused-modules-2025-01-10/enterprise_optimizer.py
  .archive/unused-modules-2025-01-10/error_pattern_analyzer.py
  .archive/unused-modules-2025-01-10/health_metrics.py
  .gitignore
Due: validate-regex-patterns

fix(services): fix SQLite Path binding and regex backreference issues
  crackerjack/services/marker_tracker.py
  crackerjack/services/patterns/operations.py
Due: validate-regex-patterns, pyright

fix(services): fix Path vs str type errors and swarm initialization bug
  crackerjack/agents/refurb_agent.py
  crackerjack/services/doc_categorizer.py
  crackerjack/services/file_filter.py
  crackerjack/services/git_cleanup_service.py
  crackerjack/services/swarm_client.py
  crackerjack/services/vector_store.py
Due: validate-regex-patterns, pyright

fix(tests): fix 193 tests across architectural_compliance, analytics, code_cleaner
  crackerjack/integration/mahavishnu_integration.py
  crackerjack/memory/git_metrics_collector.py
  crackerjack/services/secure_path_utils.py
  crackerjack/services/security_logger.py
  tests/test_architectural_compliance.py
  tests/unit/cli/handlers/test_analytics.py
  tests/unit/test_code_cleaner.py
Due: validate-regex-patterns, pyright

fix(config): remove invalid --exclude flags from pyscn command
  .gitignore
  CLAUDE.md
  crackerjack/config/tool_commands.py
  pyproject.toml
  tests/test_swarm_client.py
Due: validate-regex-patterns, pyright

fix(docs): fix broken links and add semgrep exclusion
  crackerjack/agents/fixer_coordinator.py
  docs/adr/ADR-001-mcp-first-architecture.md
  docs/plans/2025-02-12-multi-agent-ai-fix-quality-system-design.md
Due: validate-regex-patterns, pyright

fix(tests): fix coverage_manager and hook_executor tests
  tests/unit/services/testing/test_coverage_manager.py
  tests/unit/test_hook_executor.py
Due: validate-regex-patterns

fix(security): configure gitleaks to ignore false positives
  .gitleaks.toml
  .gitleaksignore
Due: none

fix(tests): fix main_handlers, enhanced_coordinator, skills_tracking tests
  crackerjack/agents/planning_agent.py
  crackerjack/integration/skills_tracking.py
  tests/integration/test_skills_tracking.py
  tests/test_enhanced_coordinator.py
  tests/unit/handlers/test_main_handlers.py
Due: validate-regex-patterns, pyright

fix(agents): fix syntax error in planning_agent.py TYPE_ERROR_FIX_EXAMPLES
  crackerjack/agents/planning_agent.py
Due: validate-regex-patterns, pyright

fix(types): fix 7 Path vs str type errors in pattern_detector.py
  crackerjack/services/pattern_detector.py
Due: validate-regex-patterns, pyright

fix(types): Phase 2 progress - 104 errors remaining
  crackerjack/integration/skills_tracking.py
Due: validate-regex-patterns, pyright

fix(tests): rename helper class to avoid pytest collection warning
  crackerjack/integration/skills_tracking.py
  crackerjack/managers/test_manager.py
  crackerjack/mcp/tools/git_metrics_tools.py
  crackerjack/memory/fix_strategy_storage.py
  crackerjack/models/enums.py
  crackerjack/services/enhanced_filesystem.py
  crackerjack/services/git.py
  crackerjack/services/version_analyzer.py
  crackerjack/shell/session_compat.py
  tests/integration/test_migration.py
  tests/unit/agents/test_enhanced_proactive_agent.py
Due: validate-regex-patterns, pyright

fix(tests): fix mock patching paths in migration tests
  crackerjack/services/config_parsers.py
  crackerjack/skills/metrics.py
  report.txt
  tests/integration/test_migration.py
  tests/test_config_service.py
  tests/unit/services/test_api_extractor.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(types): Phase 3 progress - 65 errors remaining
  crackerjack/services/file_hasher.py
  crackerjack/services/lsp_client.py
  crackerjack/skills/metrics.py
Due: validate-regex-patterns, pyright

fix(types): Phase 3 progress - 62 errors remaining
  crackerjack/services/documentation_service.py
  crackerjack/services/swarm_client.py
Due: validate-regex-patterns, pyright

fix(types): Phase 3 progress - 58 errors remaining
  crackerjack/integration/mahavishnu_learning.py
  crackerjack/intelligence/adaptive_learning.py
  crackerjack/memory/git_history_embedder.py
  crackerjack/services/agent_delegator.py
  tests/conftest.py
  tests/integration/test_phase8_direct_invocation.py
Due: validate-regex-patterns, pyright

fix(types): fix git_metrics_tools.py API compatibility
  crackerjack/mcp/tools/git_metrics_tools.py
  tests/integration/test_phase8_direct_invocation.py
Due: validate-regex-patterns

fix(types): fix type ignore error codes in skills/metrics.py
  crackerjack/skills/metrics.py
Due: validate-regex-patterns, pyright

fix(types): fix session_buddy_integration type ignore code
  crackerjack/integration/session_buddy_integration.py
  tests/test_base.py
  tests/unit/skills/test_agent_skills.py
Due: validate-regex-patterns, pyright

fix(tests): fix retry tests and shell adapter
  crackerjack/shell/adapter.py
  tests/test_retry.py
Due: validate-regex-patterns, pyright

fix(tests): fix retry tests and hook_manager tests
  tests/test_retry.py
  tests/unit/managers/test_hook_manager.py
Due: validate-regex-patterns

fix(core): resolve syntax errors in autofix_coordinator.py
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/proactive_workflow.py
  crackerjack/integration/mahavishnu_integration.py
  crackerjack/integration/mahavishnu_learning.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/memory/fix_strategy_storage.py
  crackerjack/parsers/json_parsers.py
  crackerjack/services/refurb_fixer.py
Due: validate-regex-patterns, pyright

fix(tests): correct mock patch paths in hook_manager tests
  crackerjack/core/proactive_workflow.py
  crackerjack/executors/cached_hook_executor.py
  crackerjack/executors/hook_executor.py
  crackerjack/integration/akosha_integration.py
  crackerjack/integration/skills_effectiveness_tracking.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/managers/test_executor.py
  crackerjack/mcp/tools/pycharm_tools.py
  crackerjack/services/enhanced_filesystem.py
  crackerjack/services/lsp_client.py
  crackerjack/services/refurb_fixer.py
  crackerjack/services/safe_code_modifier.py
  tests/test_hook_manager_simple.py
  tests/unit/managers/test_hook_manager_extended.py
Due: validate-regex-patterns, pyright

fix(tests): use mocker fixture instead of @patch decorators
  CLAUDE.md
  crackerjack/adapters/_tool_adapter_base.py
  crackerjack/agents/formatting_agent.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/cli/options.py
  crackerjack/config/settings.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/integration/git_semantic_search.py
  crackerjack/integration/mahavishnu_integration.py
  crackerjack/integration/skills_effectiveness_tracking.py
  crackerjack/integration/skills_tracking.py
  crackerjack/intelligence/adaptive_learning.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/mcp/state.py
  crackerjack/memory/git_metrics_collector.py
  crackerjack/services/agent_delegator.py
  crackerjack/services/config_parsers.py
  crackerjack/services/metrics.py
  crackerjack/services/refurb_fixer.py
  crackerjack/services/swarm_client.py
  crackerjack/shell/session_compat.py
  docs/plans/swarm-autofix-integration.md
  report.txt
  tests/unit/managers/test_test_manager_coverage.py
Due: validate-regex-patterns, pyright

docs: remove broken link from ADR-001
  docs/adr/ADR-001-mcp-first-architecture.md
Due: none

fix(tests): resolve import conflicts and skip mismatched API tests
  crackerjack/agents/dead_code_removal_agent.py
  crackerjack/agents/pattern_agent.py
  crackerjack/integration/mahavishnu_integration.py
  report.txt
  tests/mcp_test_helpers/__init__.py
  tests/mcp_test_helpers/tools/__init__.py
  tests/mcp_test_helpers/tools/test_pycharm_tools.py
  tests/unit/services/test_config_service.py
Due: validate-regex-patterns, pyright

fix(tests): remove self parameter from standalone test functions
  tests/test___main__.py
  tests/test_autofix_coordinator.py
  tests/test_check_added_large_files.py
  tests/test_check_jsonschema.py
  tests/test_check_yaml.py
  tests/test_end_of_file_fixer.py
  tests/test_factory.py
  tests/test_json_parsers.py
  tests/test_local_link_checker.py
  tests/test_performance_monitor.py
  tests/test_phase_coordinator.py
  tests/test_proactive_agent_system.py
  tests/test_py313.py
  tests/test_server.py
  tests/test_session_coordinator.py
  tests/test_timeout_manager.py
  tests/test_trailing_whitespace.py
  tests/test_workflow_orchestrator.py
  tests/unit/shell/test_adapter.py
Due: validate-regex-patterns

fix(tests): restore self parameter to class fixtures
  crackerjack/core/phase_coordinator.py
  tests/test_proactive_agent_system.py
Due: validate-regex-patterns, pyright

fix(tests): skip TestProactiveAgentCoordination due to API change
  crackerjack/adapters/ai/base.py
  crackerjack/adapters/refactor/skylos.py
  crackerjack/agents/context_agent.py
  crackerjack/agents/helpers/refactoring/code_transformer.py
  crackerjack/agents/planning_agent.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/hook_executor.py
  crackerjack/services/file_chunker.py
  crackerjack/services/vector_store.py
  report.txt
  tests/test_proactive_agent_system.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
