Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

docs: note DharaMCPAdapterLearner transport in ecosystem integration doc
  docs/features/SYMBIOTIC_ECOSYSTEM_INTEGRATION.md
Due: none

feat(adapter-learning): add DharaMCPAdapterLearner
  crackerjack/integration/dhara_integration.py
  tests/integration/dhara_mcp_adapter_learner_test.py
Due: validate-regex-patterns, pyright

fix(adapter-learning): complete AdapterLearnerProtocol in DharaMCPAdapterLearner
  crackerjack/integration/dhara_integration.py
  docs/features/SYMBIOTIC_ECOSYSTEM_INTEGRATION.md
  tests/integration/dhara_mcp_adapter_learner_test.py
Due: validate-regex-patterns, pyright

feat(adapter-learning): factory walks MCP -> Dhara -> SQLite -> NoOp
  crackerjack/integration/dhara_integration.py
  tests/integration/test_dhara_integration.py
Due: validate-regex-patterns, pyright

fix(adapter-learning): address Task 7 quality review
  crackerjack/integration/dhara_integration.py
Due: validate-regex-patterns, pyright

chore(adapter-learning): remove obsolete aiosqlite_cleanup module
  crackerjack/__main__.py
  crackerjack/services/aiosqlite_cleanup.py
  tests/services/test_aiosqlite_cleanup.py
Due: validate-regex-patterns, pyright

fix(adapter-learning): actually send bearer token and enforce timeout
  crackerjack/config/settings.py
  crackerjack/integration/dhara_mcp_client.py
  docs/superpowers/plans/2026-06-03-dhara-mcp-migration.md
  docs/superpowers/specs/2026-06-03-dhara-mcp-migration-design.md
Due: validate-regex-patterns, pyright

fix(adapter-learning): SSRF protection and HTTPS-required-with-token
  crackerjack/integration/dhara_mcp_client.py
  tests/integration/dhara_mcp_client_test.py
Due: validate-regex-patterns, pyright

feat(adapter-learning): wire MCP read path on DharaMCPAdapterLearner
  crackerjack/integration/dhara_integration.py
  tests/integration/dhara_mcp_adapter_learner_test.py
Due: validate-regex-patterns, pyright

test(adapter-learning): skip Dhara 0.5.0-incompatible tests cleanly
  tests/integration/test_dhara_integration.py
Due: validate-regex-patterns

test(adapter-learning): also skip test_auto_backend_with_dhara_available
  tests/integration/test_dhara_integration.py
Due: validate-regex-patterns

chore(adapter-learning): apply linter reformat to _CONTROL_CHARS frozenset
  crackerjack/integration/dhara_mcp_client.py
Due: validate-regex-patterns, pyright

chore(deps): refresh uv.lock
  uv.lock
Due: none

fix(adapter-learning): resolve comprehensive_hooks failures
  crackerjack/integration/dhara_integration.py
  crackerjack/integration/dhara_mcp_client.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.65.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.65.1
  CHANGELOG.md
  crackerjack/agents/type_error_specialist.py
  crackerjack/config/tool_commands.py
  crackerjack/executors/hook_executor.py
  pyproject.toml
  tests/test_agents/test_type_error_specialist.py
  tests/unit/test_lychee_hook.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.65.2
  crackerjack/agents/type_error_specialist.py
  crackerjack/executors/hook_executor.py
  crackerjack/services/ai/embeddings.py
  pyproject.toml
  tests/unit/test_lychee_hook.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.65.3
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.65.4
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.65.5
  crackerjack/config/tool_commands.py
  crackerjack/executors/hook_executor.py
  pyproject.toml
  tests/config/test_pip_audit_ignores.py
  tests/config/test_tool_commands.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: remove stale *.backup files
  docs/MCP_SERVER_AUDIT.md.backup.json
Due: none

fix(hooks): bump refurb and comprehensive-hooks timeouts for crackerjack scale
  .gitignore
  .lycheeignore
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/core/timeout_manager.py
  pyproject.toml
Due: validate-regex-patterns, pyright

refactor(agents): split _fix_literal_mismatch, harden status output
  crackerjack/agents/formatting_agent.py
  crackerjack/agents/refurb_agent.py
  crackerjack/agents/type_error_specialist.py
  crackerjack/agents/validation_coordinator.py
Due: validate-regex-patterns, pyright

feat(core): scope-aware hook re-runs + ai-fix panel fidelity
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/hook_executor.py
  crackerjack/parsers/factory.py
  crackerjack/services/ai_fix_progress.py
Due: validate-regex-patterns, pyright

test: cover scope-aware re-runs and agent refactors
  tests/core/autofix_coordinator_bugfix_test.py
  tests/services/ai/test_ai_fix_progress.py
  tests/test_agents/test_refurb_agent.py
  tests/test_agents/test_type_error_specialist.py
  tests/test_hook_executor.py
Due: validate-regex-patterns

chore(gitignore): deduplicate and reorganize
  .gitignore
Due: none

chore: bump version to 0.65.6
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.65.7
  CHANGELOG.md
  crackerjack/core/autofix_coordinator.py
  crackerjack/services/ai_fix_progress.py
  pyproject.toml
  tests/services/ai/test_ai_fix_progress.py
  tests/test_core_autofix_coordinator.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: add 6 files (mostly additions, +2146/-91)
  tests/executors/test_hook_executor_coverage.py
  tests/parsers/test_json_parsers_gaps.py
  tests/unit/agents/helpers/ast_transform/surgeons/test_libcst_surgeon.py
  tests/unit/core/test_phase_coordinator_flows.py
  tests/unit/mahavishnu/mcp/tools/test_git_analytics.py
  tests/unit/parsers/test_regex_parsers_property.py
Due: validate-regex-patterns

chore: add 5 files (mostly additions, +154/-37)
  _cov_measure.py
  tests/executors/test_hook_executor_coverage.py
  tests/unit/core/test_phase_coordinator_flows.py
  tests/unit/mahavishnu/mcp/tools/test_git_analytics.py
  tests/unit/parsers/test_regex_parsers_property.py
Due: validate-regex-patterns

chore: add 4 files (mostly additions, +1139/-58)
  tests/executors/test_hook_executor_coverage.py
  tests/test_async_hook_executor_concurrency.py
  tests/unit/core/test_phase_coordinator_flows.py
  tests/unit/mahavishnu/mcp/tools/test_git_analytics.py
Due: validate-regex-patterns

chore: add 6 files (mostly additions, +1288/-34)
  tests/executors/test_hook_executor_coverage.py
  tests/test_async_hook_executor_concurrency.py
  tests/unit/agents/helpers/ast_transform/surgeons/test_libcst_surgeon.py
  tests/unit/core/test_phase_coordinator_flows.py
  tests/unit/mahavishnu/mcp/tools/test_git_analytics.py
  tests/unit/managers/test_publish_manager_gaps.py
Due: validate-regex-patterns

chore: batch of 4 file changes (+59/-43)
  tests/executors/test_hook_executor_coverage.py
  tests/unit/agents/helpers/ast_transform/surgeons/test_libcst_surgeon.py
  tests/unit/mahavishnu/mcp/tools/test_git_analytics.py
  tests/unit/managers/test_publish_manager_gaps.py
Due: validate-regex-patterns

chore: add 8 files (mostly additions, +4155/-21)
  .cov_test
  report.txt
  tests/agents/test_documentation_agent.py
  tests/executors/test_hook_executor_coverage.py
  tests/test_agents/test_coordinator_extended.py
  tests/test_config_cleanup_drift_repair.py
  tests/test_hook_lock_manager.py
  tests/unit/managers/test_publish_manager_gaps.py
Due: validate-regex-patterns

chore: update coverage report
  report.txt
Due: none

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
