Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

refactor(complexity): S.B — drop 1 cyclomatic complexity violation
  crackerjack/agents/type_error_specialist.py
Due: validate-regex-patterns, pyright

refactor(complexity): S.B — drop 1 cyclomatic complexity violation (complexipy)
  crackerjack/__main__.py
Due: validate-regex-patterns, pyright

feat(autofix): S.E — add AI-fix stage handlers for cohesion and pymetrica
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

fix(ty): Phase S + S.D partial — agent killed mid-task, 8 prod errors fixed
  crackerjack/adapters/_output_paths.py
  crackerjack/adapters/complexity/pymetrica.py
  crackerjack/adapters/refactor/cohesion.py
  crackerjack/adapters/security/betterleaks.py
  crackerjack/adapters/test/syrupy.py
  crackerjack/agents/architect_agent.py
  crackerjack/agents/coordinator.py
  crackerjack/agents/dry_agent.py
  crackerjack/agents/refurb_agent.py
  crackerjack/agents/security_agent.py
  crackerjack/agents/type_error_specialist.py
  crackerjack/agents/validation_coordinator.py
  crackerjack/clone/classifier.py
  crackerjack/clone/grouper.py
  crackerjack/code_cleaner.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/retry.py
  crackerjack/decorators/error_handling.py
  crackerjack/decorators/error_handling_decorators.py
  crackerjack/integration/akosha_integration.py
  crackerjack/integration/akosha_learning.py
  crackerjack/integration/mahavishnu_learning.py
  crackerjack/integration/session_buddy_integration.py
  crackerjack/integration/skills_tracking.py
  crackerjack/intelligence/agent_orchestrator.py
  crackerjack/services/failure_metrics_repository.py
  crackerjack/tools/ty_audit.py
  crackerjack/tools/ty_cleanup.py
  crackerjack/utils/retry_utils.py
Due: validate-regex-patterns, pyright

chore(deps): sync uv.lock + Phase S plan doc update
  docs/audits/2026-06-28-tests-ty-audit.md
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
  uv.lock
Due: none

refactor(hooks): consolidate 3 comprehensive-hook lists into single source
  crackerjack/adapters/sast/README.md
  crackerjack/adapters/security/README.md
  crackerjack/config/README.md
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/hooks/README.md
  crackerjack/plugins/hooks.py
  tests/integration/test_phase8_direct_invocation.py
  tests/unit/test_lychee_hook.py
Due: validate-regex-patterns, pyright

style(format): post-Phase-S ruff-format — remove unused 'Callable' import
  crackerjack/decorators/error_handling_decorators.py
Due: validate-regex-patterns, pyright

feat(parsers): add JSON parsers for pyscn, betterleaks, check-jsonschema
  crackerjack/models/tool_config.py
  crackerjack/parsers/json_parsers.py
  crackerjack/tools/check_jsonschema.py
  docs/adr/ADR-025-complexity-scanning-defaults.md
Due: validate-regex-patterns, pyright

refactor(hooks): disable skylos+complexipy, align thresholds, re-task pyscn
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/config/tool_commands.py
  pyproject.toml
Due: validate-regex-patterns, pyright

fix(executors): issues_count bug + progress executor signature drift
  crackerjack/executors/individual_hook_executor.py
  crackerjack/executors/progress_hook_executor.py
Due: validate-regex-patterns, pyright

refactor(executor): route JSON-capable comp hooks through parser factory
  crackerjack/executors/hook_executor.py
Due: validate-regex-patterns, pyright

fix(refurb): FURB123/138/160 + betterleaks refactor
  crackerjack/adapters/security/betterleaks.py
  crackerjack/agents/dry_agent.py
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/agents/type_error_specialist.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/tools/ty_cleanup.py
Due: validate-regex-patterns, pyright

fix(ty): drop 48 prod diagnostics (ratchet PASS 0/150)
  crackerjack/decorators/error_handling_decorators.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/managers/hook_manager.py
  crackerjack/managers/publish_manager.py
  crackerjack/memory/fix_strategy_storage.py
  crackerjack/memory/git_metrics_collector.py
  crackerjack/memory/issue_embedder.py
  crackerjack/models/adapter_metadata.py
  crackerjack/models/config_adapter.py
  crackerjack/services/ai/predictive_analytics.py
  crackerjack/services/enhanced_filesystem.py
  crackerjack/services/heatmap_generator.py
  crackerjack/services/pycharm_mcp_integration.py
  crackerjack/skills/agent_skills.py
  crackerjack/skills/metrics.py
  crackerjack/tools/ty_audit.py
Due: validate-regex-patterns, pyright

fix(parsers): add get_issue_count to PyscnJSONParser + remove stale-file glob
  crackerjack/parsers/json_parsers.py
  tests/unit/parsers/test_json_parsers.py
Due: validate-regex-patterns, pyright

fix(parsers): unregister PyscnRegexParser from factory
  crackerjack/parsers/regex_parsers.py
  tests/parsers/test_regex_parsers.py
Due: validate-regex-patterns, pyright

fix(ty): make test ratchet advisory, not blocking
  crackerjack/executors/hook_executor.py
  crackerjack/tools/ty_ratchet.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.66.0
  CHANGELOG.md
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/decorators/error_handling_decorators.py
  crackerjack/executors/hook_executor.py
  crackerjack/executors/individual_hook_executor.py
  crackerjack/models/config_adapter.py
  crackerjack/parsers/json_parsers.py
  crackerjack/services/pycharm_mcp_integration.py
  crackerjack/tools/check_jsonschema.py
  docs/adr/ADR-025-complexity-scanning-defaults.md
  pyproject.toml
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-06-29 11:39:41
  CHANGELOG.md
  crackerjack/core/autofix_coordinator.py
  crackerjack/parsers/regex_parsers.py
  docs/audits/2026-06-12-furb-handler-audit-driver.py
  pyproject.toml
  tests/unit/parsers/test_regex_parsers.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.66.1
  CHANGELOG.md
  pyproject.toml
Due: none

feat(cli): persist health snapshots to integration metrics DB
  crackerjack/cli/handlers/health.py
  tests/cli/handlers/test_health_handler.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-06-29 14:25:08
  crackerjack/core/autofix_coordinator.py
  crackerjack/parsers/regex_parsers.py
  tests/unit/parsers/test_regex_parsers.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.66.2
  CHANGELOG.md
  crackerjack/cli/handlers/health.py
  pyproject.toml
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-06-29 16:40:38
  crackerjack/executors/hook_executor.py
  tests/test_hook_executor.py
Due: validate-regex-patterns, pyright

docs(spec): ty-ratchet cleanup design (E.3 advisory_issues + missing-dir)
  docs/superpowers/specs/2026-06-29-ty-ratchet-cleanup-design.md
Due: none

docs(spec): clarify ty-ratchet cleanup design (rewrite sentinel tests, add factory test)
  docs/superpowers/specs/2026-06-29-ty-ratchet-cleanup-design.md
Due: none

docs(plan): ty-ratchet cleanup implementation plan (E.3 + missing-dir)
  docs/superpowers/plans/2026-06-29-ty-ratchet-cleanup.md
Due: none

feat(models): add advisory_issues field to HookResult
  crackerjack/models/task.py
  tests/test_hook_executor.py
Due: validate-regex-patterns, pyright

refactor(executor): _parse_ty_ratchet returns tuple[int, list[str]]
  crackerjack/executors/hook_executor.py
  tests/test_hook_executor.py
Due: validate-regex-patterns, pyright

fix(executor): destructure tuple at _parse_ty_ratchet call site
  crackerjack/executors/hook_executor.py
Due: validate-regex-patterns, pyright

refactor(executor): thread advisory_issues through _parse_hook_output
  crackerjack/executors/hook_executor.py
Due: validate-regex-patterns, pyright

feat(executor): populate HookResult.advisory_issues from parse output
  crackerjack/executors/hook_executor.py
Due: validate-regex-patterns, pyright

feat(executor): warning banner reads HookResult.advisory_issues
  crackerjack/executors/hook_executor.py
Due: validate-regex-patterns, pyright

feat(ty_ratchet): missing-dir detection with vacuous-pass gate
  crackerjack/tools/ty_ratchet.py
  tests/tools/test_ty_ratchet.py
Due: validate-regex-patterns, pyright

test(executor): end-to-end advisory banner coverage
  tests/test_hook_executor.py
Due: validate-regex-patterns

docs(executor): fix stale phase_coordinator reference in _parse_ty_ratchet_issues docstring
  crackerjack/executors/hook_executor.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-07-02 23:23:58
  crackerjack/config/tool_commands.py
  tests/tools/test_ty_audit.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.66.3
  CHANGELOG.md
  crackerjack/executors/hook_executor.py
  docs/superpowers/plans/2026-06-29-ty-ratchet-cleanup.md
  docs/superpowers/specs/2026-06-29-ty-ratchet-cleanup-design.md
  pyproject.toml
Due: validate-regex-patterns, pyright

feat(ai-fix): Tier-1 — DELETE MahavishnuPoolDispatcher, capture AI error, preserve uv cache
  crackerjack/agents/claude_code_bridge.py
  crackerjack/agents/qwen_code_bridge.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/executors/hook_executor.py
  crackerjack/integration/mahavishnu_pool_dispatcher.py
  tests/executors/test_hook_executor_coverage.py
  tests/unit/agents/test_claude_code_bridge.py
  tests/unit/agents/test_qwen_code_bridge.py
  tests/unit/core/test_autofix_coordinator.py
  tests/unit/integration/test_mahavishnu_pool_dispatcher.py
Due: validate-regex-patterns, pyright

test(intelligence): RED tests for 7 confirmed bugs in agent_orchestrator.py
  tests/unit/intelligence/test_agent_orchestrator_bugs.py
Due: validate-regex-patterns

docs(followups): Tier-3 structural cleanup plan (550 lines, 8 items)
  docs/followups/2026-07-04-tier3-implementation-plan.md
Due: none

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
