Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

Update core functionality
  crackerjack/adapters/_tool_adapter_base.py
  crackerjack/adapters/dependency/pip_audit.py
  crackerjack/config/tool_commands.py
  crackerjack/tools/codespell_wrapper.py
Due: validate-regex-patterns, pyright

Update core functionality
  crackerjack/config/hooks.py
Due: validate-regex-patterns, pyright

chore: clean up project root documentation and scripts
  docs/reference/COVERAGE_POLICY.md
Due: none

feat: automated documentation cleanup system
  DOCS_CLEANUP_IMPLEMENTATION.md
  docs/DOCS_CLEANUP_GUIDELINES.md
  scripts/docs_cleanup.py
Due: validate-regex-patterns

feat: integrate regex-based documentation categorization into production service
  DOCS_CLEANUP_IMPLEMENTATION.md
  DOCS_CLEANUP_INTEGRATION_PLAN.md
  crackerjack/services/doc_categorizer.py
  crackerjack/services/documentation_cleanup.py
  focused_test_runner.py
  scripts/docs_cleanup.py
  tests/unit/test_doc_categorizer.py
Due: validate-regex-patterns, pyright

fix: constrain refurb to package directory only
  DOCS_CLEANUP_IMPLEMENTATION.md
  crackerjack/config/tool_commands.py
  uv.lock
Due: validate-regex-patterns, pyright

fix: remove hardcoded bandit target from pyproject.toml
  pyproject.toml
Due: none

fix: ignore FURB137 in refurb (set literal suggestions)
  pyproject.toml
Due: none

Update core functionality
  crackerjack/tools/_git_utils.py
  docs/.backups/20260117-221045/backup.tar.gz
Due: validate-regex-patterns, pyright

chore: bump version to 0.48.1
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 71/100) - 2026-01-18 19:24:17
  CLAUDE.md
  CLAUDE_MD_VALIDATION_IMPLEMENTATION.md
  TY_MIGRATION_PLAN.md
  crackerjack/mcp/tools/utility_tools.py
  crackerjack/services/initialization.py
  scripts/docs_cleanup.py
  uv.lock
Due: validate-regex-patterns, pyright

Update documentation
  CLAUDE_MD_VALIDATION_IMPLEMENTATION.md
Due: none

chore: bump version to 0.48.2
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps
  crackerjack/adapters/refactor/creosote.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.48.3
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 69/100) - 2026-01-19 23:17:56
  crackerjack/cli/options.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/models/protocols.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2026-01-20 02:44:18
  CLAUDE.md
  TY_PYREFLY_MIGRATION_PLAN.md
  crackerjack/__main__.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
