Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

checkpoint: crackerjack (quality: 64/100) - 2025-10-02 22:04:12
  docs/crackerjack-run-implementation-plan.md
  docs/crackerjack-run-workflow-audit.md
  docs/phase-1-completion-summary.md
  docs/phase-2-completion-summary.md
  docs/phase-3-completion-summary.md
  docs/phase-4-completion-summary.md
  docs/phase-5-completion-summary.md
  docs/phase-5-implementation-plan.md
  docs/phase-5-task-5.1-completion-summary.md
Due: none

checkpoint: crackerjack (quality: 64/100) - 2025-10-02 22:16:32
  crackerjack/mcp/tools/execution_tools.py
  crackerjack/mcp/tools/workflow_executor.py
  docs/phase-5-completion-summary.md
  docs/phase-5-implementation-plan.md
  docs/phase-5-task-5.1-completion-summary.md
  tests/test_resource_manager.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 68/100) - 2025-10-02 22:58:03
  CHANGELOG.md
  tests/test_resource_manager.py
Due: validate-regex-patterns

test(test): update 6 files
  CHANGELOG.md
  docs/complexipy-refactoring-summary.md
  pyproject.toml
  tests/test_enhanced_container.py
  tests/test_resource_manager.py
  uv.lock
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 69/100) - 2025-10-03 10:30:07
  CHANGELOG.md
  tests/test_architect_agent.py
  tests/test_base.py
  tests/test_claude_code_bridge.py
  tests/test_coordinator.py
  tests/test_documentation_agent.py
  tests/test_dry_agent.py
  tests/test_enhanced_container.py
  tests/test_enhanced_coordinator.py
  tests/test_enhanced_proactive_agent.py
  tests/test_formatting_agent.py
  tests/test_import_optimization_agent.py
  tests/test_lsp_client.py
  tests/test_resource_manager.py
  tests/test_rust_tool_adapter.py
  tests/test_rust_tool_manager.py
  tests/test_session_coordinator.py
  tests/test_skylos_adapter.py
  tests/test_zuban_adapter.py
  uv.lock
Due: validate-regex-patterns

docs: complete Phase 1 & 2 documentation audit and updates
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/DOCUMENTATION_AUDIT_2025-10-03.md
  docs/PHASE2-COMPLETION-SUMMARY.md
  docs/PHASE2-CROSS-REFERENCE-ANALYSIS.md
  tests/test_enhanced_container.py
  tests/test_session_coordinator.py
Due: validate-regex-patterns

docs: complete Phase 3 optimization - 100% CLI coverage achieved
  CLAUDE.md
  README.md
  docs/ADVANCED-FEATURES.md
  docs/PHASE3-COMPLETION-REPORT.md
  docs/PHASE3-OPTIMIZATION-PLAN.md
  docs/architecture/API_REFERENCE.md
Due: none

checkpoint: crackerjack (quality: 69/100) - 2025-10-03 11:48:05
  CLAUDE.md
  README.md
  docs/ADVANCED-FEATURES.md
  docs/DOCUMENTATION_AUDIT_2025-10-03.md
  docs/PHASE2-COMPLETION-SUMMARY.md
  docs/PHASE2-CROSS-REFERENCE-ANALYSIS.md
  docs/PHASE3-COMPLETION-REPORT.md
  docs/PHASE3-OPTIMIZATION-PLAN.md
  docs/architecture/API_REFERENCE.md
  tests/test_architect_agent.py
  tests/test_base.py
  tests/test_claude_code_bridge.py
  tests/test_coordinator.py
  tests/test_documentation_agent.py
  tests/test_dry_agent.py
  tests/test_enhanced_coordinator.py
  tests/test_enhanced_proactive_agent.py
  tests/test_formatting_agent.py
  tests/test_import_optimization_agent.py
  tests/test_lsp_client.py
  tests/test_rust_tool_adapter.py
  tests/test_rust_tool_manager.py
  tests/test_skylos_adapter.py
  tests/test_zuban_adapter.py
  uv.lock
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 69/100) - 2025-10-03 12:08:12
  CHANGELOG.md
  README.md
  docs/DOCUMENTATION_AUDIT_2025-10-03.md
  docs/PHASE2-CROSS-REFERENCE-ANALYSIS.md
  docs/PHASE3-COMPLETION-REPORT.md
  tests/test_architect_agent.py
  tests/test_base.py
  tests/test_claude_code_bridge.py
  tests/test_coordinator.py
  tests/test_documentation_agent.py
  tests/test_dry_agent.py
  tests/test_enhanced_coordinator.py
  tests/test_enhanced_proactive_agent.py
  tests/test_formatting_agent.py
  tests/test_import_optimization_agent.py
  tests/test_lsp_client.py
  tests/test_rust_tool_adapter.py
  tests/test_rust_tool_manager.py
  tests/test_session_coordinator.py
  tests/test_skylos_adapter.py
  tests/test_zuban_adapter.py
Due: validate-regex-patterns

test(tests): update CHANGELOG, pyproject, test_session_coordinator
  CHANGELOG.md
  pyproject.toml
  tests/test_session_coordinator.py
Due: validate-regex-patterns

test(tests): update 5 files
  CHANGELOG.md
  pyproject.toml
  tests/test_container.py
  tests/test_session_coordinator.py
  uv.lock
Due: validate-regex-patterns

fix(test): update 7 files
  CHANGELOG.md
  crackerjack/mcp/tools/workflow_executor.py
  pyproject.toml
  tests/test_autofix_coordinator.py
  tests/test_container.py
  tests/test_session_coordinator.py
  uv.lock
Due: validate-regex-patterns

fix(test): update 7 files
  CHANGELOG.md
  crackerjack/__main__.py
  docs/investigation/ai-fix-flag-bug-fix.md
  pyproject.toml
  tests/test_autofix_coordinator.py
  tests/test_container.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2025-10-03 17:08:40
  AI-FIX-IMPLEMENTATION-AND-TEST-PLAN.md
  AI-FIX-QUICK-SUMMARY.md
  AI-FIX-TEST-RESULTS.md
  CHANGELOG.md
  README.md
  crackerjack/core/workflow_orchestrator.py
  docs/investigation/ai-fix-flag-bug-fix.md
  docs/investigation/workflow-routing-fix.md
  tests/test_autofix_coordinator.py
  tests/test_main.py
  tests/test_phase_coordinator.py
  tests/test_workflow_orchestrator_ai_routing.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(test): update 8 files
  AI-FIX-IMPLEMENTATION-AND-TEST-PLAN.md
  AI-FIX-QUICK-SUMMARY.md
  AI-FIX-TEST-RESULTS.md
  CHANGELOG.md
  docs/investigation/workflow-routing-fix.md
  pyproject.toml
  tests/test_autofix_coordinator.py
  tests/test_phase_coordinator.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 69/100) - 2025-10-03 21:23:05
  crackerjack/cli/facade.py
  tests/cli/test_command_validation.py
  uv.lock
Due: validate-regex-patterns, pyright

feat: add AI-powered auto-fix workflow with iteration loop
  CHANGELOG.md
  README.md
  crackerjack/adapters/__init__.py
  crackerjack/adapters/ai/__init__.py
  crackerjack/adapters/ai/claude.py
  crackerjack/agents/claude_code_bridge.py
  crackerjack/cli/facade.py
  crackerjack/cli/options.py
  crackerjack/services/__init__.py
  crackerjack/services/file_modifier.py
  crackerjack/workflows/__init__.py
  crackerjack/workflows/auto_fix.py
  docs/AUTO_FIX_GUIDE.md
  docs/WORKFLOW-ARCHITECTURE.md
  tests/cli/test_command_validation.py
  tests/test_file_lifecycle.py
  tests/test_phase_coordinator.py
Due: validate-regex-patterns, pyright

chore: cleanup working docs and update gitignore
  .gitignore
  AI-FIX-IMPLEMENTATION-AND-TEST-PLAN.md
  AI-FIX-QUICK-SUMMARY.md
  AI-FIX-TEST-RESULTS.md
Due: none

checkpoint: crackerjack (quality: 69/100) - 2025-10-04 03:23:36
  crackerjack/adapters/ai/claude.py
  crackerjack/services/file_modifier.py
Due: validate-regex-patterns, pyright

fix(test): update 12 files
  CHANGELOG.md
  docs/README.md
  docs/ai/AI-REFERENCE.md
  docs/architecture/WORKFLOW-ARCHITECTURE.md
  docs/guides/AUTO_FIX_GUIDE.md
  docs/history/PROJECT_HISTORY.md
  docs/history/planning/DOCUMENTATION_REORGANIZATION_PLAN_2025.md
  docs/history/planning/REORGANIZATION_SUMMARY.md
  docs/security/SECURITY_AUDIT.md
  pyproject.toml
  tests/test_file_lifecycle.py
  tests/test_performance.py
Due: validate-regex-patterns

docs(config): update CHANGELOG, pyproject, uv
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

test(test): update 5 files
  CHANGELOG.md
  crackerjack/services/unified_config.py
  pyproject.toml
  tests/test_file_lifecycle.py
  tests/test_performance.py
  uv.lock
Due: validate-regex-patterns, pyright

test(test): update 4 files
  CHANGELOG.md
  crackerjack/cli/options.py
  pyproject.toml
  tests/test_performance.py
Due: validate-regex-patterns, pyright

test(tests): update 5 files
  CHANGELOG.md
  MIGRATION-0.41.0.md
  pyproject.toml
  tests/test_performance.py
  uv.lock
Due: validate-regex-patterns

chore: modernize dependency groups and fix pre-commit hook
  CHANGELOG.md
  MIGRATION-0.41.0.md
  crackerjack/tools/validate_regex_patterns.py
Due: validate-regex-patterns, pyright

chore: add newline at EOF and update uv.lock
  tests/test_performance.py
  uv.lock
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 69/100) - 2025-10-04 12:48:19
  GEMINI.md
  QWEN.md
  README.md
  uv.lock
Due: none

fix(tests): update 6 files
  CHANGELOG.md
  README.md
  pyproject.toml
  tests/test_error_handling.py
  tests/test_performance.py
  uv.lock
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 69/100) - 2025-10-08 20:46:02
  .gitleaksignore
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG.md
  crackerjack/dynamic_config.py
  tests/test_error_handling.py
  tests/test_performance.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(tests): update 4 files
  CHANGELOG.md
  pyproject.toml
  tests/test_agent_selector.py
  tests/test_error_handling.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 69/100) - 2025-10-09 06:18:13
  CHANGELOG.md
  crackerjack/adapters/qa/__init__.py
  crackerjack/adapters/qa/_base.py
  crackerjack/adapters/qa/bandit_adapter.py
  crackerjack/adapters/qa/codespell_adapter.py
  crackerjack/adapters/qa/complexipy_adapter.py
  crackerjack/adapters/qa/creosote_adapter.py
  crackerjack/adapters/qa/gitleaks_adapter.py
  crackerjack/adapters/qa/mdformat_adapter.py
  crackerjack/adapters/qa/refurb_adapter.py
  crackerjack/adapters/qa/ruff_adapter.py
  crackerjack/adapters/qa/tool_adapter_base.py
  crackerjack/adapters/qa/utility_check.py
  crackerjack/adapters/qa/zuban_adapter.py
  crackerjack/models/__init__.py
  crackerjack/models/protocols.py
  crackerjack/models/qa_config.py
  crackerjack/models/qa_results.py
  crackerjack/services/qa_orchestrator.py
  docs/QA_FRAMEWORK_PHASE3_SUMMARY.md
  docs/adr/0001-acb-qa-framework-architecture.md
  docs/planning/ACB-MIGRATION-PLAN.md
  docs/qa-framework-architecture-review.md
  docs/qa-framework-implementation-plan.md
  docs/qa-framework-index.md
  docs/qa-framework-quick-reference.md
  docs/qa-framework-review-summary.md
  tests/test_agent_selector.py
  tests/test_error_handling.py
  tests/test_qa_adapters_protocol_compliance.py
  tests/test_qa_config_models.py
  tests/test_qa_orchestrator.py
  tests/test_qa_tool_adapters.py
  tests/test_qa_utility_check_adapter.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2025-10-09 09:28:02
  crackerjack/adapters/refactor/creosote.py
  crackerjack/adapters/refactor/refurb.py
  crackerjack/adapters/security/bandit.py
  crackerjack/adapters/security/gitleaks.py
  crackerjack/adapters/type/zuban.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2025-10-09 09:46:06
  crackerjack/adapters/complexity/complexipy.py
  crackerjack/models/protocols.py
  crackerjack/orchestration/__init__.py
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/orchestration/strategies/__init__.py
  crackerjack/orchestration/strategies/parallel_strategy.py
  crackerjack/orchestration/strategies/sequential_strategy.py
  docs/planning/PHASE3-HOOK-ORCHESTRATION-DESIGN.md
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2025-10-09 10:13:58
  crackerjack/managers/hook_manager.py
  crackerjack/orchestration/cache/__init__.py
  crackerjack/orchestration/cache/memory_cache.py
  crackerjack/orchestration/cache/tool_proxy_cache.py
  crackerjack/orchestration/hook_orchestrator.py
  tests/managers/test_hook_manager_orchestration.py
  tests/orchestration/__init__.py
  tests/orchestration/test_cache_adapters.py
  tests/orchestration/test_execution_strategies.py
  tests/orchestration/test_hook_orchestrator.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2025-10-09 11:29:53
  crackerjack/managers/hook_manager.py
  crackerjack/orchestration/config.py
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/orchestration/strategies/adaptive_strategy.py
  docs/phase-5-7-triple-parallel-execution.md
  tests/managers/test_hook_manager_orchestration.py
  tests/orchestration/test_adaptive_strategy.py
  tests/orchestration/test_config.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2025-10-09 12:36:05
  crackerjack/adapters/_qa_adapter_base.py
  crackerjack/adapters/_tool_adapter_base.py
  crackerjack/adapters/complexity/complexipy.py
  crackerjack/adapters/format/mdformat.py
  crackerjack/adapters/format/ruff.py
  crackerjack/adapters/lint/codespell.py
  crackerjack/adapters/refactor/creosote.py
  crackerjack/adapters/refactor/refurb.py
  crackerjack/adapters/refactor/skylos.py
  crackerjack/adapters/security/bandit.py
  crackerjack/adapters/security/gitleaks.py
  crackerjack/adapters/type/zuban.py
  crackerjack/adapters/utility/checks.py
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  crackerjack/managers/async_hook_manager.py
  crackerjack/managers/hook_manager.py
  crackerjack/orchestration/__init__.py
  crackerjack/orchestration/cache/__init__.py
  crackerjack/orchestration/cache/memory_cache.py
  crackerjack/orchestration/cache/tool_proxy_cache.py
  crackerjack/orchestration/config.py
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/orchestration/strategies/__init__.py
  crackerjack/orchestration/strategies/adaptive_strategy.py
  crackerjack/orchestration/strategies/parallel_strategy.py
  crackerjack/orchestration/strategies/sequential_strategy.py
  crackerjack/tools/__init__.py
  crackerjack/tools/check_added_large_files.py
  crackerjack/tools/check_toml.py
  crackerjack/tools/check_yaml.py
  crackerjack/tools/end_of_file_fixer.py
  crackerjack/tools/trailing_whitespace.py
  docs/orchestration/PHASE-5-7-PERFORMANCE-RESULTS.md
  docs/orchestration/PHASE-8-CONFIG-MIGRATION.md
  docs/orchestration/PHASE-8-IMPLEMENTATION-PLAN.md
  pyproject.toml
  tests/managers/test_hook_manager_triple_parallel.py
  tests/performance/test_triple_parallelism_benchmarks.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2025-10-09 14:20:24
  CHANGELOG.md
  crackerjack/executors/__init__.py
  crackerjack/executors/progress_hook_executor.py
  crackerjack/services/file_filter.py
  docs/orchestration/PHASE-10-IMPLEMENTATION-PLAN.md
  docs/orchestration/PHASE-8-IMPLEMENTATION-SUMMARY.md
  tests/config/test_hooks_backward_compatibility.py
  tests/config/test_tool_commands.py
  tests/executors/test_progress_hook_executor.py
  tests/integration/__init__.py
  tests/integration/test_phase8_direct_invocation.py
  tests/services/test_file_filter.py
  tests/tools/__init__.py
  tests/tools/test_check_added_large_files.py
  tests/tools/test_check_toml.py
  tests/tools/test_check_yaml.py
  tests/tools/test_end_of_file_fixer.py
  tests/tools/test_trailing_whitespace.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 69/100) - 2025-10-09 14:49:40
  crackerjack/__main__.py
  crackerjack/cli/options.py
  crackerjack/core/workflow_orchestrator.py
  crackerjack/exceptions/__init__.py
  crackerjack/exceptions/tool_execution_error.py
  crackerjack/models/protocols.py
  tests/exceptions/__init__.py
  tests/exceptions/test_tool_execution_error.py
  tests/test_fast_iteration_mode.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
