Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

fix(tests): update 5 tests to match current production state
  tests/unit/adapters/complexity/test_complexipy.py
  tests/unit/agents/test_new_agents.py
  tests/unit/core/test_autofix_coordinator.py
Due: validate-regex-patterns

fix(production): align string formats with expected test values
  crackerjack/agents/fixer_coordinator.py
  crackerjack/config/hooks.py
Due: validate-regex-patterns, pyright

fix(skills): wire failure/timeout EMA + repair skill-tools kwarg
  crackerjack/mcp/tools/skill_tools.py
  crackerjack/skills/agent_skills.py
  tests/unit/mcp/tools/test_skill_tools.py
  tests/unit/skills/test_agent_skills.py
Due: validate-regex-patterns, pyright

fix(tests): patch _execute_batch instead of _execute_single_plan
  tests/unit/agents/test_fixer_coordinator.py
Due: validate-regex-patterns

fix(plugins): trust invariants + URL and python-spec defaults
  crackerjack/config/settings.py
  crackerjack/exceptions/__init__.py
  crackerjack/exceptions/plugin_trust_error.py
  crackerjack/integration/session_buddy_mcp.py
  crackerjack/integration/skills_tracking.py
  crackerjack/plugins/base.py
  crackerjack/plugins/hooks.py
  tests/integration/test_skills_tracking.py
  tests/test_plugins_coverage.py
  tests/test_session_buddy_git_metrics.py
Due: validate-regex-patterns, pyright

fix(security): add semgrep and secrets-scanner to CRITICAL_HOOKS
  crackerjack/security/audit.py
  tests/test_security_audit.py
Due: validate-regex-patterns, pyright

fix(contracts): surface REQUIRED-check failures on QualityGateReport
  crackerjack/models/validation_contracts.py
  tests/models/test_validation_contracts.py
Due: validate-regex-patterns, pyright

fix(websocket): canonicalize subscription permission + honest test-status stub
  crackerjack/websocket/server.py
  tests/test_websocket_auth.py
Due: validate-regex-patterns, pyright

chore(tests): drop stale comments in test_websocket_auth.py
  tests/test_websocket_auth.py
Due: validate-regex-patterns

fix(tests): apply C-WIRE deferred minors (imports + caplog)
  tests/skills/test_agent_skills.py
  tests/test_plugins_coverage.py
  tests/test_websocket_auth.py
Due: validate-regex-patterns

docs(spec): add Ruff fix-safety policy design
  docs/superpowers/specs/2026-08-06-crackerjack-ruff-fix-policy-design.md
Due: none

docs(plan): Ruff fix-safety policy implementation plan
  docs/superpowers/plans/2026-08-06-crackerjack-ruff-fix-policy.md
Due: none

fix(ruff): drop --unsafe-fixes from default hook; close scaffold leak
  crackerjack/config/tool_commands.py
  crackerjack/services/config_template.py
  tests/unit/config/test_tool_commands_ruff_unsafe.py
  tests/unit/services/test_config_template_ruff_unsafe.py
Due: validate-regex-patterns, pyright

feat(config): add ruff_unsafe_fixes / allow_unsafe_fixes knobs
  crackerjack/cli/options.py
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  tests/unit/cli/test_options_allow_unsafe.py
  tests/unit/config/test_hook_definition_allow_unsafe.py
  tests/unit/config/test_hook_settings_ruff_unsafe.py
Due: validate-regex-patterns, pyright

feat(ruff): wire HookSettings.ruff_unsafe_fixes into ruff-check
  crackerjack/adapters/format/ruff.py
  crackerjack/config/tool_commands.py
  tests/unit/adapters/test_ruff_adapter.py
  tests/unit/config/test_tool_commands_ruff_unsafe.py
Due: validate-regex-patterns, pyright

feat(ruff): dirty-tree guard + bak-sibling rollback
  crackerjack/core/preflight.py
  crackerjack/services/git_cleanup_service.py
  crackerjack/services/safe_code_modifier.py
  tests/unit/core/test_preflight.py
  tests/unit/services/test_git_cleanup.py
  tests/unit/services/test_safe_code_modifier.py
Due: validate-regex-patterns, pyright

fix(ruff): wire dirty-tree guard into production ruff path
  crackerjack/core/preflight.py
  tests/unit/core/test_preflight.py
Due: validate-regex-patterns, pyright

build(deps): pin ruff==0.16.0
  pyproject.toml
  uv.lock
Due: none

feat(ruff): surface Ruff exit-code 2; add golden-diff test
  crackerjack/core/preflight.py
  tests/fixtures/ruff_unsafe_diff_golden.txt
  tests/fixtures/ruff_unsafe_golden_input.py
  tests/unit/core/test_preflight.py
  tests/unit/core/test_ruff_unsafe_golden.py
Due: validate-regex-patterns, pyright

docs(ruff): document safe-by-default fix policy
  CHANGELOG.md
  crackerjack/hooks/README.md
  docs/CLI_REFERENCE.md
  docs/CONFIG_CONSOLIDATION_AUDIT.md
Due: none

docs(superpowers): spec for ai-fix removal + external loop replacement
  docs/superpowers/specs/2026-08-06-ai-fix-removal-external-loop-design.md
Due: none

docs(superpowers): implementation plan for ai-fix removal + fixer extraction
  docs/superpowers/plans/2026-08-06-ai-fix-removal-extraction.md
Due: none

docs(superpowers): implementation plan for ai-fix external loop + Akosha hook
  docs/superpowers/plans/2026-08-06-ai-fix-external-loop.md
Due: none

docs(superpowers): revise ai-fix-loop plan with critical + major review findings
  docs/superpowers/plans/2026-08-06-ai-fix-external-loop.md
Due: none

docs(superpowers): preflight amendments — initial-issue-count guard + parser normalization
  docs/superpowers/plans/2026-08-06-ai-fix-external-loop.md
Due: none

docs(superpowers): Task 1 verification amendments — clean-state + exit-code semantics
  docs/superpowers/plans/2026-08-06-ai-fix-external-loop.md
Due: none

feat(ai-fix-loop): workflow script skeleton + .gitignore allow-rule
  .claude/workflows/ai-fix-loop.js
  .gitignore
  docs/superpowers/plans/2026-08-06-ai-fix-external-loop.md
Due: none

feat(ai-fix-loop): implement Verify phase
  .claude/workflows/ai-fix-loop.js
Due: none

feat(ai-fix-loop): implement Snapshot phase
  .claude/workflows/ai-fix-loop.js
Due: none

feat(ai-fix-loop): implement Fix phase
  .claude/workflows/ai-fix-loop.js
Due: none

feat(ai-fix-loop): Task 6 — stop conditions, rollback, diff sanity, audit log
  .claude/workflows/ai-fix-loop.js
  docs/superpowers/plans/2026-08-06-ai-fix-external-loop.md
Due: none

feat(ai-fix-loop): passive Akosha fix-outcome logging (write-only, per fix)
  .claude/workflows/ai-fix-loop.js
Due: none

docs: update CLAUDE.md for external ai-fix-loop workflow (replaces --ai-fix section)
  CLAUDE.md
Due: none

test(ai-fix-loop): add end-to-end acceptance runbook, verified against real repo state
  tests/integration/test_ai_fix_loop_acceptance.md
Due: none

fix(ai-fix-loop): apply post-review fixes (CRITICAL + HIGH + MEDIUM)
  .claude/workflows/ai-fix-loop.js
  tests/integration/test_ai_fix_loop_acceptance.md
Due: none

fix(ai-fix-loop): apply remaining LOW review findings
  .claude/workflows/ai-fix-loop.js
  CLAUDE.md
  tests/integration/test_ai_fix_loop_acceptance.md
Due: none

fix(ai-fix-loop): address 5 deferred LOW findings
  .claude/workflows/ai-fix-loop.js
Due: none

feat(skills): extract reusable skill-health probe with typed report
  crackerjack/skills/__init__.py
  crackerjack/skills/health.py
  tests/unit/skills/__init__.py
  tests/unit/skills/test_health.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
