Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

feat(settings): document publish_url default in settings YAML
  settings/crackerjack.yaml
  settings/local.yaml.example
Due: none

test(publish): cover publish_url third branch + dry-run URL
  tests/test_models_comprehensive.py
  tests/unit/managers/test_publish_manager_pyi_auth.py
Due: validate-regex-patterns

docs(cli): document private package indexes (--publish-url)
  docs/CLI_REFERENCE.md
Due: none

fix(settings): nest publish_url under publishing: for loader pickup
  settings/crackerjack.yaml
  settings/local.yaml.example
Due: none

fix(settings): remove dead flat Publishing keys, expand nested publishing: block
  settings/crackerjack.yaml
  settings/local.yaml.example
  tests/unit/test_config_settings.py
Due: validate-regex-patterns

feat(publish): add BODAI_ECOSYSTEM_CONFIG resolution layer
  crackerjack/config/ecosystem_synthesis.py
  crackerjack/config/loader.py
  docs/CLI_REFERENCE.md
  tests/unit/test_config_settings.py
Due: validate-regex-patterns, pyright

fix(publish): thread publish_url through all PublishManagerImpl sites
  crackerjack/adapters/python/lifecycle.py
  crackerjack/core/phase_coordinator.py
  crackerjack/managers/publish_manager.py
  crackerjack/mcp/tools/workflow_executor.py
  tests/adapters/python/test_lifecycle.py
  tests/unit/core/test_phase_coordinator.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.83.1
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.83.2
  crackerjack/adapters/python/lifecycle.py
  crackerjack/core/phase_coordinator.py
  crackerjack/integration/dhara_mcp_client.py
  crackerjack/mcp/tools/language_tools.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

feat(publish): layer Mahavishnu MCP probe as fallback publish_url source
  crackerjack/core/phase_coordinator.py
  crackerjack/services/mahavishnu_discovery.py
  tests/unit/core/test_phase_coordinator.py
  tests/unit/services/test_mahavishnu_discovery.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.83.3
  CHANGELOG.md
  crackerjack/services/mahavishnu_discovery.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

fix(audit): tc-refs no-args fallback defaults to cwd, not /Users/les/Projects
  crackerjack/integration/adapter_learning.py
  crackerjack/tools/audit_type_checking_runtime_refs.py
  tests/integration/test_adapter_learning.py
  tests/unit/test_audit_type_checking_runtime_refs.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.83.4
  CHANGELOG.md
  crackerjack/config/settings.py
  crackerjack/core/phase_coordinator.py
  crackerjack/integration/__init__.py
  crackerjack/integration/adapter_learning.py
  crackerjack/integration/dhara_mcp_client.py
  crackerjack/sop/__init__.py
  crackerjack/sop/persisters.py
  docs/followups/2026-09-14-delete-dhara-mcp-client-after-decomposition.md
  pyproject.toml
  tests/integration/dhara_mcp_adapter_learner_test.py
  tests/integration/dhara_mcp_client_test.py
  tests/integration/test_adapter_learning.py
  tests/integration/test_aio_thread_leak_regression.py
  tests/unit/core/test_adapter_learning_integration.py
  tests/unit/test_sop_evolution.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(publish-url): session-aware MCP probe + structuredContent parser
  crackerjack/services/mahavishnu_discovery.py
  tests/unit/services/test_mahavishnu_discovery.py
Due: validate-regex-patterns, pyright

chore(docs): document Bodai flat-layout convention in /crackerjack:init
  commands/crackerjack-init.md
  templates/README.md
Due: none

chore: bump version to 0.83.5
  CHANGELOG.md
  crackerjack/services/mahavishnu_discovery.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.83.6
  crackerjack/__main__.py
  crackerjack/cli/options.py
  crackerjack/config/ecosystem_synthesis.py
  crackerjack/config/settings.py
  crackerjack/core/phase_coordinator.py
  crackerjack/managers/publish_manager.py
  pyproject.toml
  tests/adapters/python/test_lifecycle.py
  tests/unit/core/test_phase_coordinator.py
  tests/unit/managers/test_publish_manager_pyi_auth.py
  tests/unit/services/test_mahavishnu_discovery.py
  tests/unit/test_config_settings.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.83.7
  crackerjack/managers/publish_manager.py
  pyproject.toml
  tests/test_publish_manager_coverage.py
  uv.lock
Due: validate-regex-patterns, pyright

docs(crackerjack): Phase 4a launcher migration design note (REQ-013)
  .claude/decisions/2026-09-26-mcp-launcher-migration.md
Due: none

chore: bump version to 0.83.8
  .gitignore.bak.20260926T125029Z
  CHANGELOG.md
  pyproject.toml
  templates/GITIGNORE_BODAI.md
  uv.lock
Due: none

docs(crackerjack): fix role frontmatter in mcp-launcher-migration decision
  .claude/decisions/2026-09-26-mcp-launcher-migration.md
Due: none

chore: bump version to 0.83.9
  CHANGELOG.md
  crackerjack/checks/release_audit.py
  pyproject.toml
  tests/checks/test_release_audit.py
  uv.lock
Due: validate-regex-patterns, pyright

chore(deps): bump mcp-common floor to >=0.28.0 for launcher migration (Phase 4)
  pyproject.toml
  uv.lock
Due: none

feat(mcp): migrate launcher to mcp_common.server.launcher.launch() (Phase 4b)
  crackerjack/mcp/server_core.py
Due: validate-regex-patterns

chore(crackerjack): ty ignore + dict-merge modernizer
  crackerjack/integration/session_buddy_integration.py
  crackerjack/mcp/server_core.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.84.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat(crackerjack): C-13 review-pr skill (Akosha pattern subscription)
  crackerjack/config/settings.py
  crackerjack/mcp/skills_catalog/review-pr.md
  crackerjack/mcp/tools/skill_registry.py
  crackerjack/skills/comment_poster.py
  crackerjack/skills/durable_queue.py
  crackerjack/skills/github_client.py
  crackerjack/skills/review_metrics.py
  crackerjack/skills/review_pr.py
  tests/e2e/test_review_pr_e2e.py
  tests/integration/test_review_pr.py
Due: validate-regex-patterns, pyright

chore(crackerjack): refresh uv.lock after version bump to 0.84.0
  uv.lock
Due: none

docs(crackerjack): add .claude/decisions/deployability-discipline.md pointer
  .claude/decisions/deployability-discipline.md
Due: none

chore(crackerjack): extend .claude/ allowlist with decisions/agents/skills
  .gitignore
Due: none

chore(crackerjack): remove tracked .cov_test + .gitignore.bak + extend gitignore
  .cov_test
  .gitignore
  .gitignore.bak.20260926T125029Z
Due: none

docs(crackerjack): add lite-schema frontmatter to deployability-discipline.md pointer
  .claude/decisions/deployability-discipline.md
Due: none

fix(crackerjack): use removesuffix for literal suffix strip (B005)
  crackerjack/skills/github_client.py
Due: validate-regex-patterns, pyright

fix(crackerjack): resolve 2 ty errors + 2 refurb errors (comprehensive hooks)
  crackerjack/skills/durable_queue.py
  crackerjack/skills/review_metrics.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.84.1
  CHANGELOG.md
  crackerjack/mcp/skills_catalog/review-pr.md
  crackerjack/skills/comment_poster.py
  crackerjack/skills/review_pr.py
  pyproject.toml
  tests/e2e/test_review_pr_e2e.py
  tests/integration/test_review_pr.py
  uv.lock
Due: validate-regex-patterns, pyright

test(crackerjack): add SSO runtime parity guard
  tests/unit/test_version_runtime_sync.py
Due: validate-regex-patterns

feat(crackerjack): plan-index-sync fast-hook auto-regenerates PLAN_INDEX.md
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  crackerjack/tools/plan_index_sync.py
  docs/plans/PLAN_INDEX.md
  tests/unit/test_plan_index_sync.py
Due: validate-regex-patterns, pyright

fix(crackerjack): PLAN_INDEX.md link targets now resolve from docs/plans/
  crackerjack/tools/plan_index_sync.py
  docs/plans/PLAN_INDEX.md
  tests/unit/test_plan_index_sync.py
Due: validate-regex-patterns, pyright

fix(crackerjack): use timezone-aware datetime in plan_index_sync
  crackerjack/tools/plan_index_sync.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
