Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

chore(crackerjack): bump tool-config pins from 3.13 to 3.14
  pyproject.toml
Due: none

fix(crackerjack): gate pytest-snob behind a 'snob' dependency group
  pyproject.toml
Due: none

fix(crackerjack): skip non-string paths in semgrep JSON line parser
  crackerjack/executors/hook_executor.py
  tests/executors/test_hook_executor_coverage.py
Due: validate-regex-patterns, pyright

fix(crackerjack): mirror unhashable-path fix on async semgrep parser
  crackerjack/executors/async_hook_executor.py
  tests/test_async_hook_executor_concurrency.py
Due: validate-regex-patterns, pyright

fix(crackerjack): handle list-typed error["type"] in semgrep PartialParsing events
  crackerjack/executors/async_hook_executor.py
  crackerjack/executors/hook_executor.py
  tests/executors/test_hook_executor_coverage.py
  tests/test_async_hook_executor_concurrency.py
Due: validate-regex-patterns, pyright

chore(crackerjack): dedupe PyPI auth message + match paren colors
  crackerjack/__main__.py
  crackerjack/managers/publish_manager.py
Due: validate-regex-patterns, pyright

chore(crackerjack): fix malformed Rich closing tags `[/ color]` → `[/color]`
  crackerjack/api.py
  crackerjack/cli/facade.py
  crackerjack/cli/interactive.py
  crackerjack/code_cleaner.py
  crackerjack/core/performance.py
  crackerjack/core/session_coordinator.py
  crackerjack/errors.py
  crackerjack/executors/async_hook_executor.py
  crackerjack/executors/individual_hook_executor.py
  crackerjack/interactive.py
  crackerjack/managers/publish_manager.py
  crackerjack/mcp/client_runner.py
  crackerjack/mcp/rate_limiter.py
  crackerjack/mcp/server_core.py
  crackerjack/mcp/service_watchdog.py
  crackerjack/mcp/tools/core_tools.py
  crackerjack/models/task.py
  crackerjack/plugins/managers.py
  crackerjack/services/ai/contextual_ai_assistant.py
  crackerjack/services/config_integrity.py
  crackerjack/services/coverage_ratchet.py
  crackerjack/services/debug.py
  crackerjack/services/git.py
  crackerjack/services/initialization.py
  crackerjack/services/log_manager.py
  crackerjack/services/server_manager.py
  crackerjack/services/smart_scheduling.py
  crackerjack/services/version_checker.py
Due: validate-regex-patterns, pyright

chore(crackerjack): fix Rich markup typos in tests/ (single-word tags)
  tests/services/test_config_integrity.py
  tests/test_models_task_coverage.py
  tests/test_session_coordinator_coverage.py
Due: validate-regex-patterns

chore(crackerjack): fix Rich markup typos for multi-word tags `[/ bold red]`
  crackerjack/cli/facade.py
  crackerjack/cli/interactive.py
  crackerjack/code_cleaner.py
  crackerjack/executors/individual_hook_executor.py
  crackerjack/interactive.py
  crackerjack/mcp/client_runner.py
  crackerjack/services/ai/contextual_ai_assistant.py
  crackerjack/services/debug.py
  crackerjack/services/server_manager.py
Due: validate-regex-patterns, pyright

fix(crackerjack): escape entry content in changelog preview + add bump rollback
  crackerjack/managers/publish_manager.py
  crackerjack/services/changelog_automation.py
  tests/test_changelog_preview_escape.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.75.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.75.3
  pyproject.toml
  tests/test_changelog_preview_escape.py
  uv.lock
Due: validate-regex-patterns

feat(preflight): default ruff_unsafe_fixes=True; bump to 0.75.4
  CHANGELOG.md
  crackerjack/config/settings.py
  crackerjack/core/preflight.py
  pyproject.toml
Due: validate-regex-patterns, pyright

chore: bump version to 0.75.4
  CHANGELOG.md
  crackerjack/config/settings.py
  crackerjack/core/preflight.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(preflight): restore ruff_unsafe_fixes=True default
  crackerjack/config/settings.py
  crackerjack/core/preflight.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.75.5
  CHANGELOG.md
  crackerjack/config/settings.py
  crackerjack/core/preflight.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.75.6
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.75.7
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(crackerjack): pin mcp<2 to defer v2 SDK migration
  pyproject.toml
Due: none

refactor(crackerjack): migrate MCP imports to fastmcp package (v3 API)
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/mcp/tools/mahavishnu_tools.py
  crackerjack/mcp/tools/workspace_tools.py
  tests/unit/mcp/tools/test_workspace_tools.py
Due: validate-regex-patterns, pyright

chore(crackerjack): drop mcp<2 upper bound (v1 imports migrated)
  pyproject.toml
Due: none

chore(crackerjack): drop direct mcp SDK dependency (transitive only)
  pyproject.toml
  uv.lock
Due: none

fix(workflow): preserve error context + verbose detail dump in _PhaseTask
  crackerjack/core/phase_coordinator.py
  crackerjack/runtime/oneiric_workflow.py
  tests/unit/test_phase_task_verbose.py
Due: validate-regex-patterns, pyright

fix(git): revert staged files to HEAD + kill child on timeout
  crackerjack/services/git.py
  tests/unit/services/test_git.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.75.8
  CHANGELOG.md
  crackerjack/services/git.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.75.9
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.76.0
  pyproject.toml
  uv.lock
Due: none

fix(crackerjack): scope refurb to inner package dir, not repo root
  crackerjack/core/preflight.py
  tests/unit/core/test_preflight.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.76.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

test(guard): assert all Bodai repos use hatchling build backend
  tests/unit/test_bodai_build_system_guard.py
Due: validate-regex-patterns

feat(crackerjack): adopt BodaiCLIBase + real doctor/health (Phase 3 Task 4.5)
  crackerjack/__main__.py
  crackerjack/cli/base.py
  docs/MCP_SERVER_AUDIT.md
  docs/schemas/document-frontmatter-v1.md
  pyproject.toml
  tests/cli/test_base.py
  uv.lock
Due: validate-regex-patterns, pyright

docs(readme): bump Python badge from 3.13+ to 3.14+
  README.md
Due: none

feat(crackerjack): bodai.apps entry-point (Phase 5.1)
  crackerjack/cli/__init__.py
  pyproject.toml
Due: validate-regex-patterns, pyright

chore(deps): bump oneiric floor to >=0.19.1
  pyproject.toml
  uv.lock
Due: none

fix(ty): suppress unresolved-import for fallback toml import
  crackerjack/services/config_parsers.py
Due: validate-regex-patterns, pyright

fix(docs): update Claude Code MCP docs URL to current canonical location
  docs/MCP_SERVER_AUDIT.md
Due: none

chore: bump version to 0.76.2
  CHANGELOG.md
  pyproject.toml
Due: none

deps(crackerjack): bump oneiric floor to >=0.20 for OneiricCLIBase
  pyproject.toml
  uv.lock
Due: none
