Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

docs: clean up documentation structure
  GEMINI.md
  QWEN.md
  docs/archive/completed-analyses/TEMPFILE_COVERAGE_ANALYSIS.md
  docs/archive/completed-analyses/TEMPFILE_JSON_ANALYSIS.md
  docs/archive/completed-audits/DOCUMENTATION_AUDIT_REPORT.md
  docs/archive/completed-audits/README-AUDIT-RESULTS.md
  docs/archive/completed-planning/REFACTORING_PLAN.md
  docs/archive/completed-planning/refactoring_plan_test_management.md
  docs/archive/completed-projects/FINAL_PROJECT_SUMMARY.md
  docs/archive/completed-projects/IMPLEMENTATION_SUMMARY.md
Due: none

Update config, deps
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.44.24
  CHANGELOG.md
  pyproject.toml
Due: none

Update config, core, deps, docs, tests
  HOOK_REPORTING_ANALYSIS.md
  HOOK_REPORTING_FIX_SUMMARY.md
  TEST_IMPROVEMENT_PLAN.md
  crackerjack/agents/helpers/performance/performance_pattern_detector.py
  crackerjack/agents/helpers/performance/performance_recommender.py
  crackerjack/agents/helpers/refactoring/code_transformer.py
  crackerjack/agents/helpers/refactoring/complexity_analyzer.py
  crackerjack/agents/helpers/refactoring/dead_code_detector.py
  crackerjack/code_cleaner.py
  crackerjack/managers/test_executor.py
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/services/patterns/formatting.py
  pyproject.toml
  tests/integration/test_hook_reporting_e2e.py
  tests/monitoring/test_monitoring_telemetry_api.py
  tests/test_code_cleaner_comprehensive.py
  tests/test_core_modules.py
  tests/test_workflow_orchestrator_ai_routing.py
  tests/unit/orchestration/test_hook_result_details.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.25
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps, docs, tests
  HOOK_ISSUE_COUNT_DISPLAY_OPTIONS.md
  HOOK_ISSUE_COUNT_FIX_SUMMARY.md
  HOOK_ISSUE_COUNT_ROOT_CAUSE.md
  HOOK_REPORTING_ANALYSIS.md
  HOOK_REPORTING_FIX_SUMMARY.md
  crackerjack/orchestration/hook_orchestrator.py
  tests/unit/orchestration/test_issue_count_fix.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.26
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps, docs
  ARGUMENT_LIST_TOO_LONG_FIX.md
  ERROR_DETAILS_DISPLAY_FIX.md
  FINAL_IMPLEMENTATION_SUMMARY.md
  HOOK_ISSUE_COUNT_DISPLAY_OPTIONS.md
  HOOK_ISSUE_COUNT_FIX_SUMMARY.md
  HOOK_ISSUE_COUNT_ROOT_CAUSE.md
  ISSUE_COUNT_SUMMARY_TOTAL_FIX.md
  SYMBOL_DISPLAY_CRITICAL_FIX.md
  SYMBOL_DISPLAY_IMPLEMENTATION.md
  crackerjack/adapters/_tool_adapter_base.py
  crackerjack/core/phase_coordinator.py
  crackerjack/models/task.py
  crackerjack/orchestration/hook_orchestrator.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.27
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps, docs
  ARGUMENT_LIST_TOO_LONG_FIX.md
  ERROR_DETAILS_DISPLAY_FIX.md
  FINAL_IMPLEMENTATION_SUMMARY.md
  ISSUE_COUNT_SUMMARY_TOTAL_FIX.md
  SYMBOL_DISPLAY_CRITICAL_FIX.md
  SYMBOL_DISPLAY_IMPLEMENTATION.md
  crackerjack/core/phase_coordinator.py
  crackerjack/executors/hook_executor.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.44.28
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 67/100) - 2025-11-17 02:09:39
  QWEN.md
  tests/adapters/test_zuban_adapter.py
  tests/config/test_tool_commands.py
  tests/services/test_parallel_executor.py
  tests/test_file_lifecycle.py
  tests/test_main.py
  uv.lock
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 67/100) - 2025-11-18 10:45:28
  QWEN.md
  crackerjack/core/async_workflow_orchestrator.py
  crackerjack/managers/hook_manager.py
  crackerjack/mcp/websocket/monitoring/api/telemetry.py
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/services/patterns/security/__init__.py
  crackerjack/services/patterns/security/credentials.py
  crackerjack/services/secure_subprocess.py
  crackerjack/services/security.py
  pyproject.toml
  session_handoff_20251117_020949.json
  tests/conftest.py
  tests/integration/test_hook_reporting_e2e.py
  tests/integration/test_phase8_direct_invocation.py
  tests/managers/test_hook_manager_orchestration.py
  tests/test_main_entry_coverage.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-18 10:47:06
  crackerjack/mcp/websocket/monitoring/api/telemetry.py
  session_handoff_20251118_104543.json
Due: validate-regex-patterns

docs: add comprehensive README.md audit report
  README_AUDIT_REPORT.md
Due: none

docs: expand critical README files (batch 1)
  crackerjack/adapters/README.md
  crackerjack/agents/README.md
  crackerjack/cli/README.md
  crackerjack/config/README.md
Due: none

docs: complete comprehensive README audit fixes (batch 2 + 3)
  crackerjack/README.md
  crackerjack/core/README.md
  crackerjack/data/README.md
  crackerjack/decorators/README.md
  crackerjack/docs/README.md
  crackerjack/documentation/README.md
  crackerjack/events/README.md
  crackerjack/exceptions/README.md
  crackerjack/executors/README.md
  crackerjack/hooks/README.md
  crackerjack/intelligence/README.md
  crackerjack/models/README.md
  crackerjack/monitoring/README.md
  crackerjack/orchestration/cache/README.md
  crackerjack/orchestration/strategies/README.md
  crackerjack/plugins/README.md
  crackerjack/security/README.md
  crackerjack/services/ai/README.md
  crackerjack/services/quality/README.md
  crackerjack/slash_commands/README.md
  crackerjack/tools/README.md
  crackerjack/ui/README.md
  crackerjack/ui/templates/README.md
  crackerjack/workflows/README.md
Due: none

Update config, core, docs, tests
  crackerjack/README.md
  crackerjack/data/README.md
  crackerjack/decorators/README.md
  crackerjack/docs/README.md
  crackerjack/documentation/README.md
  crackerjack/events/README.md
  crackerjack/exceptions/README.md
  crackerjack/mcp/websocket/monitoring/api/telemetry.py
  crackerjack/mcp/websocket/monitoring/utils.py
  crackerjack/monitoring/README.md
  crackerjack/orchestration/cache/README.md
  crackerjack/orchestration/strategies/adaptive_strategy.py
  crackerjack/orchestration/strategies/parallel_strategy.py
  crackerjack/orchestration/strategies/sequential_strategy.py
  crackerjack/plugins/README.md
  crackerjack/security/README.md
  crackerjack/slash_commands/README.md
  crackerjack/tools/README.md
  crackerjack/ui/README.md
  crackerjack/ui/templates/README.md
  debug_hook_result.py
  debug_test.py
  session_handoff_20251118_104712.json
  tests/monitoring/test_monitoring_telemetry_api.py
  tests/test_async_hook_executor_process_tracking.py
  tests/test_async_semgrep.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 67/100) - 2025-11-19 13:45:14
  README_AUDIT_REPORT.md
  crackerjack/executors/individual_hook_executor.py
  tests/orchestration/test_hook_orchestrator.py
  tests/test_async_hook_executor.py
  tests/test_async_hook_executor_parsing.py
  tests/test_integration_new_hooks.py
  uv.lock
Due: validate-regex-patterns, pyright

Update config, core, deps, docs, tests
  README_AUDIT_REPORT.md
  crackerjack/cli/README.md
  crackerjack/config/README.md
  crackerjack/core/README.md
  crackerjack/decorators/README.md
  crackerjack/events/README.md
  crackerjack/exceptions/README.md
  crackerjack/executors/README.md
  crackerjack/executors/individual_hook_executor.py
  crackerjack/hooks/README.md
  crackerjack/intelligence/README.md
  crackerjack/models/README.md
  crackerjack/orchestration/cache/README.md
  crackerjack/orchestration/hook_orchestrator.py
  crackerjack/orchestration/strategies/README.md
  crackerjack/services/ai/README.md
  crackerjack/services/quality/README.md
  crackerjack/workflows/README.md
  debug_hook_result.py
  debug_test.py
  session_handoff_20251117_020949.json
  session_handoff_20251118_104543.json
  session_handoff_20251118_104712.json
  session_handoff_20251119_134522.json
  session_handoff_20251119_135638.json
  session_handoff_20251119_135756.json
  session_handoff_20251119_135941.json
  session_handoff_20251119_135945.json
  tests/test_executors/test_lock_integration.py
  uv.lock
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
