Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

fix(deps): add required-environments for macOS x86_64 to prevent bad uv wheel
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.65.12
  CHANGELOG.md
  pyproject.toml
Due: none

feat(17b): noise gate upgrade + download trend classification
  crackerjack/managers/publish_manager.py
  crackerjack/services/failure_recorder.py
  crackerjack/services/improvement_generator.py
  crackerjack/services/pypistats_service.py
  tests/unit/services/test_failure_trend_noise_gate.py
Due: validate-regex-patterns, pyright

chore(deps): bump pydantic-settings + msgpack past exclude-newer cutoff
  pyproject.toml
  uv.lock
Due: none

fix(security): activate betterleaks as primary secrets gate
  .betterleaks.toml
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
Due: validate-regex-patterns, pyright

fix(self-patcher): expand SELFPATCHER_DENY_PATHS for audit H11
  crackerjack/services/self_patcher.py
  docs/reference/CONFIGURATION.md
  docs/runbooks/H11_self_patcher_deny_paths.md
  tests/unit/services/test_self_patcher_deny_paths.py
Due: validate-regex-patterns, pyright

test(heal): RED spec#4 three-layer-self-heal L1/L2/L3 failing tests
  tests/core/test_self_heal.py
Due: validate-regex-patterns

feat(precommitment): Spec #2 — hypothesis lock with signature + verify + post-hoc detection
  crackerjack/__main__.py
  crackerjack/cli/precommit_cli.py
  crackerjack/core/precommitment.py
  tests/unit/test_precommitment_lock.py
Due: validate-regex-patterns, pyright

feat(reports): add apply_confidence_ceiling gate with arithmetic cap
  mahavishnu/core/events/confidence_ceiling.py
  mahavishnu/tests/unit/test_confidence_ceiling.py
Due: validate-regex-patterns

feat(quality): add anti-AI-flavor phrase detector (Spec #6)
  crackerjack/cli/anti_ai_flavor_cli.py
  crackerjack/services/quality/anti_ai_flavor.py
  crackerjack/services/quality/anti_ai_flavor_adapter.py
  tests/unit/cli/test_anti_ai_flavor_cli.py
  tests/unit/services/quality/test_anti_ai_flavor.py
  tests/unit/services/quality/test_anti_ai_flavor_adapter.py
Due: validate-regex-patterns, pyright

feat(heal): GREEN spec#4 three-layer-self-heal L1/L2/L3
  crackerjack/core/self_heal/__init__.py
  crackerjack/core/self_heal/l1_retry.py
  crackerjack/core/self_heal/l2_noop.py
  crackerjack/core/self_heal/l3_rule_store.py
  tests/core/test_self_heal.py
Due: validate-regex-patterns, pyright

feat(sop): Spec #7 project-scoped SOP evolution substrate (Phase 3)
  crackerjack/sop/__init__.py
  crackerjack/sop/cli.py
  crackerjack/sop/evolution.py
  crackerjack/sop/models.py
  crackerjack/sop/persisters.py
  tests/unit/test_sop_evolution.py
Due: validate-regex-patterns, pyright

feat(adapter-observability): Dhara-backed settings versioning substrate (Spec #8 Phase 3 pivot)
  crackerjack/mahavishnu/observability/__init__.py
  crackerjack/mahavishnu/observability/adapter_runtime.py
  tests/unit/test_adapter_observability.py
Due: validate-regex-patterns, pyright

feat(tenancy): multi-tenant context packs (Spec #9)
  crackerjack/mahavishnu/tenancy/__init__.py
  crackerjack/mahavishnu/tenancy/context_packs.py
  tests/unit/mahavishnu/tenancy/__init__.py
  tests/unit/mahavishnu/tenancy/test_tenant_context_packs.py
Due: validate-regex-patterns, pyright

feat(spec10-live-observe): add ProgressSnapshot model, WorkflowProgressRecorder interface, and watch CLI
  crackerjack/mahavishnu/workflows/__init__.py
  crackerjack/mahavishnu/workflows/progress.py
  tests/unit/test_progress_snapshots.py
Due: validate-regex-patterns, pyright

chore(gitignore): track .worktrees/ to silence worktree add artifacts
  .gitignore
Due: none

fix(security_agent): coerce Path to str before append to files list
  crackerjack/agents/security_agent.py
Due: validate-regex-patterns, pyright

fix(types): add ty: ignore[invalid-assignment] alongside mypy # type: ignore
  crackerjack/adapters/dependency/__init__.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/integration/mahavishnu_pool_dispatcher.py
  crackerjack/integration/skills_tracking.py
  crackerjack/managers/async_hook_manager.py
  crackerjack/managers/test_manager.py
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/pycharm_tools.py
  crackerjack/memory/git_history_embedder.py
  crackerjack/memory/issue_embedder.py
  crackerjack/parsers/json_parsers.py
  crackerjack/services/config_parsers.py
  crackerjack/tools/ty_cleanup.py
  crackerjack/tools/ty_ratchet.py
Due: validate-regex-patterns, pyright

fix(types): annotation upgrades for str | None defaults + duckdb + Path coercion
  crackerjack/agents/validation_coordinator.py
  crackerjack/core/defaults.py
  crackerjack/runtime/oneiric_workflow.py
  crackerjack/services/ai/predictive_analytics.py
Due: validate-regex-patterns, pyright

fix(ast): narrow ast.Expr to ast.Call before attribute access
  crackerjack/agents/helpers/ast_transform/surgeons/libcst_surgeon.py
  crackerjack/agents/refurb_agent.py
  crackerjack/code_cleaner.py
Due: validate-regex-patterns, pyright

fix(types): widen _conn to accept duckdb.DuckDBPyConnection
  crackerjack/integration/session_buddy_integration.py
Due: validate-regex-patterns, pyright

feat(types): ratchet + pymetrica timeout alignment
  crackerjack/adapters/complexity/pymetrica.py
  crackerjack/adapters/security/__init__.py
  crackerjack/adapters/security/betterleaks.py
  crackerjack/adapters/test/syrupy.py
  crackerjack/agents/base.py
  crackerjack/cli/clone_cli.py
  crackerjack/cli/docs_cli.py
  crackerjack/clone/__init__.py
  crackerjack/clone/classifier.py
  crackerjack/clone/grouper.py
  crackerjack/clone/refactor_engine.py
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/config/tool_commands.py
  crackerjack/core/ai_fix_event_bus.py
  crackerjack/core/phase_coordinator.py
  crackerjack/documentation/docstring_enricher.py
  crackerjack/integration/session_buddy_integration.py
  crackerjack/services/constitution.py
  crackerjack/services/failure_metrics_repository.py
  crackerjack/services/failure_recorder.py
  crackerjack/services/improvement_generator.py
  crackerjack/services/improvement_overseer.py
  crackerjack/services/pypistats_service.py
  crackerjack/services/version_analyzer.py
Due: validate-regex-patterns, pyright

docs(plan): record Phase D + pymetrica timeout fixes
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
  docs/reference/CONFIGURATION.md
  docs/runbooks/H11_self_patcher_deny_paths.md
Due: none

fix(ai-fix): break the cascade that grew 12 issues into 19
  crackerjack/agents/fixer_coordinator.py
  crackerjack/agents/validation_coordinator.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/services/ai_fix_progress.py
  tests/core/autofix_coordinator_bugfix_test.py
  tests/services/ai/test_ai_fix_progress.py
  tests/unit/agents/test_validation_coordinator.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 70/100) - 2026-06-27 08:10:11
  .betterleaks.toml
  complexipy-results.json
  pyproject.toml
  tests/unit/services/test_self_patcher_deny_paths.py
Due: validate-regex-patterns

feat(types): Phase G - ty-error-code-specific AI-fix handlers
  crackerjack/agents/type_error_specialist.py
  crackerjack/core/autofix_coordinator.py
  tests/test_agents/test_type_error_specialist.py
Due: validate-regex-patterns, pyright

docs(plan): record Phase G ty handler additions
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

fix(hooks): PoolHookResult dataclass replaces broken HookResult import
  crackerjack/hooks/pool_based_hooks.py
  tests/hooks/test_pool_based_hooks.py
Due: validate-regex-patterns, pyright

docs(plan): record Phase H HookResult fix
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

fix(types): genuine Phase I cleanups (datetime utcnow, valid-type, unused-awaitable)
  crackerjack/agents/enhanced_proactive_agent.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/data/models.py
  crackerjack/models/adapter_metadata.py
  crackerjack/runtime/oneiric_workflow.py
  crackerjack/tools/ty_cleanup.py
Due: validate-regex-patterns, pyright

chore(ratchet): tighten ty_max_errors from 400 to 250 (post-Phase I)
  pyproject.toml
Due: none

docs(plan): record Phase I mass suppression and ratchet tighten
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

fix(security): resolve 8 broken-control-flow bugs from mass-suppression review
  crackerjack/managers/test_manager.py
  crackerjack/services/config_parsers.py
  crackerjack/services/predictive_analytics.py
Due: validate-regex-patterns, pyright

docs(plan): record Phase I.A security review fixes (8 broken-control-flow)
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

fix(security): resolve 2 more broken-control-flow t.<attr> typos (Phase J audit)
  crackerjack/data/repository.py
  crackerjack/services/log_manager.py
Due: validate-regex-patterns, pyright

docs(plan): record Phase J audit (10 bugs total, 89 verified safe)
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
Due: none

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
