Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

Update core, deps, docs, tests
  crackerjack/managers/test_manager.py
  docs/SESSION_CHECKPOINT_2025-01-22.md
  docs/SESSION_CHECKPOINT_2025-01-22_PT2.md
  docs/TEST_AI_FIX_IMPLEMENTATION_JAN_2025.md
  scripts/integrate_resource_management.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.49.8
  CHANGELOG.md
  pyproject.toml
Due: none

feat: Add BaseCodeFixer abstract base class
  crackerjack/adapters/ai/base.py
Due: validate-regex-patterns, pyright

refactor: Reduce ClaudeCodeFixer and QwenCodeFixer to 70% smaller
  crackerjack/adapters/ai/claude.py
  crackerjack/adapters/ai/qwen.py
Due: validate-regex-patterns, pyright

feat: Add Ollama provider for local model execution
  crackerjack/adapters/ai/ollama.py
Due: validate-regex-patterns, pyright

feat: Add ProviderFactory and provider registry
  crackerjack/adapters/ai/__init__.py
  crackerjack/adapters/ai/registry.py
Due: validate-regex-patterns, pyright

feat: Add QwenCodeBridge for agent consultation
  crackerjack/agents/qwen_code_bridge.py
Due: validate-regex-patterns, pyright

feat: Add interactive provider selection CLI
  crackerjack/__main__.py
  crackerjack/cli/handlers/provider_selection.py
  crackerjack/cli/options.py
Due: validate-regex-patterns, pyright

feat: Update agents to support provider selection
  crackerjack/agents/enhanced_coordinator.py
  crackerjack/agents/enhanced_proactive_agent.py
Due: validate-regex-patterns, pyright

feat: Add ai_provider configuration
  crackerjack/config/settings.py
  settings/qwen.example.yaml
Due: validate-regex-patterns, pyright

docs: Add comprehensive provider documentation
  docs/features/OLLAMA_PROVIDER.md
  docs/features/PROVIDER_ARCHITECTURE.md
  docs/features/QWEN_PROVIDER.md
  docs/reference/CONFIGURATION.md
Due: none

test: Add integration tests for provider architecture
  test_qwen_integration.py
Due: validate-regex-patterns

Update config, core, deps, docs
  crackerjack/adapters/ai/__init__.py
  crackerjack/adapters/ai/base.py
  crackerjack/adapters/ai/claude.py
  crackerjack/adapters/ai/ollama.py
  crackerjack/adapters/ai/qwen.py
  crackerjack/adapters/ai/registry.py
  crackerjack/adapters/dependency/pip_audit.py
  crackerjack/agents/documentation_agent.py
  crackerjack/agents/enhanced_coordinator.py
  crackerjack/agents/enhanced_proactive_agent.py
  crackerjack/agents/formatting_agent.py
  crackerjack/cli/handlers/provider_selection.py
  crackerjack/config/settings.py
  crackerjack/config/tool_commands.py
  crackerjack/core/autofix_coordinator.py
  docs/.oneiric_cache/domain_activity.sqlite
  docs/.oneiric_cache/workflow_checkpoints.sqlite
  docs/CONFIG_CONSOLIDATION_AUDIT.md
  docs/SESSION_CHECKPOINT_2025-01-22_PT2.md
  docs/features/OLLAMA_PROVIDER.md
  docs/features/PROVIDER_ARCHITECTURE.md
  docs/features/QWEN_PROVIDER.md
  docs/implementation/CONFIG_CONSOLIDATION_AUDIT.md
  docs/reference/CONFIGURATION.md
  settings/crackerjack.yaml
  uv.lock
Due: validate-regex-patterns, pyright

Update core functionality
  crackerjack/adapters/ai/ollama.py
  crackerjack/adapters/ai/registry.py
  crackerjack/agents/documentation_agent.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/server.py
Due: validate-regex-patterns, pyright

Update config, core
  pyproject.toml
  templates/pyproject-full.toml
Due: none

chore: bump version to 0.50.0
  CHANGELOG.md
  pyproject.toml
Due: none

Update dependencies
  uv.lock
Due: none

chore: bump version to 0.50.1
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, docs, tests
  crackerjack/config/tool_commands.py
  crackerjack/services/doc_categorizer.py
  docs/RUFF_CHECK_AI_FIX_BUG_FIX.md
  scripts/docs_cleanup.py
  scripts/integrate_resource_management.py
  tests/TESTING_GUIDELINES.md
  tests/conftest_extensions.py
  tests/integration/test_core_integration.py
  tests/performance/test_core_performance.py
  tests/test_edge_cases.py
  tests/test_property_based.py
  tests/unit/core/test_async_workflow_orchestrator.py
  tests/unit/core/test_phase_coordinator.py
  tests/unit/core/test_phase_coordinator_additional.py
  tests/unit/core/test_session_coordinator_enhanced.py
  tests/unit/core/test_workflow_orchestrator.py
  tests/unit/test_code_cleaner.py
  tests/unit/test_hook_executor.py
  tests/unit/test_timeout_manager_enhanced.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
