Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

chore: bump version to 0.69.2
  CHANGELOG.md
  crackerjack/ai_fix/fix_runner.py
  crackerjack/slash_commands/__init__.py
  docs/plans/PLAN_INDEX.md
  pyproject.toml
  scripts/_frontmatter_restore_C2.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(mdformat): skip files with YAML frontmatter
  crackerjack/tools/mdformat_wrapper.py
  report.txt
  scripts/validate_document_frontmatter.py
Due: validate-regex-patterns, pyright

feat(frontmatter): bulk-convert 38 crackerjack docs to v1 schema
  docs/adr/ADR-001-mcp-first-architecture.md
  docs/adr/ADR-002-multi-agent-orchestration.md
  docs/adr/ADR-003-property-based-testing.md
  docs/adr/ADR-004-quality-gate-thresholds.md
  docs/adr/ADR-005-agent-skill-routing.md
  docs/adr/ADR-025-complexity-scanning-defaults.md
  docs/followups/2026-07-04-tier3-implementation-plan.md
  docs/plans/2025-02-12-multi-agent-ai-fix-quality-system-design.md
  docs/plans/2025-02-12-multi-agent-ai-fix-quality-system.md
  docs/plans/2026-02-12-v2-multi-agent-quality-system.md
  docs/plans/2026-02-22-ast-transform-engine-design.md
  docs/plans/2026-05-30-ai-fix-dashboard-wiring.md
  docs/plans/2026-06-27-ty-cleanup-and-ai-fix.md
  docs/plans/2026-07-06-ai-fix-tier-architecture.md
  docs/plans/swarm-autofix-integration.md
  docs/superpowers/plans/2026-05-20-phase-0-event-bus-plan.md
  docs/superpowers/plans/2026-06-02-ai-fix-display-loop-bugs.md
  docs/superpowers/plans/2026-06-03-dhara-mcp-migration.md
  docs/superpowers/plans/2026-06-29-ty-ratchet-cleanup.md
  docs/superpowers/plans/2026-07-08-fix-sandbox-integration.md
  docs/superpowers/plans/2026-07-10-libcst-surgeon-extract-method-fallback.md
  docs/superpowers/plans/2026-07-10-output-validator-traceback-details.md
  docs/superpowers/plans/2026-07-10-validation-coordinator-serialization.md
  docs/superpowers/plans/2026-07-11-ai-fix-e501-post-processor.md
  docs/superpowers/plans/2026-07-11-ai-fix-no-op-circuit-breaker.md
  docs/superpowers/plans/2026-07-11-ai-fix-regen-timeout.md
  docs/superpowers/plans/2026-07-12-eventbridge-publisher.md
  docs/superpowers/specs/2026-05-20-ai-fix-comprehensive-overhaul-design.md
  docs/superpowers/specs/2026-06-03-dhara-mcp-migration-design.md
  docs/superpowers/specs/2026-06-29-ty-ratchet-cleanup-design.md
  docs/superpowers/specs/2026-07-07-ai-fix-improvement-design.md
  docs/superpowers/specs/2026-07-08-fix-sandbox-integration-design.md
  docs/superpowers/specs/2026-07-10-libcst-surgeon-extract-method-fallback-design.md
  docs/superpowers/specs/2026-07-10-output-validator-traceback-details-design.md
  docs/superpowers/specs/2026-07-10-validation-coordinator-serialization-design.md
  docs/superpowers/specs/2026-07-11-ai-fix-e501-post-processor-design.md
  docs/superpowers/specs/2026-07-11-ai-fix-no-op-circuit-breaker-design.md
  docs/superpowers/specs/2026-07-11-ai-fix-regen-timeout-design.md
  uv.lock
Due: none

refactor(mdformat): use Path.open() instead of open() (FURB117)
  crackerjack/tools/mdformat_wrapper.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.69.3
  CHANGELOG.md
  pyproject.toml
Due: none

refactor(secure_path): tighten _check_malicious_patterns to str
  crackerjack/services/secure_path_utils.py
Due: validate-regex-patterns, pyright

chore: bump oneiric dep to >=0.16.0
  pyproject.toml
  uv.lock
Due: none

chore: bump version to 0.69.4
  CHANGELOG.md
  crackerjack/adapters/refactor/creosote.py
  crackerjack/core/phase_coordinator.py
  crackerjack/mahavishnu/mcp/tools/git_analytics.py
  crackerjack/managers/publish_manager.py
  crackerjack/services/pypi_auth/_auth.py
  crackerjack/services/pypi_auth/_keyring.py
  crackerjack/services/pypi_auth/_providers.py
  crackerjack/services/pypi_auth/_trusted_publishing.py
  crackerjack/slash_commands/__init__.py
  crackerjack/tools/mdformat_wrapper.py
  crackerjack/tools/ty_cleanup.py
  docs/audits/2026-06-12-furb-handler-audit-driver.py
  mahavishnu/core/events/confidence_ceiling.py
  pyproject.toml
  scripts/_frontmatter_apply_C1.py
  scripts/_frontmatter_restore_C2.py
  scripts/integrate_resource_management.py
  scripts/migrate_ulids.py
  scripts/regenerate_plan_index.py
  scripts/validate_document_frontmatter.py
  tests/adapters/test_creosote.py
  uv.lock
Due: validate-regex-patterns, pyright

feat(crackerjack): add hook rejecting mypy/ruff-syntax # type: ignore comments
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  crackerjack/config/tool_commands.py
  crackerjack/tools/ty_ignore_syntax.py
Due: validate-regex-patterns, pyright

test(crackerjack): sync test asserting KNOWN_TY_CODES matches decision file
  tests/unit/tools/test_ty_ignore_syntax.py
Due: validate-regex-patterns

chore(crackerjack): drop unused call-non-callable from KNOWN_TY_CODES; sync with decision file
  crackerjack/tools/ty_ignore_syntax.py
Due: validate-regex-patterns, pyright

feat(tools): add get_git_root helper to _git_utils with tests
  crackerjack/tools/_git_utils.py
  tests/unit/tools/test_git_utils.py
Due: validate-regex-patterns, pyright

refactor(services): move validate_document_frontmatter.py into crackerjack.services.frontmatter
  crackerjack/services/frontmatter.py
  tests/unit/test_validate_frontmatter.py
Due: validate-regex-patterns, pyright

refactor(validator): call validator module in-process instead of subprocess
  crackerjack/services/frontmatter_validator.py
  tests/unit/test_frontmatter_validator.py
Due: validate-regex-patterns, pyright

feat(cli): docs validate --repo-root with --allow-nonstandard flag
  crackerjack/cli/docs_cli.py
  tests/unit/cli/test_docs_cli.py
  tests/unit/test_doc_cli.py
Due: validate-regex-patterns, pyright

fix(frontmatter): gate MISSING_FRONTMATTER on allow_nonstandard at source
  crackerjack/cli/docs_cli.py
  crackerjack/services/frontmatter.py
Due: validate-regex-patterns, pyright

test(cleanup): add end-to-end regression test for missing-frontmatter cleanup
  tests/test_phase_coordinator.py
Due: validate-regex-patterns

docs(regenerator): point to crackerjack docs validate CLI
  scripts/regenerate_plan_index.py
Due: validate-regex-patterns

chore: bump version to 0.70.0
  CHANGELOG.md
  crackerjack/cli/docs_cli.py
  crackerjack/services/frontmatter.py
  crackerjack/services/frontmatter_validator.py
  crackerjack/tools/ty_ignore_syntax.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

fix(frontmatter): tighten regex to --- only; regression in consumer migration
  CHANGELOG.md
  crackerjack/services/frontmatter.py
  pyproject.toml
  tests/unit/test_validate_frontmatter.py
  uv.lock
Due: validate-regex-patterns, pyright

docs(readme): add Bodai Ecosystem Role section
  README.md
Due: none

chore: bump version to 0.70.2
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.70.3
  crackerjack/config/tool_commands.py
  crackerjack/executors/hook_executor.py
  crackerjack/parsers/json_parsers.py
  pyproject.toml
  tests/unit/parsers/test_json_parsers.py
  uv.lock
Due: validate-regex-patterns, pyright

feat(crackerjack): add discover_tools meta-tool + wire always-on tools
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/__init__.py
  crackerjack/mcp/tools/core_tools.py
  crackerjack/mcp/tools/discover_tools.py
  crackerjack/mcp/tools/workspace_tools.py
  docs/MCP_TOOLS_SPECIFICATION.md
  docs/architecture/MEMORY_ARCHITECTURE.md
  tests/unit/mcp/test_discover_tools.py
  tests/unit/mcp/test_mcp_tool_drift.py
  tests/unit/mcp/tools/test_workspace_tools.py
Due: validate-regex-patterns

feat(crackerjack): pre-commit skill-coverage gate consuming distilled_skill_health
  crackerjack/hooks/__init__.py
  crackerjack/hooks/pre_commit.py
  crackerjack/hooks/skill_coverage.py
  tests/unit/crackerjack/__init__.py
  tests/unit/crackerjack/hooks/__init__.py
  tests/unit/crackerjack/hooks/test_skill_coverage.py
Due: validate-regex-patterns, pyright

fix(crackerjack): wire skill-coverage gate into FAST_HOOKS
  crackerjack/config/hooks.py
  tests/integration/test_phase8_direct_invocation.py
  tests/unit/config/test_skill_coverage_hook.py
Due: validate-regex-patterns, pyright

audit(crackerjack): triage 12 orphan stashes + 38 failing tests
  docs/audits/2026-08-03-crackerjack-orphan-stashes.md
  tests/unit/config/test_hooks_config.py
Due: validate-regex-patterns

audit(crackerjack): deep-dig stash to plan + MEMORY_ARCHITECTURE mapping
  docs/audits/2026-08-03-crackerjack-orphan-stashes.md
Due: none

fix(crackerjack): 4 small fixes for failing tests + project name in verbose output
  crackerjack/ai_fix/sandboxed_dispatcher.py
  crackerjack/core/phase_coordinator.py
  crackerjack/services/pypi_auth/_providers.py
  tests/unit/test_config_settings.py
Due: validate-regex-patterns, pyright

audit(crackerjack): document second-pass fixes (12→11 stashes, 42→6 fails)
  docs/audits/2026-08-03-crackerjack-orphan-stashes.md
Due: none

fix(crackerjack): 6 remaining test failures (git_utils + mdformat)
  crackerjack/tools/_git_utils.py
  crackerjack/tools/mdformat_wrapper.py
  tests/unit/tools/test_git_utils.py
Due: validate-regex-patterns, pyright

docs(audit): finalize 2026-08-03 orphan-stashes triage to clean-slate state
  docs/audits/2026-08-03-crackerjack-orphan-stashes.md
Due: none

test(secure_status_formatter): fix auth-mask typo (18→16 char expected value)
  tests/unit/services/test_secure_status_formatter.py
Due: validate-regex-patterns

test(preflight): add baseline arg to TestPreflightParallelExecution mocks
  tests/unit/core/test_preflight.py
Due: validate-regex-patterns

fix(phase_coordinator): add class-level _event_publisher default for bare __new__ tests
  crackerjack/core/phase_coordinator.py
Due: validate-regex-patterns, pyright

fix(git_history_embedder): clear module thread-local on close
  crackerjack/memory/git_history_embedder.py
Due: validate-regex-patterns, pyright

fix(test_manager): wrap pkg_path in Path() before CoverageBadgeService
  crackerjack/managers/test_manager.py
Due: validate-regex-patterns, pyright

test(mcp_git_analytics): update 4 stale TypeError assertions to assert successful results
  tests/unit/mahavishnu/mcp/tools/test_mcp_git_analytics.py
Due: validate-regex-patterns

fix(hooks): make ty opt-in via enable_ty (mirror zuban pattern)
  crackerjack/config/hooks.py
  tests/unit/config/test_hooks_config.py
Due: validate-regex-patterns, pyright

fix(autofix): gate refurb prepass on file-change tracker + force_prepass
  crackerjack/core/autofix_coordinator.py
  tests/unit/core/test_autofix_coordinator.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
