Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

Update config, core, deps, docs
  crackerjack/adapters/refactor/refurb.py
  crackerjack/adapters/refactor/skylos.py
  crackerjack/adapters/sast/bandit.py
  crackerjack/adapters/sast/semgrep.py
  crackerjack/adapters/type/zuban.py
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  crackerjack/decorators/README.md
  crackerjack/events/README.md
  crackerjack/exceptions/README.md
  crackerjack/services/README.md
  crackerjack/tools/linkcheckmd_wrapper.py
  crackerjack/tools/local_link_checker.py
  docs/archive/completed-audits/DOCUMENTATION_AUDIT_REPORT.md
  docs/archive/completed-audits/README-AUDIT-RESULTS.md
  docs/guides/CLAUDE.md
  docs/implementation/README_AUDIT_REPORT.md
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.46.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.46.1
  CHANGELOG.md
  pyproject.toml
Due: none

Update dependencies
  uv.lock
Due: none

chore: bump version to 0.46.2
  CHANGELOG.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 70/100) - 2025-12-24 19:16:19
  PHASE2_OPTIMIZATION_SUMMARY.md
  TEST_OPTIMIZATION_SUMMARY.md
  TEST_TIMEOUT_ANALYSIS.md
  pyproject.toml
Due: none

checkpoint: crackerjack (quality: 70/100) - 2025-12-24 21:44:35
  PHASE2_OPTIMIZATION_SUMMARY.md
  logs/openai/openai-2025-12-22T16-56-09.076Z-43f5c74f.json
Due: none

checkpoint: crackerjack (quality: 70/100) - 2025-12-25 16:17:44
  ONEIRIC_MIGRATION_EXECUTION_PLAN.md
  archive/ONEIRIC_CRACKERJACK_REFINEMENT_PLAN.md.archived
  archive/ONEIRIC_CUTOVER_PLAN.md.archived
Due: none

checkpoint: crackerjack (quality: 70/100) - 2025-12-25 17:48:35
  .ai/mcp/mcp.json
  ONEIRIC_MIGRATION_EXECUTION_PLAN.md
  crackerjack/managers/publish_manager.py
  crackerjack/models/protocols.py
  crackerjack/services/logging.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.46.3
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.46.4
  CHANGELOG.md
  pyproject.toml
Due: none

Phase 0 complete: Pre-migration audit and baseline
  BREAKING_CHANGES.md
  MIGRATION_AUDIT.md
  tests/test_performance.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 70/100) - 2025-12-27 00:27:58
  MIGRATION_AUDIT.md
  crackerjack/__main__.py
  crackerjack/cli/__init__.py
  crackerjack/cli/handlers.py
  crackerjack/cli/options.py
  crackerjack/config/__init__.py
  crackerjack/mcp/client_runner.py
  crackerjack/mcp/enhanced_progress_monitor.tcss
  crackerjack/mcp/progress_monitor.tcss
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/monitoring_tools.py
  crackerjack/mcp/tools/workflow_executor.py
  crackerjack/runtime/__init__.py
  crackerjack/runtime/health_snapshot.py
  crackerjack/services/ai/contextual_ai_assistant.py
  crackerjack/services/patterns/formatting.py
  crackerjack/services/server_manager.py
  crackerjack/services/thread_safe_status_collector.py
  tests/monitoring/README.md
  tests/monitoring/test_monitoring_telemetry_api.py
  tests/test_import_coverage_consolidated.py
  tests/test_main_module.py
  tests/test_mcp_progress_monitor.py
  tests/test_resource_cleanup_integration.py
  tests/test_services_coverage.py
  tests/test_unified_monitoring_dashboard.py
  tests/test_websocket_endpoints.py
  tests/test_websocket_lifecycle.py
  tests/unit/cli/test_handlers.py
  tests/unit/core/test_timeout_manager.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 70/100) - 2025-12-27 06:16:47
  PHASE-2-REGRESSION-FIX-SUMMARY.md
  PHASE-3-COMPLETION-SUMMARY.md
  PHASE-3-IMPLEMENTATION-PLAN.md
  __main__.py
  crackerjack/__main___acb_backup.py
  crackerjack/api.py
  crackerjack/cli/facade.py
  crackerjack/cli/handlers.py
  crackerjack/cli/handlers/main_handlers.py
  crackerjack/cli/interactive.py
  crackerjack/config/__init__.py
  crackerjack/config/settings_attempt1.py
  crackerjack/core/session_coordinator.py
  crackerjack/mcp/context.py
  crackerjack/mcp/tools/core_tools.py
  crackerjack/mcp/tools/workflow_executor.py
  crackerjack/server.py
  crackerjack/services/memory_optimizer.py
  crackerjack/utils/dependency_guard.py
  scripts/validate_imports.py
Due: validate-regex-patterns, pyright
