Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

refactor(crackerjack): delete unused pool_based_hooks (dead test code)
  crackerjack/hooks/pool_based_hooks.py
  tests/hooks/test_pool_based_hooks.py
Due: validate-regex-patterns, pyright

refactor(crackerjack): delete unused reflection_loop (dead test code)
  crackerjack/reflection_loop.py
  tests/models/test_protocols.py
  tests/test_architectural_compliance.py
  tests/test_reflection_loop.py
Due: validate-regex-patterns, pyright

test(crackerjack): remove skills_effectiveness_tracking integration test (module is unused)
  tests/integration/test_skills_effectiveness_tracking.py
Due: validate-regex-patterns

refactor(crackerjack): delete unused skills_effectiveness_tracking module + re-exports
  crackerjack/integration/__init__.py
  crackerjack/integration/skills_effectiveness_tracking.py
Due: validate-regex-patterns, pyright

refactor(crackerjack): drop unused skills_effectiveness_db setting
  crackerjack/config/settings.py
Due: validate-regex-patterns, pyright

docs(crackerjack): remove references to deleted skills_effectiveness_tracking module
  docs/features/PHASE_3_LEARNING_QUICK_REFERENCE.md
  docs/features/SYMBIOTIC_ECOSYSTEM_INTEGRATION.md
  docs/followups/2026-07-04-tier3-implementation-plan.md
Due: none

fix(publish): opt out of mask_tokens for keyring subprocess stdout
  crackerjack/managers/publish_manager.py
  tests/unit/managers/test_publish_manager.py
Due: validate-regex-patterns, pyright

fix(publish): propagate discovered token to uv publish subprocess as UV_PUBLISH_TOKEN
  crackerjack/managers/publish_manager.py
  tests/test_publish_manager_coverage.py
  tests/unit/managers/test_publish_manager.py
  tests/unit/managers/test_publish_manager_extended.py
  tests/unit/managers/test_publish_manager_gaps.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.68.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(plans): tick shipped checkboxes in 7 crackerjack 2026-07 plans
  docs/superpowers/plans/2026-07-08-fix-sandbox-integration.md
  docs/superpowers/plans/2026-07-10-libcst-surgeon-extract-method-fallback.md
  docs/superpowers/plans/2026-07-10-output-validator-traceback-details.md
  docs/superpowers/plans/2026-07-10-validation-coordinator-serialization.md
  docs/superpowers/plans/2026-07-11-ai-fix-e501-post-processor.md
  docs/superpowers/plans/2026-07-11-ai-fix-no-op-circuit-breaker.md
  docs/superpowers/plans/2026-07-11-ai-fix-regen-timeout.md
Due: none

docs(plans): tick shipped checkboxes in crackerjack eventbridge-publisher
  docs/superpowers/plans/2026-07-12-eventbridge-publisher.md
Due: none

feat(crackerjack): add FrontmatterValidator service wrapping mahavishnu validator
  crackerjack/services/frontmatter_validator.py
  tests/unit/test_frontmatter_validator.py
Due: validate-regex-patterns, pyright

feat(crackerjack): add doc_frontmatter_validate MCP tool
  crackerjack/mcp/tools/__init__.py
  crackerjack/mcp/tools/doc_tools.py
Due: validate-regex-patterns

feat(crackerjack): add docs validate CLI subcommand
  crackerjack/cli/docs_cli.py
  tests/unit/test_doc_cli.py
Due: validate-regex-patterns, pyright

feat(crackerjack): validate frontmatter in doc cleanup phase
  crackerjack/core/phase_coordinator.py
  tests/integration/test_phase_coordinator_integration.py
  tests/unit/core/test_phase_coordinator.py
Due: validate-regex-patterns, pyright

fix(crackerjack): use sys.executable in frontmatter validator subprocess
  crackerjack/services/frontmatter_validator.py
Due: validate-regex-patterns, pyright

feat(pypi_auth): PyPIAuth opaque wrapper + Protocol + discover_auth()
  crackerjack/services/pypi_auth/__init__.py
  crackerjack/services/pypi_auth/_auth.py
  tests/unit/services/test_pypi_auth.py
Due: validate-regex-patterns, pyright

chore(pypi_auth): retain quality-run cleanup
  crackerjack/services/pypi_auth/_auth.py
Due: validate-regex-patterns, pyright

test(crackerjack): update phase_coordinator test mocks for FrontmatterValidator hook
  tests/test_phase_coordinator.py
Due: validate-regex-patterns

chore(crackerjack): bump version to 0.69.0 (frontmatter validator wiring)
  pyproject.toml
Due: none

feat(plugin): add crackerjack plugin manifest + namespaced commands (additive)
  .claude-plugin/plugin.json
  .mcp.json
  commands/crackerjack-init.md
  commands/crackerjack-run.md
  commands/crackerjack-status.md
Due: none

feat(plugin): remove legacy slash_commands/; crackerjack plugin is canonical
  crackerjack/slash_commands/README.md
  crackerjack/slash_commands/__init__.py
  crackerjack/slash_commands/init.md
  crackerjack/slash_commands/run.md
  crackerjack/slash_commands/status.md
Due: validate-regex-patterns, pyright

docs(crackerjack): copy validator + regenerator + schemas (P7.B seed)
  docs/schemas/document-frontmatter-v1.md
  docs/schemas/topic-vocabulary-v1.md
  scripts/_frontmatter_apply_C1.py
  scripts/regenerate_plan_index.py
  scripts/validate_document_frontmatter.py
Due: validate-regex-patterns

fix(pypi_auth): align with spec — strip source param, fix checked-list bug, add discovery tests
  crackerjack/services/pypi_auth/_auth.py
  tests/unit/services/test_pypi_auth.py
Due: validate-regex-patterns, pyright

chore(pypi_auth): polish — drop no-op assertion, add trailing newlines
  crackerjack/services/pypi_auth/_auth.py
  tests/unit/services/test_pypi_auth.py
Due: validate-regex-patterns, pyright

feat(pypi_auth): _keyring_get_raw() — unmasked keyring subprocess helper
  crackerjack/services/pypi_auth/_keyring.py
  tests/unit/services/test_keyring_raw.py
Due: validate-regex-patterns, pyright

chore(pypi_auth): add trailing newlines to _keyring + tests
  crackerjack/services/pypi_auth/_keyring.py
  tests/unit/services/test_keyring_raw.py
Due: validate-regex-patterns, pyright

feat(pypi_auth): EnvVarAuthProvider and KeyringAuthProvider
  crackerjack/services/pypi_auth/_providers.py
  tests/unit/services/test_pypi_auth_providers.py
Due: validate-regex-patterns, pyright

feat(pypi_auth): TrustedPublishingProvider for OIDC-based auth
  crackerjack/services/pypi_auth/_auth.py
  crackerjack/services/pypi_auth/_trusted_publishing.py
  tests/unit/services/test_pypi_auth_providers.py
Due: validate-regex-patterns, pyright

refactor(publish): use PyPIAuth abstraction; remove old auth pipeline
  crackerjack/managers/publish_manager.py
  tests/unit/managers/test_publish_manager_pyi_auth.py
Due: validate-regex-patterns, pyright

test(publish): migrate tests to PyPIAuth interface; drop tests for removed symbols
  tests/test_publish_manager_coverage.py
  tests/unit/managers/test_publish_manager.py
  tests/unit/managers/test_publish_manager_extended.py
  tests/unit/managers/test_publish_manager_gaps.py
Due: validate-regex-patterns

test(publish): regression — token body survives masking for all three providers
  tests/unit/managers/test_publish_manager_pyi_auth.py
Due: validate-regex-patterns

fix(pypi_auth): correct EnvVar source string typo + CHANGELOG entry
  CHANGELOG.md
  crackerjack/services/pypi_auth/_providers.py
Due: validate-regex-patterns, pyright

fix(pypi_auth): whole-branch review fixes
  crackerjack/managers/publish_manager.py
  crackerjack/services/pypi_auth/_auth.py
  tests/unit/managers/test_publish_manager_pyi_auth.py
  tests/unit/services/test_pypi_auth.py
Due: validate-regex-patterns, pyright

fix(publish): explicitly empty UV_PUBLISH_TOKEN in Trusted Publishing path
  crackerjack/managers/publish_manager.py
  tests/unit/managers/test_publish_manager_pyi_auth.py
Due: validate-regex-patterns, pyright

fix(pypi_auth): control char rejection + real-helper regression test
  crackerjack/services/pypi_auth/_auth.py
  tests/unit/managers/test_publish_manager_pyi_auth.py
  tests/unit/services/test_pypi_auth.py
Due: validate-regex-patterns, pyright

fix(coverage): phase_coordinator reads coverage_percent (key-name contract)
  crackerjack/core/phase_coordinator.py
  tests/conftest_extensions.py
  tests/integration/core/test_phase_coordinator.py
  tests/test_phase_coordinator.py
  tests/unit/core/test_phase_coordinator.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
