Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

feat(audit): add skills subcommand with --json and --fail flags
  crackerjack/cli/audit_cli.py
  crackerjack/skills/health.py
  tests/unit/cli/test_audit_skills.py
Due: validate-regex-patterns, pyright

feat(skills): add skills refresh typer sub-app for cron use
  crackerjack/__main__.py
  crackerjack/cli/skills_cli.py
  tests/unit/cli/test_skills_refresh.py
Due: validate-regex-patterns, pyright

refactor(hooks): remove skill-coverage from FAST_HOOKS
  crackerjack/config/hooks.py
Due: validate-regex-patterns, pyright

chore(hooks): delete obsolete skill-coverage hook + tests
  crackerjack/hooks/pre_commit.py
  crackerjack/hooks/skill_coverage.py
  tests/unit/config/test_skill_coverage_hook.py
  tests/unit/crackerjack/hooks/test_skill_coverage.py
Due: validate-regex-patterns, pyright

docs(skills): document refresh cadence + ops crontab example
  docs/SKILL_SYSTEM.md
  ops/crontab.example
Due: none

test(skills): add CLI integration test scaffold and CI wiring
  tests/integration/test_skills_cli_e2e.py
Due: validate-regex-patterns

fix(skills): align _post_json signature with call site; add regression test; trailing newlines
  crackerjack/cli/skills_cli.py
  ops/crontab.example
  tests/unit/cli/test_audit_skills.py
  tests/unit/cli/test_skills_refresh.py
Due: validate-regex-patterns, pyright

test: remove stale xfail markers, delete unimplemented-method tests, harden sandbox fixture
  tests/integration/test_sandboxed_fix.py
  tests/unit/managers/test_hook_manager.py
  tests/unit/managers/test_hook_manager_extended.py
  tests/unit/managers/test_test_manager_coverage.py
Due: validate-regex-patterns

docs(spec): coverage-ratchet ecosystem standardization
  docs/superpowers/specs/2026-08-11-bodai-coverage-ratchet-standard-design.md
Due: none

feat(ratchet): add lower_baseline, mirror_to_pyproject, report_status
  crackerjack/services/coverage_ratchet.py
  tests/services/test_coverage_ratchet.py
Due: validate-regex-patterns, pyright

feat(ratchet): wire ratchet into test-stage integration
  crackerjack/managers/test_manager.py
  tests/managers/test_test_manager_ratchet.py
Due: validate-regex-patterns, pyright

fix(test-manager): wire run_with_ratchet_check into _process_coverage_ratchet
  crackerjack/managers/test_manager.py
Due: validate-regex-patterns, pyright

test(ratchet): add wrapper-execution tests for ratchet gate
  tests/managers/test_test_manager_ratchet.py
Due: validate-regex-patterns

feat(ratchet): CLI commands init, status, lower, migrate
  crackerjack/cli/__init__.py
  crackerjack/cli/coverage_ratchet_cli.py
  tests/cli/test_coverage_ratchet_cli.py
Due: validate-regex-patterns, pyright

fix(cli): register coverage-ratchet subcommand in main dispatcher
  crackerjack/__main__.py
Due: validate-regex-patterns, pyright

test(ratchet): e2e adoption test for mcp-common
  tests/e2e/test_bodai_ratchet_adoption.py
Due: validate-regex-patterns

feat(ratchet): adopt coverage-ratchet at current coverage
  .coverage-ratchet.json
  pyproject.toml
Due: none

fix(ratchet): handle array-form addopts in mirror_to_pyproject
  crackerjack/services/coverage_ratchet.py
  tests/services/test_coverage_ratchet.py
Due: validate-regex-patterns, pyright

fix(ratchet): fix array double-comma + mirror to coverage.report block
  crackerjack/services/coverage_ratchet.py
  tests/services/test_coverage_ratchet.py
Due: validate-regex-patterns, pyright

chore(ratchet): remove temporary migrate CLI
  crackerjack/cli/coverage_ratchet_cli.py
  tests/cli/test_coverage_ratchet_cli.py
Due: validate-regex-patterns, pyright

fix(ratchet): preserve full float precision in update_coverage_requirement
  crackerjack/services/patterns/operations.py
  tests/services/test_regex_patterns.py
Due: validate-regex-patterns, pyright

chore(gitignore): allow .coverage-ratchet.json to be tracked
  .gitignore
Due: none

chore(ratchet): trim trailing whitespace in init CLI
  crackerjack/cli/coverage_ratchet_cli.py
  crackerjack/services/filesystem.py
  tests/cli/test_coverage_ratchet_cli.py
Due: validate-regex-patterns, pyright

fix(ratchet): restore correct ⚠️ emoji bytes in init CLI
  crackerjack/cli/coverage_ratchet_cli.py
Due: validate-regex-patterns, pyright

chore: bump version to 0.73.1
  crackerjack/tools/syrupy_wrapper.py
  docs/feature-tracking/TEMPLATE.md
  docs/superpowers/plans/2026-08-10-ai-fix-loop-task-1-kickoff.md
  pyproject.toml
  tests/unit/tools/test_syrupy_wrapper.py
  uv.lock
Due: validate-regex-patterns, pyright

fix(hooks): remove syrupy from COMPREHENSIVE_HOOKS (restores 35c7ccb3)
  README.md
  crackerjack/config/hooks.py
  crackerjack/config/tool_commands.py
  crackerjack/tools/syrupy_wrapper.py
  tests/unit/adapters/test_syrupy_adapter.py
  tests/unit/tools/test_syrupy_wrapper.py
Due: validate-regex-patterns, pyright

test(hooks): fix stale FAST_HOOKS count assertion (17 -> 16)
  tests/integration/test_phase8_direct_invocation.py
Due: validate-regex-patterns

fix(hooks): restore ty as the default-active type checker
  crackerjack/config/hooks.py
  crackerjack/config/settings.py
  settings/crackerjack.yaml
  tests/unit/test_comprehensive_type_hooks.py
  tests/unit/test_config_settings.py
Due: validate-regex-patterns, pyright

fix: replace pydantic Field() misused as mutable default in 6 places
  crackerjack/adapters/refactor/vulture.py
  crackerjack/core/session_coordinator.py
  crackerjack/executors/hook_lock_manager.py
  crackerjack/executors/individual_hook_executor.py
  crackerjack/services/git.py
Due: validate-regex-patterns, pyright

fix(file-lifecycle): BatchFileOperations.close() missing since ef49d8fe
  crackerjack/core/file_lifecycle.py
  tests/core/test_file_lifecycle.py
Due: validate-regex-patterns, pyright

fix(workflow-executor): restore truncated TODO for coverage improvement
  crackerjack/mcp/tools/workflow_executor.py
Due: validate-regex-patterns

test(config): assert ZubanLSPConfig disabled-by-default (ty replaces zuban)
  tests/models/test_config.py
Due: validate-regex-patterns

test(tool-registry): update counts and tier lists to match current state
  tests/config/test_tool_commands.py
  tests/models/test_tool_config.py
Due: validate-regex-patterns

fix(pyscn): default skip_cyclomatic=False so parser returns issues
  crackerjack/adapters/sast/pyscn.py
  tests/models/test_pydantic_models.py
Due: validate-regex-patterns, pyright

test(websocket): align with 6bfaa1af honest-stub + canonical-permission fixes
  tests/websocket/test_server.py
Due: validate-regex-patterns

test(check_jsonschema): align _process_file signature with production
  tests/tools/test_check_jsonschema.py
Due: validate-regex-patterns

test(workflow-executor): remove dead TestAttemptCoverageImprovement class
  tests/mcp_test_helpers/tools/test_workflow_executor.py
Due: validate-regex-patterns

test(utility-tools): use UTC-aware datetime to match production parser
  tests/test_mcp_utility_tools.py
Due: validate-regex-patterns

test(misc): align fixtures with production behavior
  tests/services/test_safe_code_modifier.py
  tests/test_structured_logging.py
  tests/tools/test_mdformat_wrapper.py
  tests/unit/services/test_secure_status_formatter.py
Due: validate-regex-patterns
