Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

fix: skip validation for check-local-links issue count
  crackerjack/core/autofix_coordinator.py
  crackerjack/parsers/regex_parsers.py
Due: validate-regex-patterns, pyright

fix: add noqa comment to prevent ruff from re-adding space in format specifier
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

fix: complete Phase 1 critical fixes
  PHASE_1_COMPLETE.md
  crackerjack/agents/helpers/refactoring/code_transformer.py
  crackerjack/config/settings_attempt1.py
  crackerjack/executors/hook_executor.py
  crackerjack/managers/test_manager.py
  docs/COMPLEXITY_REFACTORING_PLAN_GAMMA.md
  docs/MASTER_COORDINATION_SUMMARY.md
  docs/PERFORMANCE_DIAGRAMS.md
  docs/TEAM_COORDINATION_DIAGRAM.md
  fix_broken_links_complete.md
  tests/e2e/__init__.py
  tests/test_code_cleaner.py
Due: validate-regex-patterns, pyright

test: fix 9 tests broken by Phase 2.3 architecture improvements
  PHASES_1_AND_2_COMPLETE.md
  TEST_FIXES_PHASES_1_AND_2.md
  tests/cli/test_cache_handlers.py
  tests/config/test_loader.py
  tests/config/test_tool_commands.py
Due: validate-regex-patterns

fix: FormattingAgent now properly tracks files_modified
  crackerjack/agents/formatting_agent.py
Due: validate-regex-patterns, pyright

plan: add Phase 3 major refactoring implementation plan
  PHASE_3_PLAN.md
Due: none

refactor: reduce ProviderChain::_check_provider_availability complexity
  crackerjack/adapters/ai/registry.py
Due: validate-regex-patterns, pyright

refactor: reduce DependencyAgent complexity from 18+ to ≤11
  crackerjack/agents/dependency_agent.py
Due: validate-regex-patterns, pyright

refactor: reduce AutofixCoordinator complexity from >15 to ≤13
  crackerjack/core/autofix_coordinator.py
Due: validate-regex-patterns, pyright

refactor: complete Phase 3.1.4 - Parser & Service Functions complexity reduction
  PHASE_3_PROGRESS.md
  PHASE_3_UPDATE_COORDINATORS_COMPLETE.md
  crackerjack/.complexipy_cache/65688984bc8e7b8d98de04fcb25a9846.json
  crackerjack/.complexipy_cache/c1d7b0c67bc7275fd55154b03e0d02be.json
  crackerjack/.complexipy_cache/f04ed8ef463c917f1899b8934f3fcf59.json
  crackerjack/adapters/ai/registry.py
  crackerjack/agents/helpers/refactoring/code_transformer.py
  crackerjack/parsers/json_parsers.py
  crackerjack/parsers/regex_parsers.py
  crackerjack/services/batch_processor.py
Due: validate-regex-patterns, pyright

refactor: establish error handling standard and apply critical fixes
  PHASE_3.1_COMPLETE.md
  crackerjack/managers/publish_manager.py
  crackerjack/utils/error_handling.py
  docs/ERROR_HANDLING_STANDARD.md
Due: validate-regex-patterns, pyright

feat: Phase 3.3 SOLID analysis and progress summary
  PHASE_3.3_SOLID_ANALYSIS.md
  PHASE_3_PROGRESS_SUMMARY.md
  crackerjack/adapters/registry.py
Due: validate-regex-patterns, pyright

feat: Phase 3.3 - Status Enums quick win (2-3 hours)
  PHASE_3.3_STATUS_ENUMS_COMPLETE.md
  crackerjack/core/proactive_workflow.py
  crackerjack/models/enums.py
  crackerjack/models/health_check.py
Due: validate-regex-patterns, pyright

feat: Phase 3.3 - ConfigParser Strategy Pattern (2 hours)
  PHASE_3.3_CONFIGPARSER_COMPLETE.md
  crackerjack/services/config_parsers.py
  crackerjack/services/config_service.py
Due: validate-regex-patterns, pyright

docs: Phase 3 progress update - 65% complete
  PHASE_3_PROGRESS_UPDATE.md
Due: none

docs: Phase 3.5 code duplication analysis - Findings documented
  PHASE_3.5_CODE_DUPLICATION_SUMMARY.md
Due: none

docs: Phase 3 final status and TestManager refactoring plan
  PHASE_3_FINAL_STATUS.md
  TESTMANAGER_REFACTORING_PLAN.md
Due: none

refactor(testmanager): phase 1 - extend TestResultParser with statistics parsing
  crackerjack/managers/test_manager.py
  crackerjack/services/testing/test_result_parser.py
  crackerjack/utils/error_handling.py
Due: validate-regex-patterns, pyright

refactor(testmanager): phase 2 - extract TestResultRenderer for UI rendering
  crackerjack/managers/test_manager.py
  crackerjack/services/testing/test_result_renderer.py
Due: validate-regex-patterns, pyright

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
