Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

chore: bump version to 0.50.2
  CHANGELOG.md
  pyproject.toml
Due: none

Update config, core, deps, docs, tests
  .gitignore
  crackerjack/core/autofix_coordinator.py
  crackerjack/services/ai/embeddings.py
  docs/RUFF_CHECK_AI_FIX_BUG_FIX.md
  scripts/docs_cleanup.py
  settings/repos.yaml
  test_qwen_integration.py
  tests/adapters/test_tool_adapter_base.py
  tests/cli/test_cache_handlers.py
  tests/config/test_loader.py
  tests/core/test_console.py
  tests/core/test_container.py
  tests/core/test_retry.py
  tests/core/test_timeout_manager.py
  tests/core/test_workflow_orchestrator.py
  tests/services/test_file_io_service.py
  tests/test_edge_cases.py
  tests/test_git_cleanup.py
  tests/test_models_config_adapter_coverage.py
  tests/test_modernized_code.py
  tests/test_plugins_coverage.py
  tests/test_qa_utility_check_adapter.py
  tests/unit/core/test_resource_manager.py
  tests/unit/services/test_memory_optimizer.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.50.3
  CHANGELOG.md
  pyproject.toml
Due: none

Update config, core, deps, tests
  crackerjack/managers/publish_manager.py
  crackerjack/services/patterns/__init__.py
  crackerjack/services/patterns/operations.py
  crackerjack/services/patterns/versioning.py
  crackerjack/services/regex_patterns.py
  scripts/docs_cleanup.py
  scripts/integrate_resource_management.py
  settings/repos.yaml
  tests/adapters/test_tool_adapter_base.py
  tests/cli/test_cache_handlers.py
  tests/core/test_console.py
  tests/core/test_container.py
  tests/core/test_retry.py
  tests/core/test_timeout_manager.py
  tests/core/test_workflow_orchestrator.py
  tests/services/test_file_io_service.py
  tests/unit/managers/test_publish_manager.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.50.4
  CHANGELOG.md
  pyproject.toml
Due: none

Update core, deps, docs, tests
  crackerjack/core/autofix_coordinator.py
  crackerjack/managers/publish_manager.py
  crackerjack/services/ai/embeddings.py
  crackerjack/services/doc_categorizer.py
  crackerjack/services/documentation_cleanup.py
  crackerjack/services/patterns/operations.py
  docs/.backups/20260128-205848/backup.tar.gz
  docs/CHECK_YAML_AI_FIX_BUG_FIX.md
  scripts/docs_cleanup.py
  scripts/integrate_resource_management.py
  tests/core/test_async_workflow_orchestrator.py
  tests/core/test_file_lifecycle.py
  tests/core/test_proactive_workflow.py
  tests/core/test_safe_directory_creator_unit.py
  tests/regression/test_check_yaml_ai_fix_regression.py
  tests/services/test_cache.py
  tests/services/test_logging.py
  tests/unit/core/test_structured_data_parser.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.50.5
  CHANGELOG.md
  pyproject.toml
Due: none

Update config, core, deps, docs, tests
  crackerjack/core/autofix_coordinator.py
  crackerjack/executors/hook_executor.py
  crackerjack/managers/test_manager.py
  crackerjack/utils/issue_detection.py
  docs/CHECK_YAML_AI_FIX_BUG_FIX.md
  docs/ISSUE_COUNT_BUGFIX.md
  docs/TEST_PARSING_FIX.md
  pyproject.toml
  tests/core/autofix_coordinator_bugfix_test.py
  tests/core/test_async_workflow_orchestrator.py
  tests/core/test_file_lifecycle.py
  tests/core/test_proactive_workflow.py
  tests/core/test_safe_directory_creator_unit.py
  tests/core/test_workflow_orchestrator.py
  tests/services/patterns/core_test.py
  tests/services/test_cache.py
  tests/services/test_logging.py
  tests/unit/core/test_async_workflow_orchestrator.py
  tests/unit/core/test_file_lifecycle.py
  tests/unit/services/test_cache.py
  tests/unit/utils/test_issue_detection.py
  tests/utils/issue_detection_test.py
  uv.lock
Due: validate-regex-patterns, pyright

chore: bump version to 0.50.6
  CHANGELOG.md
  pyproject.toml
Due: none

fix: Resolve JSON parsing duplication in HookResult initialization
  JSON_OUTPUT_AUDIT.md
  JSON_PARSER_IMPLEMENTATION_COMPLETE.md
  PARSING_FIX_SUMMARY.md
  crackerjack/__main__.py
  crackerjack/config/tool_commands.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/models/task.py
  crackerjack/models/tool_config.py
  crackerjack/parsers/__init__.py
  crackerjack/parsers/base.py
  crackerjack/parsers/factory.py
  crackerjack/parsers/json_parsers.py
  crackerjack/parsers/regex_parsers.py
  crackerjack/utils/issue_detection.py
  crackerjack/utils/temp_file_cleanup.py
  docs/ISSUE_COUNT_BUGFIX.md
  docs/JSON_PARSING_ARCHITECTURE.md
  docs/JSON_PARSING_IMPLEMENTATION.md
  docs/JSON_PARSING_PERFORMANCE.md
  docs/JSON_PARSING_SUMMARY.md
  docs/TEST_PARSING_FIX.md
  tests/parsers/test_json_parsers.py
  tests/unit/core/test_structured_data_parser.py
  tests/unit/core/test_timeout_manager.py
  tests/unit/core/test_workflow_orchestrator.py
  uv.lock
Due: validate-regex-patterns, pyright

fix: Prevent JSON lines from being counted as issues
  FULL_WORKFLOW_TEST_RESULTS.md
  JSON_OUTPUT_AUDIT.md
  SESSION_CHECKPOINT_2025-01-30.md
  crackerjack/core/autofix_coordinator.py
  crackerjack/executors/hook_executor.py
  crackerjack/parsers/factory.py
  crackerjack/parsers/json_parsers.py
  crackerjack/parsers/regex_parsers.py
  crackerjack/utils/temp_file_cleanup.py
  docs/JSON_PARSING_ARCHITECTURE.md
  docs/JSON_PARSING_IMPLEMENTATION.md
  docs/JSON_PARSING_PERFORMANCE.md
Due: validate-regex-patterns, pyright

fix: Update HookResult.issues_count with actual parsed JSON issue count
  FULL_WORKFLOW_TEST_RESULTS.md
  JSON_OUTPUT_AUDIT.md
  JSON_PARSER_IMPLEMENTATION_COMPLETE.md
  PARSING_FIX_SUMMARY.md
  SESSION_CHECKPOINT_2025-01-30.md
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/parsers/factory.py
  crackerjack/parsers/json_parsers.py
  crackerjack/utils/temp_file_cleanup.py
  docs/.backups/20260130-043851/backup.tar.gz
Due: validate-regex-patterns, pyright

fix: Update JSON issue counts before display and enable unsafe fixes
  crackerjack/config/tool_commands.py
  crackerjack/core/phase_coordinator.py
  crackerjack/parsers/regex_parsers.py
Due: validate-regex-patterns, pyright

fix: Add missing parse() method to JSONParser base class
  crackerjack/core/phase_coordinator.py
  crackerjack/parsers/base.py
  crackerjack/parsers/regex_parsers.py
Due: validate-regex-patterns, pyright

Update core functionality
  crackerjack/parsers/base.py
  crackerjack/parsers/json_parsers.py
Due: validate-regex-patterns, pyright

fix(parser): Correct method signatures and zuban parser configuration
  crackerjack/config/tool_commands.py
  crackerjack/parsers/json_parsers.py
  crackerjack/parsers/regex_parsers.py
Due: validate-regex-patterns, pyright

fix(gitleaks): Correct --report flag to --report-path
  crackerjack/config/tool_commands.py
  crackerjack/parsers/json_parsers.py
Due: validate-regex-patterns, pyright

fix(parser): Resolve type checking and attribute errors
  crackerjack/__main__.py
  crackerjack/parsers/factory.py
  crackerjack/parsers/regex_parsers.py
Due: validate-regex-patterns, pyright

Update core functionality
  crackerjack/cli/options.py
  crackerjack/code_cleaner.py
  crackerjack/config/settings.py
  crackerjack/core/autofix_coordinator.py
  crackerjack/core/phase_coordinator.py
  crackerjack/models/config.py
  crackerjack/models/config_adapter.py
  crackerjack/parsers/factory.py
  crackerjack/parsers/json_parsers.py
  tests/core/autofix_coordinator_bugfix_test.py
Due: validate-regex-patterns, pyright

test(ai-fix): Add comprehensive tests for tool skipping in AI-fix
  docs/AI_FIX_ARCHITECTURAL_FIX.md
  tests/core/autofix_coordinator_bugfix_test.py
Due: validate-regex-patterns
