Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

validate-regex-patterns:
  name: validate-regex-patterns
  entry: uv run python -m crackerjack.tools.validate_regex_patterns
  language: system

pyright:
  name: pyright-type-checking
  entry: uv run pyright
  language: system
  stages:
  - pre-push
  - manual

docs(plans): Phase 4 Rev 2 amendments (9th-lens integration fixes)
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase4.md
Due: none

feat(adapters): register Web entry-point + add jinja2>=3.1.6 direct dep
  pyproject.toml
  uv.lock
Due: none

feat(adapters.web): detection guard (package.json OR [tool.crackerjack.web] opt-in)
  crackerjack/adapters/web/__init__.py
  tests/adapters/web/__init__.py
  tests/adapters/web/test_detection.py
Due: validate-regex-patterns, pyright

feat(adapters.web): 4 CLI hooks with JSON parsing, _resolve() resolver, WebHookError on missing CLI
  crackerjack/adapters/web/hooks.py
  tests/adapters/web/test_hooks.py
Due: validate-regex-patterns, pyright

feat(adapters.web): Tier 1 Jinja formatter (raw-source ops + lex validation; Tier 2 deferred)
  crackerjack/adapters/web/jinja_formatter.py
  tests/adapters/web/test_jinja_formatter.py
Due: validate-regex-patterns, pyright

feat(adapters.web): WebAdapter wires detection + 4 hooks into Capabilities
  crackerjack/adapters/web/__init__.py
  tests/adapters/web/test_web_adapter.py
Due: validate-regex-patterns, pyright

feat(mcp): check_web_lint (read-only) + format_jinja_templates (dry_run default, Web guard, symlink safe)
  crackerjack/mcp/tools/language_tools.py
  tests/adapters/test_registry.py
  tests/mcp/tools/test_language_tools.py
Due: validate-regex-patterns

test(adapters.web): web-vanilla fixture + golden-master Jinja corpus + Phase 4 CHANGELOG
  CHANGELOG.md
  pyproject.toml
  tests/adapters/web/test_jinja_formatter.py
  tests/adapters/web/test_web_vanilla_fixture.py
  tests/fixtures/jinja-templates/basic.html.j2
  tests/fixtures/jinja-templates/basic.html.j2.expected
  tests/fixtures/jinja-templates/custom_delimiters.html.j2
  tests/fixtures/jinja-templates/custom_delimiters.html.j2.expected
  tests/fixtures/jinja-templates/whitespace.html.j2
  tests/fixtures/jinja-templates/whitespace.html.j2.expected
  tests/fixtures/web-vanilla/.eslintrc.json
  tests/fixtures/web-vanilla/.stylelintrc.json
  tests/fixtures/web-vanilla/package.json
  tests/fixtures/web-vanilla/src/app.ts
  tests/fixtures/web-vanilla/src/index.html
  tests/fixtures/web-vanilla/src/style.css
  tests/fixtures/web-vanilla/templates/basic.html
  tests/fixtures/web-vanilla/templates/custom_delimiters.html
  tests/fixtures/web-vanilla/templates/whitespace.html
  tests/fixtures/web-vanilla/tsconfig.json
Due: validate-regex-patterns

test(adapters.web): use double-dash separator for npx tsc to bypass npm 12 flag-parsing
  tests/adapters/web/test_web_vanilla_fixture.py
Due: validate-regex-patterns

docs(adapters.web): clarify _delimiters_match_source is one-directional (drop 'or vice versa' claim)
  crackerjack/adapters/web/jinja_formatter.py
Due: validate-regex-patterns, pyright

docs(audit): fix 6 dead internal links (Cat I from 2026-09-09 audit)
  AGENTS.md
  CLAUDE.md
  docs/reference/BREAKING_CHANGES.md
Due: none

docs(audit): regenerate PLAN_INDEX.md (Cat K from 2026-09-09 audit)
  docs/plans/PLAN_INDEX.md
Due: none

docs(audit): repair 10+2+3 broken anchor slugs (Cat J from 2026-09-09 audit)
  crackerjack/decorators/README.md
  docs/CLI_REFERENCE.md
  docs/architecture/MEMORY_ARCHITECTURE.md
  docs/architecture/protocols.md
  docs/quality/gates.md
Due: none

docs(audit): rewrite MCP_TOOLS_SPECIFICATION.md to match profiles.py (Cat D from 2026-09-09 audit)
  docs/MCP_TOOLS_SPECIFICATION.md
Due: none

docs(audit): rewrite MAHAVISHNU_POOL_INTEGRATION.md to reflect current reality (Cat H from 2026-09-09 audit)
  docs/MAHAVISHNU_POOL_INTEGRATION.md
Due: none

docs(audit): rewrite MAHAVISHNU_POOL_QUICKSTART.md to reflect current reality (Cat H from 2026-09-09 audit)
  docs/MAHAVISHNU_POOL_QUICKSTART.md
Due: none

docs(audit): update ADR-001 port stance to match live 8696 WS (Cat G from 2026-09-09 audit)
  docs/adr/ADR-001-mcp-first-architecture.md
Due: none

docs(audit): add 3 missing CHANGELOG entries + archive reference CHANGELOG (Cat E from 2026-09-09 audit)
  CHANGELOG.md
  docs/reference/CHANGELOG.md
Due: none

docs(audit): archive 9 orphaned remediation/audit files (Cat F from 2026-09-09 audit)
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AI_FIX_INVESTIGATION.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AI_FIX_TEST_FAILURE_IMPLEMENTATION_PLAN.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AUDIT_RESULTS.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/IMPLEMENTATION_STATUS.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PERFORMANCE_OPTIMIZATION_PLAN.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROVIDER_ARCHITECTURE.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/README.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/REMEDIATION_PLAN_2026-02-05.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/WARNING_AGENT_INTEGRATION.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/WARNING_SUPPRESSION_AGENT_DESIGN.md
Due: none

docs(audit): correct CLI flag/subcommand/env drift (Cat B from 2026-09-09 audit)
  QUICKSTART.md
Due: none

docs(audit): correct CLI flag/subcommand/env drift in 4 more files (Cat B)
  README.md
  crackerjack/docs/generated/api/CLI_REFERENCE.md
  docs/CLI_REFERENCE.md
  docs/MIGRATION_GUIDE.md
Due: none

docs(audit): push Phase 4 web adapter docs into README/CLI_REFERENCE/api reference (Cat C from 2026-09-09 audit)
  README.md
  docs/CLI_REFERENCE.md
  docs/api/reference.md
Due: none

docs(audit): correct Web hooks overclaim (Cat C-followup)
  docs/CLI_REFERENCE.md
Due: none

docs(audit): restore YAML frontmatter on docs/reference/CHANGELOG.md (Cat E-followup)
  docs/reference/CHANGELOG.md
Due: none

docs(audit): track the 2026-09-09 audit report on the remediation branch
  docs/audits/2026-09-09-crackerjack-docs-audit.md
Due: none

docs(audit): extend Cat B to 4 active files + add 2 env vars to README (Cat B-followup)
  QUICKSTART.md
  README.md
  docs/MIGRATION_GUIDE.md
  docs/QUICK_START.md
  docs/reference/service-dependencies.md
Due: none

docs(audit): add frontmatter to 4 phase plans (Cat K-followup)
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase1.md
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase2.md
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase3.md
  docs/superpowers/plans/2026-09-07-crackerjack-multi-language-phase4.md
Due: none

docs(audit): populate SDD ledger with landed-task summary
  .superpowers/sdd/audit-remediation/progress.md
Due: none

docs(audit): correct MAHAVISHNU_POOL_INTEGRATION factual errors (Cat H-fix)
  docs/MAHAVISHNU_POOL_INTEGRATION.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/ADR-002-multi-agent-orchestration.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/ADR-005-agent-skill-routing.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AGENT_COORDINATION_ARCHITECTURE_ANALYSIS.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AGENT_COORDINATION_FIX_PLAN.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AGENT_TEST_COVERAGE_PLAN.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AI_FIX_BUGS.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AI_FIX_EXECUTION_TRACE.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AI_FIX_EXPECTED_BEHAVIOR.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AI_FIX_FAILURE_ANALYSIS.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AI_FIX_ISSUES_RESOLUTION.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AI_FIX_METRICS_REVIEW.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AI_FIX_REFACTOR_PLAN.md
Due: none

docs(audit): correct MAHAVISHNU_POOL_QUICKSTART factual errors (Cat H-fix)
  docs/MAHAVISHNU_POOL_QUICKSTART.md
Due: none

fix(services.pool_router): drop stale 'vulture' mapping (replaced by skylos)
  crackerjack/services/pool_router.py
Due: validate-regex-patterns, pyright

fix(services.pool_router): drop stale 'vulture' reason entry
  crackerjack/services/pool_router.py
  docs/archive/2026-08-06-ai-fix-removal-cleanup/2025-02-12-multi-agent-ai-fix-quality-system-design.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/2026-02-12-v2-multi-agent-quality-system.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/2026-07-07-ai-fix-improvement-design.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/2026-07-11-ai-fix-e501-post-processor-design.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/2026-08-06-ai-fix-removal-external-loop-design.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/2026-08-06-ai-fix-removal-extraction.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/AGENT_PERFORMANCE_TRACKING.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/BATCHPROCESSOR_TROUBLESHOOTING.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/BATCHPROCESSOR_USER_GUIDE.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/CHECKPOINT_ANALYSIS_2026-02-05.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/COMPLEXITY_REFACTORING_PLAN_GAMMA.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/COMPREHENSIVE_REMEDIATION_PLAN.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/EXECUTIVE-SUMMARY.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROTOCOL_DOCUMENTATION_REVIEW.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROTOCOL_EXAMPLES.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROTOCOL_QUICK_REFERENCE.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/PROTOCOL_REFERENCE_GUIDE.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/QWEN_PROVIDER.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/README_AUDIT_REPORT.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/SKILL_SYSTEM.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/STRUCTURED_LOGGING.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/TEST_IMPLEMENTATION_PLAN.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/complexipy_adapter_fix.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/layer-6-agent-system.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/swarm-autofix-integration.md
  docs/archive/2026-08-06-ai-fix-removal-cleanup/test-coverage.md
Due: validate-regex-patterns, pyright

docs(audit): refresh archive count to 47 files (Cat F-followup from 2026-09-09 audit)
  docs/archive/2026-08-06-ai-fix-removal-cleanup/README.md
Due: none

docs(audit): patch 4 in-place files for deleted AI-fix surface (Cat F-followup)
  crackerjack/adapters/ai/README.md
  crackerjack/models/README.md
  docs/architecture/MEMORY_ARCHITECTURE.md
  docs/development/STRUCTURED_LOGGING.md
Due: none

docs(audit): correct 8 MCP spec drifts, AI config path, CHANGELOG frontmatter+dedup (Batch M from 2026-09-09 audit)
  CHANGELOG.md
  crackerjack/adapters/ai/README.md
  crackerjack/mcp/tools/otel_tools.py
  docs/MCP_TOOLS_SPECIFICATION.md
Due: validate-regex-patterns

docs(audit): fix tool/CLI references in pool+cli+quickstart docs (Batch P from 2026-09-09 audit)
  QUICKSTART.md
  docs/CLI_REFERENCE.md
  docs/MAHAVISHNU_POOL_INTEGRATION.md
  docs/MAHAVISHNU_POOL_QUICKSTART.md
  docs/MIGRATION_GUIDE.md
  docs/api/reference.md
Due: none

docs(schemas): add 'archived' lifecycle value (Ruling 11)
  docs/schemas/document-frontmatter-v1.md
Due: none

docs(audit): flip docs/guides/{AGENTS,CLAUDE}.md to real files; root becomes symlinks (Ruling 12)
  AGENTS.md
  CLAUDE.md
  docs/guides/AGENTS.md
  docs/guides/CLAUDE.md
Due: none

docs(archive): fix scope claim, removal date, full file enumeration, PROVIDER_ARCHITECTURE path (Batch A from 2026-09-09 audit)
  docs/archive/2026-08-06-ai-fix-removal-cleanup/README.md
Due: none

Path conditions:
  validate-regex-patterns: any of: \.py$, but not: ^\.venv/
  pyright: any of: ^crackerjack/.*\.py$, but not: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
