Repository lesleslie/crackerjack: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-regex-patterns, pyright

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: validate-regex-patterns
        name: validate-regex-patterns
        entry: uv run python -m crackerjack.tools.validate_regex_patterns
        language: system
        files: \.py$
        exclude: ^\.venv/
      - id: skylos
        name: skylos-dead-code-detection
        entry: skylos
        language: system
        args: ["crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: zuban
        name: zuban-type-checking
        entry: uv run zuban check
        language: system
        args: ["--config-file", "mypy.ini", "./crackerjack"]
        pass_filenames: false
        stages: ["pre-push", "manual"]
      - id: pyright
        name: pyright-type-checking
        entry: uv run pyright
        language: system
        files: ^crackerjack/.*\.py$
        exclude: ^crackerjack/(mcp|plugins)/.*\.py$|crackerjack/code_cleaner\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        exclude: ^\.venv/
      - id: end-of-file-fixer
        name: end-of-file-fixer
        exclude: ^\.venv/
      - id: check-yaml
        name: check-yaml
        exclude: ^\.venv/
      - id: check-toml
        name: check-toml
        exclude: ^\.venv/
      - id: check-added-large-files
        name: check-added-large-files
        exclude: ^\.venv/
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.15
    hooks:
      - id: uv-lock
        files: ^ pyproject\.toml$
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        exclude: uv\.lock|pyproject\.toml|tests/.*|docs/.*|.*\.md
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: ["-c", "pyproject.toml", "-r", "-ll"]
        files: ^crackerjack/.*\.py$
        stages: ["pre-push", "manual"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^\.venv/
        additional_dependencies: ["tomli"]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        exclude: ^\.venv/
      - id: ruff-format
        exclude: ^\.venv/
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        exclude: ^\.venv/
        additional_dependencies: ["mdformat-ruff"]
  - repo: https://github.com/fredrikaverpil/creosote
    rev: v4.1.0
    hooks:
      - id: creosote
        exclude: ^\.venv/
        stages: ["pre-push", "manual"]
  - repo: https://github.com/rohaquinlop/complexipy-pre-commit
    rev: v3.3.0
    hooks:
      - id: complexipy
        args: ["-d", "low", "--max-complexity-allowed", "15"]
        files: ^crackerjack/.*\.py$
        exclude: ^(\.venv/|tests/)
        stages: ["pre-push", "manual"]
  - repo: https://github.com/dosisod/refurb
    rev: v2.1.0
    hooks:
      - id: refurb
        args: ["--ignore", "FURB184", "--ignore", "FURB120"]
        files: ^crackerjack/.*\.py$
        exclude: ^tests/.*\.py$
        stages: ["pre-push", "manual"]

docs(config): update CHANGELOG, pyproject
  CHANGELOG.md
  pyproject.toml
Due: none

docs(crackerjack): update 4 files
  CHANGELOG.md
  crackerjack/CLAUDE.md
  pyproject.toml
  uv.lock
Due: none

test(crackerjack): update 4 files
  CHANGELOG.md
  crackerjack/services/coverage_badge_service.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 76/100) - 2025-09-18 16:54:43
  crackerjack/core/workflow_orchestrator.py
  crackerjack/orchestration/coverage_improvement.py
  uv.lock
Due: validate-regex-patterns, pyright

docs(config): update CHANGELOG, pyproject, uv
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

test(crackerjack): update CHANGELOG, test_command_builder, pyproject
  CHANGELOG.md
  crackerjack/managers/test_command_builder.py
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 76/100) - 2025-09-18 18:57:37
  uv.lock
Due: none

Fix pre-commit hook issues and type checking errors
  crackerjack/__main__.py
  crackerjack/interactive.py
  crackerjack/managers/test_command_builder.py
  crackerjack/managers/test_manager.py
  crackerjack/monitoring/ai_agent_watchdog.py
  crackerjack/orchestration/advanced_orchestrator.py
  mypy.ini
  pyproject.toml
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 76/100) - 2025-09-19 01:12:30
  crackerjack/managers/test_command_builder.py
  crackerjack/managers/test_manager.py
  crackerjack/services/git.py
  tests/test___main__.py
  tests/test_architect_agent.py
  tests/test_base.py
  tests/test_code_cleaner.py
  tests/test_coordinator.py
  tests/test_documentation_agent.py
  tests/test_dry_agent.py
  tests/test_formatting_agent.py
  tests/test_import_optimization_agent.py
  tests/test_lsp_client.py
  tests/test_performance_agent.py
  tests/test_performance_helpers.py
  tests/test_proactive_agent.py
  tests/test_rust_tool_adapter.py
  tests/test_rust_tool_manager.py
  tests/test_skylos_adapter.py
  tests/test_zuban_adapter.py
Due: validate-regex-patterns, pyright

test(test): update 10 files
  .coverage-ratchet.json
  CHANGELOG.md
  README.md
  crackerjack/managers/test_manager.py
  pyproject.toml
  tests/test_code_cleaner.py
  tests/test_dual_output_generator.py
  tests/test_import_optimization_agent.py
  tests/test_reference_generator.py
  tests/test_server_panels.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 76/100) - 2025-09-19 06:14:42
  uv.lock
Due: none

checkpoint: crackerjack (quality: 76/100) - 2025-09-19 15:39:37
  crackerjack/__main__.py
  tests/test_refactoring_agent.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 76/100) - 2025-09-19 20:44:35
  uv.lock
Due: none

checkpoint: crackerjack (quality: 73/100) - 2025-09-21 21:43:13
  .gitignore
  CLAUDE.md
  COMPREHENSIVE_ENHANCEMENT_SUMMARY.md
  ENHANCEMENT_INITIATIVE_COMPLETION_REPORT.md
  FINAL_ENHANCEMENT_SUMMARY.md
  GITLEAKS_MIGRATION_SUMMARY.md
  SECURITY_TOOL_MIGRATION_SUMMARY.md
  crackerjack/executors/cached_hook_executor.py
  crackerjack/orchestration/execution_strategies.py
  crackerjack/py313.py
  crackerjack/services/cache.py
  docs/FUTURE-ENHANCEMENTS.md
  docs/systems/CACHING_SYSTEM.md
  excalidraw.log
  pyproject.toml
  tests/test_api.py
  tests/test_api_comprehensive.py
  tests/test_async_hook_executor_comprehensive.py
  tests/test_code_cleaner_comprehensive.py
  tests/test_hook_executor_comprehensive.py
  tests/test_hook_manager_comprehensive.py
  tests/test_session_coordinator_comprehensive.py
  tests/test_workflow_pipeline.py
  uv.lock
Due: validate-regex-patterns, pyright

test(test): update 10 files
  CHANGELOG.md
  COMPREHENSIVE_ENHANCEMENT_SUMMARY.md
  ENHANCEMENT_INITIATIVE_COMPLETION_REPORT.md
  FINAL_ENHANCEMENT_SUMMARY.md
  GITLEAKS_MIGRATION_SUMMARY.md
  SECURITY_TOOL_MIGRATION_SUMMARY.md
  crackerjack/py313.py
  pyproject.toml
  tests/test_async_hook_executor_comprehensive.py
  tests/test_py313.py
Due: validate-regex-patterns, pyright

test(test): update 12 files
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  crackerjack/dynamic_config.py
  crackerjack/services/config_template.py
  pyproject.toml
  tests/test_ai_templates.py
  tests/test_api.py
  tests/test_mkdocs_integration.py
  tests/test_py313.py
  tests/test_reference_generator.py
  uv.lock
Due: validate-regex-patterns, pyright

Prevent pre-commit configuration during initialization and ensure -s option skips hooks
  crackerjack/services/initialization.py
Due: validate-regex-patterns, pyright

Prevent pre-commit configuration during initialization and ensure -s option skips hooks
  PRECOMMIT_HANDLING_SUMMARY.md
  tests/test_initialization_precommit_integration.py
  tests/test_initialization_service.py
  tests/test_skip_hooks_functionality.py
Due: validate-regex-patterns

feat(test): update 24 files
  .coverage-ratchet.json
  CHANGELOG.md
  COMPREHENSIVE_ENHANCEMENT_SUMMARY.md
  ENHANCEMENT_INITIATIVE_COMPLETION_REPORT.md
  FINAL_ENHANCEMENT_SUMMARY.md
  GITLEAKS_MIGRATION_SUMMARY.md
  README.md
  SECURITY_TOOL_MIGRATION_SUMMARY.md
  crackerjack/services/status_authentication.py
  docs/precommit-handling/CLEANUP_SUMMARY.md
  docs/precommit-handling/CRACKERJACK_PRECOMMIT_HANDLING_IMPLEMENTATION_SUMMARY.md
  docs/precommit-handling/FINAL_PRECOMMIT_HANDLING_VERIFICATION.md
  docs/precommit-handling/PRECOMMIT_HANDLING_SUMMARY.md
  docs/precommit-handling/README.md
  pyproject.toml
  tests/test_ai_templates.py
  tests/test_anomaly_detector_service.py
  tests/test_initialization_precommit_integration.py
  tests/test_initialization_service.py
  tests/test_skip_hooks_functionality.py
  tests/test_skip_hooks_simple.py
  tests/test_validate_regex_patterns.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 73/100) - 2025-09-25 03:49:18
  .coverage-ratchet.json
  CLAUDE.md
  README.md
  crackerjack/__main__.py
  crackerjack/agents/__init__.py
  crackerjack/agents/base.py
  crackerjack/agents/coordinator.py
  crackerjack/agents/dry_agent.py
  crackerjack/agents/performance_agent.py
  crackerjack/agents/refactoring_agent.py
  crackerjack/agents/semantic_agent.py
  crackerjack/agents/semantic_helpers.py
  crackerjack/cli/options.py
  crackerjack/cli/semantic_handlers.py
  crackerjack/core/async_workflow_orchestrator.py
  crackerjack/core/proactive_workflow.py
  crackerjack/documentation/ai_templates.py
  crackerjack/example.mcp.json
  crackerjack/mcp/server_core.py
  crackerjack/mcp/tools/__init__.py
  crackerjack/mcp/tools/semantic_tools.py
  crackerjack/models/semantic_models.py
  crackerjack/plugins/loader.py
  crackerjack/py313.py
  crackerjack/services/embeddings.py
  crackerjack/services/vector_store.py
  crackerjack/slash_commands/run.md
  docs/PYTORCH-COMPATIBILITY-FIX.md
  docs/SEMANTIC-SEARCH-IMPLEMENTATION.md
  pyproject.toml
  tests/test_ai_templates.py
  tests/test_service_watchdog.py
  tests/test_timeout_manager.py
  tests/test_validate_input_validator_patterns.py
  uv.lock
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 73/100) - 2025-09-25 07:28:02
  crackerjack/__main__.py
  crackerjack/agents/claude_code_bridge.py
  crackerjack/agents/coordinator.py
  crackerjack/agents/semantic_agent.py
  crackerjack/agents/semantic_helpers.py
  crackerjack/cli/semantic_handlers.py
  crackerjack/core/enhanced_container.py
  crackerjack/core/phase_coordinator.py
  crackerjack/interactive.py
  crackerjack/mcp/tools/semantic_tools.py
  crackerjack/models/semantic_models.py
  crackerjack/py313.py
  crackerjack/services/embeddings.py
  crackerjack/services/vector_store.py
  docs/PYTORCH-COMPATIBILITY-FIX.md
  docs/SEMANTIC-SEARCH-IMPLEMENTATION.md
  pyproject.toml
  tests/test_service_watchdog.py
  tests/test_timeout_manager.py
  tests/test_validate_input_validator_patterns.py
  type-error-fix-implementation.md
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 73/100) - 2025-09-25 07:43:25
  .coverage-ratchet.json
  crackerjack/agents/claude_code_bridge.py
  crackerjack/agents/enhanced_coordinator.py
  crackerjack/agents/enhanced_proactive_agent.py
  crackerjack/core/async_workflow_orchestrator.py
  crackerjack/core/workflow_orchestrator.py
  tests/test___main__.py
  tests/test_timeout_manager.py
  type-error-fix-implementation.md
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 73/100) - 2025-09-25 07:55:55
  .coverage-ratchet.json
  crackerjack/agents/claude_code_bridge.py
  crackerjack/agents/enhanced_coordinator.py
  crackerjack/agents/enhanced_proactive_agent.py
  crackerjack/services/smart_scheduling.py
  tests/test___main__.py
  tests/test_timeout_manager.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 73/100) - 2025-09-25 08:27:08
  tests/test_timeout_manager.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 73/100) - 2025-09-25 11:31:40
  crackerjack/agents/claude_code_bridge.py
  crackerjack/agents/enhanced_proactive_agent.py
  tests/test_timeout_manager.py
  type-error-fix-implementation.md
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 73/100) - 2025-09-26 13:55:31
  CHANGELOG.md
  crackerjack/mcp/tools/semantic_tools.py
  crackerjack/services/embeddings.py
  crackerjack/services/quality_intelligence.py
  crackerjack/services/vector_store.py
  tests/test_architect_agent.py
  tests/test_base.py
  tests/test_claude_code_bridge.py
  tests/test_coordinator.py
  tests/test_documentation_agent (1).py
  tests/test_documentation_agent.py
  tests/test_dry_agent.py
  tests/test_enhanced_coordinator.py
  tests/test_enhanced_proactive_agent.py
  tests/test_formatting_agent.py
  tests/test_import_optimization_agent.py
  tests/test_lsp_client.py
  tests/test_performance_agent (1).py
  tests/test_rust_tool_adapter.py
  tests/test_rust_tool_manager.py
  tests/test_skylos_adapter.py
  tests/test_timeout_manager.py
  tests/test_websocket_lifecycle.py
  tests/test_workflow_orchestrator.py
  tests/test_zuban_adapter.py
Due: validate-regex-patterns, pyright

checkpoint: crackerjack (quality: 73/100) - 2025-09-28 08:40:14
  .coverage-ratchet.json
  CHANGELOG.md
  README.md
  tests/test_architect_agent.py
  tests/test_async_workflow_orchestrator.py
  tests/test_base.py
  tests/test_claude_code_bridge.py
  tests/test_coordinator.py
  tests/test_documentation_agent.py
  tests/test_dry_agent.py
  tests/test_enhanced_coordinator.py
  tests/test_enhanced_proactive_agent.py
  tests/test_formatting_agent.py
  tests/test_import_optimization_agent.py
  tests/test_lsp_client.py
  tests/test_proactive_workflow.py
  tests/test_rust_tool_adapter.py
  tests/test_rust_tool_manager.py
  tests/test_skylos_adapter.py
  tests/test_websocket_lifecycle.py
  tests/test_zuban_adapter.py
Due: validate-regex-patterns

test(tests): update 6 files
  CHANGELOG.md
  pyproject.toml
  tests/test_async_workflow_orchestrator.py
  tests/test_performance_monitor.py
  tests/test_proactive_workflow.py
  uv.lock
Due: validate-regex-patterns

test(tests): update 5 files
  CHANGELOG.md
  pyproject.toml
  tests/test_async_workflow_orchestrator.py
  tests/test_performance_monitor.py
  uv.lock
Due: validate-regex-patterns

test(tests): update 7 files
  .gitignore
  AGENTS.md
  CHANGELOG.md
  GEMINI.md
  pyproject.toml
  tests/test_performance_monitor.py
  uv.lock
Due: validate-regex-patterns

test(test): update 12 files
  CHANGELOG.md
  crackerjack/CLAUDE.md
  crackerjack/example.mcp.json
  crackerjack/hooks/lsp_hook.py
  crackerjack/mcp/client_runner.py
  crackerjack/models/semantic_models.py
  crackerjack/pyproject.toml
  crackerjack/uv.lock
  pyproject.toml
  tests/test_performance_monitor.py
  tests/test_resource_manager.py
  uv.lock
Due: validate-regex-patterns, pyright

test(test): update 6 files
  .pre-commit-config.yaml
  CHANGELOG.md
  crackerjack/dynamic_config.py
  pyproject.toml
  tests/test_resource_manager.py
  uv.lock
Due: validate-regex-patterns, pyright

test(tests): update 4 files
  CHANGELOG.md
  pyproject.toml
  tests/test_resource_manager.py
  uv.lock
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 64/100) - 2025-10-02 13:40:49
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  README.md
  crackerjack/mcp/tools/execution_tools.py
  crackerjack/mcp/tools/workflow_executor.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 64/100) - 2025-10-02 20:06:38
  uv.lock
Due: none

checkpoint: crackerjack (quality: 64/100) - 2025-10-02 20:47:06
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  GEMINI.md
  README.md
  crackerjack/mcp/tools/execution_tools.py
  docs/crackerjack-run-implementation-plan.md
  docs/crackerjack-run-workflow-audit.md
  docs/phase-1-completion-summary.md
  tests/test_resource_manager.py
Due: validate-regex-patterns

checkpoint: crackerjack (quality: 64/100) - 2025-10-02 20:54:53
  docs/crackerjack-run-implementation-plan.md
  docs/phase-2-completion-summary.md
Due: none

checkpoint: crackerjack (quality: 64/100) - 2025-10-02 21:20:59
  docs/crackerjack-run-implementation-plan.md
  docs/phase-3-completion-summary.md
  docs/phase-4-completion-summary.md
Due: none
